
<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>

   <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="10" class="p-3">
         <button mat-icon-button color="primary" (click)="clear()" 
            matTooltip="{{'COMMON.ADD' | translate}}" class="remove">
            <mat-icon color="primary" class="mat-icon-xlg">add_circle</mat-icon>
         </button>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
         <div class="text-center mt-2">
         <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
            <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
            <mat-icon>save</mat-icon>
         </button> </div>
         <div class="text-center mt-2" *ngIf="messages">
         <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
         </div>
      </div>
   </div>
   <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="75" fxFlex.xl="50" class="p-9">
         <p class="mb-0"><span class="uppercase fw-500">Image</span><span
               class="text-muted mx-3">(max: 1 image)</span></p>
         <input-file [(ngModel)]="optionValue.imageFiles" name="image"
          #image="ngModel" fileLimit="1" fileAccept="image/*"
            [linkEnabled]="false" multiple>
         </input-file>
      </div> 
   
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
         <mat-form-field appearance="outline" class="w-30">
            <mat-label> {{'COMMON.SORT_ORDER' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="sortOrder"
             [(ngModel)]="optionValue.sortOrder" name="sortOrder" #sortOrder="ngModel"  required>
         </mat-form-field>
      </div>
   </div>
   <div fxLayout="row">
      <div fxFlex="25" *ngFor="let lang of appService.appInfoStorage.languages; let i = index">
         <mat-form-field appearance="outline" class="w-100" >
            <mat-label> {{'COMMON.NAME' | translate}} - {{lang.name}}</mat-label>
            <input matInput type="text" class="form-control" id="name{{i}}" [(ngModel)]="optionValue.optionValueDescriptions[i].name" 
               name="name{{i}}" required>
         </mat-form-field>
         <div fxFlex="5"></div>
      </div>
   </div>
</form>
   <!-- <mat-tab label="{{'COMMON.GENERAL' | translate}}">
      <mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="onLangChanged($event)">
         <mat-tab id="{{lang.id}}" label="{{lang.name}}" *ngFor="let lang of appService.appInfoStorage.languages">

         </mat-tab>
      </mat-tab-group>


      <form name="form" (ngSubmit)="f.form.valid && saveOptionValueDescription()" #f1="ngForm" validate>
         <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <div class="text-center mt-2">
               <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
                  <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
                  <mat-icon>save</mat-icon>
               </button> </div>
               <div class="text-center mt-2" *ngIf="messages">
               <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
               </div>
            </div>
         </div>
         <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.NAME' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="name" [(ngModel)]="optionValueDescription.name" name="name"
                     #name="ngModel" required>
                  <mat-error *ngIf="f.submitted && name.invalid" severity="error">
                     {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
                  </mat-error>
               </mat-form-field>
            </div>
         </div>

      </form>
   </mat-tab> -->