<div fxLayout="row wrap">
  <div class="text-left mt-2" fxFlex.gt-sm="75" *ngIf="messages">
    <p><a mat-button color="primary" class="w-100">{{messages}}</a></p>
  </div>
  <div class="text-left mt-2" fxFlex.gt-sm="75" *ngIf="errors">
    <p><a mat-button color="accent" class="w-100">{{errors}}</a></p>
  </div>
  <br />
</div>
<div class="table-wrapper">

  <table mat-table [dataSource]="productToParentDatasource" matSort class="w-100">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let productToParent"> {{productToParent.id}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th style="width: 30% !important;" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'COMMON.CATEGORY' | translate}} </th>
      <td style="width: 30% !important;" mat-cell *matCellDef="let productToParent">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'COMMON.SELECT_ONE' | translate }}</mat-label>
          <input type="text" placeholder="" aria-label="Number" name="categoryOption" matInput
            [(ngModel)]="productToParent.categoryDescription.name" [matAutocomplete]="auto1"
            (ngModelChange)="filterCategoryOptions(productToParent)">
          <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            <mat-autocomplete id="category" #auto1="matAutocomplete">
            <mat-option *ngFor="let option of productToParent.filteredCategoryOptions"
              (onSelectionChange)="categorySelected(productToParent, option)" [value]="option.name">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </td>
    </ng-container>

    <ng-container matColumnDef="parent">
      <th style="width: 30% !important;" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'COMMON.SUB_PRODUCT' | translate}} </th>
      <td style="width: 30% !important;" mat-cell *matCellDef="let productToParent">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'COMMON.SELECT_ONE' | translate }}</mat-label>
          <input type="text" placeholder="" aria-label="Number" name="parentProductOption" matInput
            [(ngModel)]="productToParent.parentProductDescription.name" [matAutocomplete]="auto"
            (ngModelChange)="filterParentOptions(productToParent)">
          <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            <mat-autocomplete id="parent" #auto="matAutocomplete">
            <mat-option *ngFor="let option of productToParent.filteredParentOptions"
              (onSelectionChange)="parentProductSelected(productToParent, option)" [value]="option.name">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>


        </mat-form-field>

      </td>
    </ng-container>


    <ng-container matColumnDef="quantity">
      <th mat-header-cell width="10%" *matHeaderCellDef mat-sort-header> {{'COMMON.QUANTITY' | translate}} </th>
      <td mat-cell *matCellDef="let productToParent">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'COMMON.QUANTITY' | translate}}</mat-label>
          <input matInput type="text" id="quantity" [(ngModel)]="productToParent.quantity" name="quantity" #quantity="ngModel">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions
        <a (click)="addNewProductToParent()" mat-icon-button color="primary" matTooltip="{{'COMMON.ADD' | translate}}">
          <mat-icon color="primary" class="mat-icon-xlg">add_circle</mat-icon>
        </a>
      </th>
      <td mat-cell *matCellDef="let productToParent">
        <a (click)="saveProductToParent(productToParent)" mat-icon-button color="primary"
          matTooltip="{{'COMMON.ADD' | translate}}">
          <mat-icon>save</mat-icon>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-icon-button color="warn" (click)="deleteProductToParent(productToParent)"
          matTooltip="{{'COMMON.DELETE' | translate}}" class="remove">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let productToParent; columns: displayedColumns;">
    </tr>
  </table>
  <p *ngIf="productToParentDatasource?.data.length === 0" class="py-5 mb-0 text-center">
    {{'MESSAGE.NO_DATA' | translate}}</p>
</div>
<mat-paginator *ngIf="productToParentDatasource?.data.length > 0" [pageSizeOptions]="[5, 10, 25, 100]"
  showFirstLastButtons></mat-paginator>