<div fxLayout="row wrap" class="col-gap position-relative" *ngIf="detailData">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="45" fxFlex.lg="45" fxFlex.xl="45">
    <div fxLayout="row wrap">
      <div fxFlex.xs="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15">
        <div class="product-detail-image-gallery pr-4">
          <mat-grid-list cols="1" rowHeight="1:1" gutterSize="20px">
            <mat-grid-tile *ngFor="let img of detailData?.product.fileNames; let i=index">
              <div class="product-image-gallery-item">
                <a id="{{i}}_img" class="p-link" [ngClass]="{ 'border-active': i === 0 }" href="javascript:void(0)"
                  (mouseenter)="getImagePath('assets/images/products/'+detailData.product.id+'/'+img, i)">
                  <img [src]="'assets/images/products/'+detailData.product.id+'/'+img" alt="">
                </a>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
      <div fxFlex.xs="85" fxFlex.sm="85" fxFlex.md="85" fxFlex.lg="85" fxFlex.xl="85" class="relative"
        *ngIf="mainImgPath">
        <embryo-ImgZoom [imgSrc]="mainImgPath" imgStyle="width:auto; height:auto;"
          resultStyle="background-repeat: no-repeat; z-index: 2; position:absolute;
                                   -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;" lensStyle="width:100px; height:100px" containerStyle="">
        </embryo-ImgZoom>
      </div>
    </div>
  </div>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
    <div fxLayout="row wrap">
      <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
        <div class="product-detail-content">
          <h3>{{detailData?.name}}</h3>
          <div fxLayoutAlign="start center" class="mb-3">
            <div class="rating-star">
              <span class="nav-item" [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="hover"
                #popoverTrigger="mdePopoverTrigger">
                <a class="nav-link">
                  <embryo-Rating [rate]="detailData.product.rating"></embryo-Rating>
                </a>
              </span>

              <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
                <mat-card style="width: 500px">
                  <mat-card-content>
                    <h3>{{detailData.product.rating}} out of 5</h3>
                    <div fxLayout="row wrap">5 star &nbsp; <mat-progress-bar style="width: 80%" mode="determinate"
                        [value]="detailData.product.ratingCountMaps[5]"></mat-progress-bar>&nbsp;
                      {{detailData.product.ratingCountMaps[5]}}%</div><br />
                    <div fxLayout="row wrap">4 star &nbsp; <mat-progress-bar style="width: 80%" mode="determinate"
                        [value]="detailData.product.ratingCountMaps[4]"></mat-progress-bar>&nbsp;
                      {{detailData.product.ratingCountMaps[4]}}%</div><br />
                    <div fxLayout="row wrap">3 star &nbsp; <mat-progress-bar style="width: 80%" mode="determinate"
                        [value]="detailData.product.ratingCountMaps[3]"></mat-progress-bar>&nbsp;
                      {{detailData.product.ratingCountMaps[3]}}%</div><br />
                    <div fxLayout="row wrap">2 star &nbsp; <mat-progress-bar style="width: 80%" mode="determinate"
                        [value]="detailData.product.ratingCountMaps[2]"></mat-progress-bar>&nbsp;
                      {{detailData.product.ratingCountMaps[2]}}%</div><br />
                    <div fxLayout="row wrap">1 star &nbsp; <mat-progress-bar style="width: 80%" mode="determinate"
                        [value]="detailData.product.ratingCountMaps[1]"></mat-progress-bar>&nbsp;
                      {{detailData.product.ratingCountMaps[1]}}%</div><br />
                  </mat-card-content>
                </mat-card>
              </mde-popover>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div>
              <a [routerLink]="['/products/dtl/'+detailData.product?.id+(detailData.product?.ptsId?'/'+detailData.product?.ptsId:'')]"
               fragment="reviews" class="a-link-normal">
                {{detailData.product.reviews.length}} {{'COMMON.REVIEW'|translate}}{{detailData.product.reviews.length > 1 ? 's' : ''}}
              </a>
            </div>
          </div>
          <div class="product-detail-price">
            <h4 class="accent-color">{{detailData.product.price | currency:currency}} </h4>
          </div>
          <ul class="no-style mb-4">
            <li>
              <span class="font-medium"> {{'COMMON.AVAILABILITY'|translate}} </span>:
              <span style="color: green;font-weight: bold;"
                *ngIf="detailData.product.quantity > 0">{{'COMMON.IN_STOCK'|translate}}</span>
              <span style="color: red;font-weight: bold;"
                *ngIf="!(detailData.product.quantity > 0)">{{'COMMON.OUT_OF_STOCK'|translate}}</span>
            </li>
          </ul>
          <div class="short-des" [innerHTML]="detailData?.description | safehtml"></div>
          <div *ngFor="let mapEntry of detailData?.product.optionValueDescriptionMaps | keyvalue">
            <label style="font-weight: bold;">{{mapEntry.key}}: </label>
            <div fxLayout="row wrap">
              <div *ngFor="let optionValueDescription of mapEntry.value">
                <div fxLayout="row wrap">
                  <div style="border: 1px solid #808080; min-width: 108px; max-width: 1px; min-height: 60px">
                    {{optionValueDescription.name}}
                  </div>
                  <span style="width:10px;"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4" *ngIf="fromPage==='buy'">
            <a href="javascript:void(0)" class="text-underline" (click)="addToWishlist(detailData)"> Add To Wishlist</a>
          </div>
          <div class="mb-4" *ngIf="fromPage==='buy'">
            <a href="javascript:void(0)" class="text-underline" (click)="addToWishlist(detailData)"> Add To Wishlist</a>
          </div>
          <div class="mb-5 detail-btns" *ngIf="fromPage==='buy'">
            <button mat-raised-button color="accent" class="button-lg mr-3" (click)="addToCart(detailData)">Add To
              Cart</button>
            <button class="button-lg" mat-raised-button (click)="buyNow(detailData)">Buy Now</button>
          </div>
          <div class="mb-5 detail-btns" *ngIf="fromPage==='sell'">
            <button mat-fab (click)="selectForSaleProduct(detailData)"><i class="material-icons"> check_box
              </i></button>
          </div>
          <div class="mb-5 detail-btns" *ngIf="fromPage==='sellP'">
            <button mat-raised-button color="accent" class="button-lg mr-3"
              (click)="submitProductForSale(detailData)">{{'COMMON.SELL_PRODUCT'|translate}}</button>
          </div>
          <div fxLayoutAlign="start center" *ngIf="fromPage==='buy'">
            <div class="mr-3"> <span>Share Now</span></div>
            <div class="detail-product-share">
              <embryo-SocialShare></embryo-SocialShare>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" style="font-size:12px;">
        <mat-card>
          <div   class="product-detail-price col-gap" *ngIf="detailData.product.quantity > 0">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <h6 class="accent-color">{{totalPrice | currency:currency}} </h6>
            </div>
          </div>

          <div class="col-gap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <span class="font-medium"> {{'COMMON.AVAILABILITY'|translate}} </span>:
              <span style="color: green;font-weight: bold;"
                *ngIf="detailData.product.quantity > 0">{{'COMMON.IN_STOCK'|translate}}</span>
              <span style="color: red;font-weight: bold;"
                *ngIf="!(detailData.product.quantity > 0)">{{'COMMON.OUT_OF_STOCK'|translate}}</span>
            </div>
          </div>

          <div class="col-gap" *ngIf="detailData.product.quantity > 0">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <mat-select *ngIf="detailData.product.quantity > 0" [(value)]="qty" placeholder="1"
                (selectionChange)="calculatePrice(detailData, $event.value)">
                <ng-container
                  *ngFor="let quantity of [].constructor(detailData.product.quantity>30?30:detailData.product.quantity); let i = index;">
                  <mat-option value="{{i + 1}}">{{i + 1}}</mat-option>
                </ng-container>
              </mat-select>
            </div>
          </div>

          <div class="col-gap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <p class="mb-0" style="font-style:italic;">{{'COMMON.SOLD_BY'|translate}}: <br /> <a
                  [routerLink]="['/products']" [queryParams]="{storeId:detailData.product.storeId}"
                  routerLinkActive="tab-active">
                  {{detailData.product.storeName}}</a></p>
            </div>
          </div>

          <div class="col-gap" *ngIf="detailData.product.quantity > 0">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <button mat-raised-button color="accent" class="w-100" (click)="addToCart(detailData)">
                <mat-icon>add_shopping_cart</mat-icon>
                {{'COMMON.ADD_TO_CART'|translate}}
              </button>
            </div>
          </div>

          <div  class="col-gap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <button mat-raised-button color="secondary" class="w-100" (click)="addToWishlist(detailData)">
                <mat-icon>favorite</mat-icon>
                {{'COMMON.ADD_FAVORITE'|translate}}
              </button>
            </div>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>