<div fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <h1 style="color: #283593;">{{'COMMON.OPEN_ORDERS' | translate}} </h1>
    </div>
  </div>
  <mat-card>
    <div class="text-center mt-2" *ngIf="messages">
      <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="67" fxFlex.lg="67" fxFlex.xl="67">
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
            *ngFor="let order of orders">
            <div class="tile tile-primary">
              <div class="tile-heading">
                <div fxLayout="row wrap" class="col-gap">
                  <div fxFlex.xs="100" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                    {{'COMMON.ORDER_PLACED'|translate}} <br />
                    {{order.createDate | date: 'mediumDate'}}
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                    TOTAL<br />
                    {{order.symbolLeft}}
                    {{ order.total  | number:'1.0-2'}}
                    {{order.symbolRight}}
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                    {{'COMMON.SHIP_TO'|translate}}<br />
                    {{order.cFirstName +' '+ order.cLastName}}
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                    {{'COMMON.ORDER_ID'|translate}}:
                    <br />
                    {{ order.orderId   | number: '3.0'}}<br />
                  </div>
                </div>

              </div>
              <div class="tile-body">
                <div fxLayout="row wrap" class="col-gap">
                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
                    <div fxLayout="row wrap" class="col-gap" *ngFor="let orderProduct of order.orderProducts">
                      <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15"
                        style="text-align: center!important;">

                        <a class="p-link" *ngIf="orderProduct.product.image"
                          [routerLink]="['/products/dtl/'+orderProduct.product.id+ '/'+orderProduct.ptsId]">
                          <img [style.width.px]="40" mat-card-image
                            [src]="'assets/images/products/'+orderProduct.product.id+'/'+orderProduct.product.image"
                            alt="Photo">
                        </a>
                      </div>
                      <div fxFlex.xs="100" fxFlex.sm="85" fxFlex.md="85" fxFlex.lg="85" fxFlex.xl="85">
                        <a class="p-link"
                          [routerLink]="['/products/dtl/'+orderProduct.product.id+ '/'+orderProduct.ptsId]">
                          {{orderProduct.name}} </a><br />
                        <h6 class="accent-color">
                          {{'COMMON.PRICE'|translate}}:
                          {{order.symbolLeft}}
                          {{ orderProduct.total  | number:'1.0-2'}}
                          {{order.symbolRight}} | {{'COMMON.QTY'|translate}}: {{orderProduct.quantity}}</h6>
                        <font style="font-style: italic;">
                          {{'COMMON.SOLD_BY'|translate}}
                          <a [routerLink]="['/products']" [queryParams]="{storeId:order.storeId}"
                            routerLinkActive="tab-active"> {{order.storeName}}</a>
                        </font>
                        <br />
                        <button mat-button color="accent" (click)="addToCart(orderProduct)">
                          <mat-icon>add_shopping_cart</mat-icon>
                          {{'COMMON.ORDER_AGAIN'|translate}}
                        </button>

                      </div>
                    </div>
                  </div>

                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                    
                    <h6 style="color: #283593;">{{'COMMON.ORDER_STATUS' | translate}}:
                    {{order.status}} </h6>

                    <button mat-button color="accent"
                      [routerLink]="['/account/order-detail', 'o'+order.orderId]">{{'COMMON.ORDER_DETAIL'|translate}}</button>

                    <button mat-button (click)="cancel(order.orderId)" color="accent">{{'COMMON.CANCEL_ORDER'|translate}}</button>

                  </div>
                </div>

              </div>
              <div class="tile-footer">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">

        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <h3 style="color: #283593; text-align: center;">{{'COMMON.ORDER_AGAIN'|translate}} </h3>
          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
            *ngFor="let prd of products">
            <div fxLayout="row wrap">
              <div style="text-align: center!important; vertical-align:middle;" fxFlex.xs="100" fxFlex.sm="100"
                fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                <br>
                <a class="p-link" *ngIf="prd.product?.id"
                  [routerLink]="['/products/dtl/'+prd.product?.id+(prd.product?.ptsId?'/'+prd.product?.ptsId:'')]">
                  <img [style.width.px]="40" mat-card-image style="vertical-align: middle;"
                    [src]="'assets/images/products/'+prd.product.id+'/'+prd.product?.image" alt="Photo">
                </a>
              </div>
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="67" fxFlex.lg="67" fxFlex.xl="67">

                <a class="p-link"
                  [routerLink]="['/products/dtl/'+prd.product?.id+(prd.product?.ptsId?'/'+prd.product?.ptsId:'')]">
                  {{prd?.name}} </a><br />
                <h6 class="accent-color">
                  {{'COMMON.PRICE'|translate}}:
                  {{prd.product?.symbolLeft}}
                  {{ prd.product?.price  | number:'1.0-2'}}
                  {{prd.product?.symbolRight}} </h6>
                <font style="font-style: italic;">
                  {{'COMMON.SOLD_BY'|translate}}
                  <a [routerLink]="['/products']" [queryParams]="{storeId:prd.product?.storeId}"
                    routerLinkActive="tab-active"> {{prd.product?.storeName}}</a>
                </font>
                <br />
                <button mat-button color="accent" (click)="addPrdToCart(prd)">
                  <mat-icon>add_shopping_cart</mat-icon>
                  {{'COMMON.ORDER_AGAIN'|translate}}
                </button>
                <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </mat-card>
</div>