<form name="form" (ngSubmit)="f2.form.valid && save()" #f2="ngForm" validate>
  <div fxLayout="row wrap" class="col-gap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
      <mat-form-field class="w-100 mb-3">
        <mat-label>{{'COMMON.TYPE_ADDRESS_PLACE'|translate}}</mat-label>
        <input matInput matGoogleMapsAutocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
          (onLocationSelected)="onLocationSelected($event)">
      </mat-form-field>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10">
      <h2 color="accent">{{'COMMON.OR'|translate}}</h2>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
      <button mat-raised-button color="primary" (click)="userGPS()" fxLayout="row" fxLayoutAlign="center center">
        <span class="mx-1 uppercase">{{'COMMON.MY_CURRENT_POSITION' | translate}}</span>
        <mat-icon>place</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="row wrap" class="col-gap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40" *ngIf="showForm">
      <mat-form-field class="w-100 mb-3" *ngIf="isNotAddressTypePreSelected()">
        <mat-label>{{'COMMON.ADDRESS_TYPE'|translate}}</mat-label>
        <mat-select placeholder="Type" id="addressType" name="addressType" [(ngModel)]="address.addressType"
          #addressType="ngModel" required>
          <mat-option *ngFor="let type of addressTypes" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100 mb-3">
        <mat-label> {{'COMMON.FIRST_NAME' | translate}}
        </mat-label>
        <input matInput type="text" class="form-control" id="firstName" [(ngModel)]="address.firstName" name="firstName"
          #firstName="ngModel" required>
        <mat-error *ngIf="f2.submitted && firstName.invalid" severity="error">
          {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mb-3">
        <mat-label> {{'COMMON.MIDDLE_NAME' | translate}} </mat-label>
        <input matInput type="text" class="form-control" id="middleName" [(ngModel)]="address.middleName"
          name="middleName" #middleName="ngModel">
      </mat-form-field>


      <mat-form-field class="w-100 mb-3">
        <mat-label> {{'COMMON.LAST_NAME' | translate}}
        </mat-label>
        <input matInput type="text" class="form-control" id="lastName" [(ngModel)]="address.lastName" name="lastName"
          #lastName="ngModel" required>
        <mat-error *ngIf="f2.submitted && lastName.invalid" severity="error">
          {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>


      <mat-form-field class="w-100 mb-3">
        <mat-label> {{'COMMON.STREET_NAME_NBR' | translate}} </mat-label>
        <input matInput type="text" class="form-control" id="address1" [(ngModel)]="address.address1" name="address1"
          #address1="ngModel" required>
        <mat-error *ngIf="f2.submitted && address1.invalid" severity="error">
          {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mb-3">
        <mat-label> {{'COMMON.APPARTMENT_BLG' | translate}} </mat-label>
        <input matInput type="text" class="form-control" id="address2" [(ngModel)]="address.address2" name="address2"
          #address2="ngModel">
      </mat-form-field>

      <mat-form-field class="w-100 mb-3">
        <mat-label> {{'COMMON.CONTACT_PHONE' | translate}}
          {{address.countryCode?'('+address.countryCode+')':''}}
        </mat-label>
        <input matInput type="text" class="form-control" id="phone" [(ngModel)]="address.phone" name="phone"
          #phone="ngModel">
      </mat-form-field>

      <mat-form-field class="w-100 mb-3">
        <mat-label> {{'COMMON.DISTRICT' | translate}} </mat-label>
        <input matInput type="text" class="form-control" id="district" [(ngModel)]="address.district" name="district"
          #city="ngModel">
      </mat-form-field>

      <mat-form-field class="w-100 mb-3">
        <mat-label> {{'COMMON.CITY' | translate}} </mat-label>
        <input matInput type="text" class="form-control" id="city" [(ngModel)]="address.city" name="city"
          #city="ngModel" required>
        <mat-error *ngIf="f2.submitted && city.invalid" severity="error">
          {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mb-3">
        <mat-label> {{'COMMON.POSTAL_CODE' | translate}} </mat-label>
        <input matInput type="text" class="form-control" id="postCode" [(ngModel)]="address.postCode" name="postCode"
          #postCode="ngModel"> 
      </mat-form-field>

      <mat-form-field class="w-100 mb-3">
        <mat-label>{{'COMMON.COUNTRY' | translate}}</mat-label>
        <mat-select placeholder="{{'COMMON.COUNTRY' | translate}}" id="country" name="country"
          [compareWith]="compareWithC" [(ngModel)]="address.country" #country="ngModel" required
          (selectionChange)="appService.getZones(address.country)">
          <mat-option *ngFor="let ctry of appService.appInfoStorage.getCountries()" [value]="ctry">
            {{ctry.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100 mb-3">
        <mat-label>{{'COMMON.ZONE_STATE'|translate}} {{(zones && zones.length>0)?'*':''}}</mat-label>
        <mat-select placeholder="Zone" id="zone" [compareWith]="compareWithZ" name="zone" [(ngModel)]="address.zone"
          #zone="ngModel">
          <mat-option *ngFor="let zone of zones" [value]="zone">
            {{zone.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100 mb-3">
        <mat-label> {{'COMMON.NAME_ADDRESS' | translate}}
        </mat-label>
        <input matInput type="text" class="form-control" id="name" [(ngModel)]="address.name" name="name"
          #name="ngModel" required>
      </mat-form-field>

    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" [fxFlex.md]="showForm?60:100" [fxFlex.lg]="showForm?60:100"
      [fxFlex.xl]="showForm?60:100">
      <div class="map-wrapper" style="height: 100%;">
        <div id="map_center">
          {{paceDescription}}
          {{marker?(' (lat: ' + marker.getPosition().lat() + ', long: ' + marker.getPosition().lng()) +')':''}}
        </div>
        <div style="min-height:500px; height:100%; width:auto;" #map id="map"></div>
      </div>
    </div>
  </div>

  <div fxLayout="row wrap" *ngIf="showForm">
    <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
      <div class="text-left mt-2" fxFlex.gt-sm="25">
        <button mat-raised-button (click)="gpsClicked=false; save();" color="primary" fxLayout="row"
          fxLayoutAlign="center center" type="submit">
          <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
          <mat-icon>save</mat-icon>
        </button>
      </div>
      <div class="text-left mt-2" fxFlex.gt-sm="25">
        <button mat-raised-button color="accent" (click)="clear()" matTooltip="{{'COMMON.CLEAR' | translate}}">
          <span class="mx-1 uppercase">{{'COMMON.CLEAR' | translate}}</span>
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <div class="text-left mt-2" fxFlex.gt-sm="50">
        <div class="text-center mt-2" style="color: green; font-size: large;" *ngIf="!hasError && messages">
          <mat-icon>done</mat-icon> {{messages}}
        </div>
        <div class="text-center mt-2" style="color: #ff5722; font-size: large;" *ngIf="hasError && messages">
          <mat-icon>close</mat-icon> {{messages}}
        </div>
      </div>
    </div>
  </div>
</form>