<div fxLayout="row wrap">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
    <div class="sr-root">
      <div class="sr-main">
        <form id="payment-form" class="sr-payment-form">
          <div class="sr-combo-inputs-row">
            <div>
              <input matInput placeholder="{{'COMMON.NAME_ON_CARD'|translate}}" id="name" name="name"
                [(ngModel)]="card.name" #name="ngModel" required>
            </div>
            <br />
            <div class="sr-input sr-card-element" id="card-element"></div>
          </div>
          <div class="sr-field-error" id="card-errors" role="alert"></div>
          <br />
          <button id="submit" mat-raised-button color="primary">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">{{'COMMON.SAVE'|translate}}</span>
            <!-- <mat-icon>save</mat-icon> -->
            <span id="order-amount"></span>
          </button>
        </form>
        <!-- <div class="sr-result hidden">
              <p>Payment completed<br /></p>
              <pre>
                <code></code>
              </pre>
            </div> -->
      </div>
    </div>
  </div>
</div>

<div fxLayout="row wrap" *ngIf="errors">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
  <mat-error severity="error">{{errors}}</mat-error>
  </div>
</div>