<div class="tile-body">

  <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" [hidden]="!dtlDS">
      <table mat-table [dataSource]="dtlDS" matSort class="w-100">

        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef width="15%" mat-sort-header>
            {{'COMMON.QUANTITY' | translate}}
          </th>
          <td mat-cell *matCellDef="let dtl"> {{dtl.qty}}</td>
        </ng-container>

        <ng-container matColumnDef="fraction">
          <th mat-header-cell *matHeaderCellDef width="15%" mat-sort-header>
            {{'COMMON.UNIT' | translate}}
          </th>
          <td mat-cell *matCellDef="let dtl"> {{dtl.fraction}}</td>
        </ng-container>

        <ng-container matColumnDef="earnedPoints">
          <th mat-header-cell *matHeaderCellDef width="15%" mat-sort-header>
            {{'COMMON.TOTAL' | translate}}
          </th>
          <td mat-cell *matCellDef="let dtl"> {{dtl.earnedPoints}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dtlCols"></tr>
        <tr mat-row *matRowDef="let dtl; columns: dtlCols;"></tr>
      </table>
      <p *ngIf="dtlDS && (!dtlDS?.data || dtlDS?.data.length === 0)"
        class="py-5 mb-0 text-center">
        {{'MESSAGE.NO_DATA' | translate}}</p>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</div>