<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>

   <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
         <button color="primary" (click)="clear()" mat-fab
            matTooltip="{{'COMMON.ADD' | translate}}" >
            <mat-icon class="mat-icon-xlg">add_circle</mat-icon>
         </button>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
         <div class="text-center mt-2">
            <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
               <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
               <mat-icon>save</mat-icon>
            </button> 
         </div>
         <div class="text-center mt-2" *ngIf="messages">
            <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
         </div>
      </div>
   </div>

   <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80" class="p-1">
         <div fxLayout="row wrap">
            <div fxFlex="50" *ngFor="let lang of appService.appInfoStorage.languages; let i = index">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.NAME' | translate}} - {{lang.name}}</mat-label>
                  <input matInput type="text" class="form-control" id="name{{i}}"
                     [(ngModel)]="roomType.roomTypeDescs[i].name" name="name{{i}}" required>
               </mat-form-field>
               <div fxFlex="5"></div>
            </div>
         </div>
         <div fxLayout="row wrap">
            <div fxFlex="50" *ngFor="let lang of appService.appInfoStorage.languages; let i = index">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.DESCRIPTION' | translate}} - {{lang.name}}</mat-label>
                  <input matInput type="text" class="form-control" id="description{{i}}"
                     [(ngModel)]="roomType.roomTypeDescs[i].description" name="description{{i}}">
               </mat-form-field>
               <div fxFlex="5"></div>
            </div>
         </div>
         <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="p-1">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.DAILY_PRICE' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="price" [(ngModel)]="roomType.price" name="price"
                     required>
               </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="p-1">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.NBR_ROOM' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="qty" [(ngModel)]="roomType.qty" 
                     name="qty" readonly>
               </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="p-1">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.NBR_AVAIL_ROOM' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="availableQty" [(ngModel)]="roomType.availableQty"
                     name="availableQty" readonly>
               </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="p-1">
               <mat-slide-toggle [(ngModel)]="roomType.status" name="status" #status="ngModel" class="my-2">
                  {{ 'COMMON.STATUS' | translate }}
               </mat-slide-toggle>
            </div>
         </div>
                  <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="p-1">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.DAILY_VIP_PRICE' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="vipPrice" [(ngModel)]="roomType.vipPrice" name="vipPrice"
                      >
               </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="p-1">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.HRLY_PRICE' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="qty" [(ngModel)]="roomType.hrlyPrice" 
                     name="hrlyPrice"  >
               </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="p-1">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.VIP_HRLY_PRICE' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="vipHrlyPrice" [(ngModel)]="roomType.vipHrlyPrice"
                     name="vipHrlyPrice"  >
               </mat-form-field>
            </div> 
         </div>

      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="p-1">

         <mat-label> {{'COMMON.ATTACH_DOC' | translate}}</mat-label>
         <input-file [(ngModel)]="picture" name="gallery" #gallery="ngModel" fileLimit="1" fileAccept="image/*"
            [linkEnabled]="false">
         </input-file>

      </div>
   </div>
</form>