<mat-card>
  <div fxLayoutAlign="space-between" *ngIf="!fromAdmin">
    <h4>{{'COMMON.MY_STORES'|translate}}</h4> <button mat-raised-button color="accent"
      [routerLink]="['/account/profile/edit']" [queryParams]="{type:'store', sId:0}">{{'COMMON.ADD_STORE'|translate}}</button>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" *ngFor="let store of stores">
      <div class="tile tile-primary">
        <div class="tile-heading">{{store.name}} <span class="pull-right">
            <i *ngIf="store.aprvStatus===0" class="fa fa-spinner"></i>
            <i *ngIf="store.aprvStatus===1" class="fa fa-check"></i>
            {{store.aprvStatus===0?('COMMON.PENDING_APPROVAL'|translate):('COMMON.APPROVED'|translate)}}</span>
        </div>
        <div class="tile-body">
          <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
              <img height="100%" src="assets/images/stores/{{store.id}}/{{store.image}}">
              <br />
              <span class="pull-left">
                <i *ngIf="store.status===0" class="fa fa-exclamation-circle"></i>
                <i *ngIf="store.status===1" class="fa fa-check-circle"></i>
                {{store.status===0?('COMMON.INACTIVE'|translate):('COMMON.ACTIVE'|translate)}}</span>
              <br />
              <span class="pull-left">
                <i class="fa fa-money-bill"></i>
                {{store.currency?store.currency.code:''}}</span>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">

              <span class="pull-left"><i class="fa fa-user-secret"></i>
                {{'COMMON.STORE_CODE'|translate}} : {{store.code}}</span><br />
              <span class="pull-left"><i class="fa fa-phone fa-sm"></i> {{store.phone}}</span><br />
              <span class="pull-left"><i class="fa fa-envelope fa-sm"></i> {{store.email}}</span><br />
              <span class="pull-left" *ngIf="store.address"><i class="fa fa-map-marker fa-sm"></i>
                {{store.address.city}}, {{store.address.country.name}}</span>
              <div [innerHTML]="store?.description"></div>
            </div>
          </div>
        </div>
        <div class="tile-footer">
          <div fxLayout="row wrap" class="col-gap">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <!-- <button mat-raised-button color="accent" (click)="delete(store.id)">{{'COMMON.DELETE'|translate}}</button>
            -->
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <span class="pull-right">
                <button mat-raised-button color="accent" *ngIf="!fromAdmin"
                  [routerLink]="['/account/profile/edit']"
                  [queryParams]="{type:'store', sId:store.id}">{{'COMMON.EDIT'|translate}}</button>

                <button mat-raised-button color="accent" *ngIf="fromAdmin"
                  [routerLink]="['/admin/customers/store/'+store.id]">{{'COMMON.EDIT'|translate}}</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>