<mat-card *ngIf="type == 'info'">
   <h4> Edit Profile Information</h4>
   <div fxLayout="row wrap" class="col-gap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
         <form [formGroup] = "info">
            <div class="example-container">
               <mat-form-field class="w-100 mb-3">
                  <input matInput placeholder="First Name" formControlName="first_name">
                  <mat-error *ngIf="info.get('first_name').hasError('required') && info.get('first_name').touched">This field should not be empty.</mat-error>
               </mat-form-field>
               <mat-form-field class="w-100 mb-3">
                  <input matInput placeholder="Last Name" formControlName="last_name">
                  <mat-error *ngIf="info.get('last_name').hasError('required') && info.get('last_name').touched">This field should not be empty.</mat-error>
               </mat-form-field>
               <div class="mb-3">
                  <mat-radio-group formControlName="gender">
                     <mat-radio-button class="mr-2" value="male">Male</mat-radio-button>
                     <mat-radio-button value="female">Female</mat-radio-button>
                  </mat-radio-group>
               </div>
               <div>
                  <mat-form-field class="w-100 mb-3">
                     <input matInput [matDatepicker]="picker" placeholder="Bith Date" formControlName="date">
                     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                     <mat-datepicker #picker></mat-datepicker>
                     <mat-error *ngIf="info.get('date').hasError('required') && info.get('date').touched">This field should not be empty.</mat-error>
                  </mat-form-field>
               </div>
               <mat-form-field class="w-100 mb-3">
                  <input matInput placeholder="Mobile No." formControlName="phone_number">
                  <mat-error *ngIf="info.get('phone_number').hasError('required') && info.get('phone_number').touched">This field should not be empty.</mat-error>
               </mat-form-field>
               <mat-form-field class="w-100 mb-3">
                  <input matInput placeholder="Location" formControlName="location">
                  <mat-error *ngIf="info.get('location').hasError('required') && info.get('location').touched">This field should not be empty.</mat-error>
               </mat-form-field>
               <mat-form-field class="w-100 mb-3">
                  <input matInput type="email" placeholder="Email" formControlName="email">
                  <mat-error *ngIf="info.get('email').hasError('required') && info.get('email').touched">This field should not be empty.</mat-error>
                  <mat-error *ngIf="info.get('email').hasError('pattern') && info.get('email').touched">Please enter a valid email.</mat-error>
               </mat-form-field>
               <button mat-raised-button color="accent" (click)="submitProfileInfo()">Save</button>
            </div>
           <!-- example-container -->
         </form>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="edit-profile" style="background-image: url(assets/images/user-edit.png)">
      </div>
   </div>
</mat-card>