<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
  <div class="mb-4">
    <mat-form-field appearance="outline" class="w-100 mt-2">
      <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
      <mat-label>{{'COMMON.USER_NAME' | translate }}</mat-label>
      <input matInput placeholder="Username" formControlName="userName" required>
      <mat-error *ngIf="loginForm.controls.userName.errors?.required">
        {{'VALIDATION.USER_NAME_REQUIRED' | translate }}</mat-error>
      <mat-error *ngIf="loginForm.controls.userName.hasError('minlength')">
        {{'VALIDATION.MINIMUM_LENGTH' | translate }} 6</mat-error>
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-form-field appearance="outline" class="w-100 mt-1">
      <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
      <mat-label>{{'COMMON.PASSWORD' | translate }}</mat-label>
      <input matInput placeholder="Password" formControlName="password" required [type]="hide ? 'password' : 'text'">
      <mat-error *ngIf="loginForm.controls.password.errors?.required">
        {{'VALIDATION.PASSWORD_REQUIRED' | translate }}</mat-error>
      <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">
        {{'VALIDATION.MINIMUM_LENGTH' | translate }} 6</mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mb-3">
    <!-- <mat-checkbox>Remember Me</mat-checkbox> -->
    <span fxFlex></span>
    <a [routerLink]="['/session/forgot-password']"
      *ngIf="!forgotPasswordEvent">{{'COMMON.FORGOT_PASSWORD'|translate}}?</a>
    <a href="javascript:void(0);" (click)="forgotPassword()"
      *ngIf="forgotPasswordEvent">{{'COMMON.FORGOT_PASSWORD'|translate}}?</a>
  </div>
  <button color="accent" class="button-lg mb-3" mat-raised-button type="submit">
    {{'COMMON.SIGN_IN' | translate }}</button>

  <button mat-button color="accent" *ngIf="error">{{error}}</button>
  <p> <a mat-button [routerLink]="['/session/signup']" [queryParams]="{fromPage:fromPage}" color="accent"
      class="w-100">{{'COMMON.NEW_REGISTER' | translate }}</a>
<!--     <a href="javascript:void(0);" (click)="forgotPassword()"
      *ngIf="forgotPasswordEvent">{{'COMMON.NEW_REGISTER'|translate}}?</a> -->
  </p>
</form>