<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
   <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
         <div class="text-center mt-2">
         <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
            <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
            <mat-icon>save</mat-icon>
         </button> </div>
         <div class="text-center mt-2" *ngIf="messages">
         <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
         </div>
      </div>
   </div>
   <mat-tab-group>
      <mat-tab label="{{'COMMON.GENERAL' | translate}}">
         <app-product-description [f]=f [product]="product" ></app-product-description>
      </mat-tab>

      <mat-tab label="{{'COMMON.DATA' | translate}}">
         <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.MODEL' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="model" [(ngModel)]="product.model" name="model"
                     #model="ngModel" required>
                  <mat-error *ngIf="f.submitted && model.invalid" severity="error">
                     {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
                  </mat-error>
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.SKU' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="sku" [(ngModel)]="product.sku" name="sku" #sku="ngModel">
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.UPC' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="upc" [(ngModel)]="product.upc" name="upc" #upc="ngModel">
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.EAN' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="ean" [(ngModel)]="product.ean" name="ean" #ean="ngModel">
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.JAN' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="jan" [(ngModel)]="product.jan" name="jan" #jan="ngModel">
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.ISBN' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="isbn" [(ngModel)]="product.isbn" name="isbn" #isbn="ngModel">
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.MPN' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="mpn" [(ngModel)]="product.mpn" name="mpn" #mpn="ngModel">
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.LOCATION' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="location" [(ngModel)]="product.location" name="location" #location="ngModel">
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.PRICE' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="price" [(ngModel)]="product.price" name="price" #price="ngModel">
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{'COMMON.TAX_CLASS' | translate }}</mat-label>
                  <mat-select placeholder="{{'COMMON.TAX_CLASS' | translate }}" id="taxClass" name="taxClass" [(ngModel)]="product.taxClassId" #taxClass="ngModel">
                     <mat-option *ngFor="let taxClass of appService.appInfoStorage.taxClasses" [value]="taxClass.id">
                        {{taxClass.title}}
                     </mat-option>
                  </mat-select>
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.QUANTITY' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="quantity" [(ngModel)]="product.quantity" name="quantity" #quantity="ngModel">
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{'COMMON.MINIMUM_QUANTITY' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="minimum" [(ngModel)]="product.minimum" name="minimum" #minimum="ngModel">
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-label> {{'COMMON.SUBTRACT_STOCK' | translate}}</mat-label><br/>
               <mat-radio-group class="form-control" id="subtract" [(ngModel)]="product.subtract" name="subtract" #subtract="ngModel">
                  <mat-radio-button class="mr-2" value="1">YES</mat-radio-button>
                  <mat-radio-button value="0">NO</mat-radio-button>
               </mat-radio-group>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{'COMMON.OUT_OF_STOCK_STATUS' | translate }}</mat-label>
                  <mat-select placeholder="{{'COMMON.OUT_OF_STOCK_STATUS' | translate }}" id="stockStatusId" name="stockStatusId" [(ngModel)]="product.stockStatusId" #stockStatusId="ngModel">
                     <mat-option *ngFor="let stockStatus of appService.appInfoStorage.stockStatuses" [value]="stockStatus.id">
                        {{stockStatus.name}}
                     </mat-option>
                  </mat-select>
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-label> {{'COMMON.REQUIRES_SHIPPING' | translate}}</mat-label><br/>
               <mat-radio-group class="form-control" id="shipping" [(ngModel)]="product.shipping" name="shipping" #shipping="ngModel">
                  <mat-radio-button class="mr-2" value="1">YES</mat-radio-button>
                  <mat-radio-button value="0">NO</mat-radio-button>
               </mat-radio-group>
            </div>
            
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100"> 
                  <mat-label> {{'COMMON.DATE_AVAILABLE' | translate}}</mat-label><br/>
                  <input matInput [matDatepicker]="picker" class="form-control" id="dateAvailable" [(ngModel)]="product.dateAvailable" name="dateAvailable" #dateAvailable="ngModel">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-label> {{'COMMON.DIMENSIONS' | translate}}</mat-label><br/>
               <mat-form-field appearance="outline" class="w-30">
                  <mat-label> {{'COMMON.LENGTH' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="" [(ngModel)]="product.length" name="length" #length="ngModel">
               </mat-form-field>
               <mat-form-field appearance="outline" class="w-30">
                  <mat-label> {{'COMMON.WIDTH' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="" [(ngModel)]="product.width" name="width" #width="ngModel">
               </mat-form-field>
               <mat-form-field appearance="outline" class="w-30">
                  <mat-label> {{'COMMON.HEIGHT' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="" [(ngModel)]="product.height" name="height" #height="ngModel">
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{'COMMON.LENGTH_CLASS' | translate }}</mat-label>
                  <mat-select placeholder="{{'COMMON.LENGTH_CLASS' | translate }}" id="lengthClassId" name="lengthClassId" [(ngModel)]="product.lengthClassId" #lengthClassId="ngModel">
                     <mat-option *ngFor="let lengthClass of appService.appInfoStorage.lengthClasses" [value]="lengthClass.id">
                        {{lengthClass.name}}
                     </mat-option>
                  </mat-select>
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-30">
                  <mat-label> {{'COMMON.WEIGHT' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="weight" [(ngModel)]="product.weight" name="weight" #weight="ngModel">
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{'COMMON.WEIGHT_CLASS' | translate }}</mat-label>
                  <mat-select placeholder="{{'COMMON.WEIGHT_CLASS' | translate }}" id="weightClassId" name="weightClassId" [(ngModel)]="product.weightClassId" #weightClassId="ngModel">
                     <mat-option *ngFor="let weightClass of appService.appInfoStorage.weightClasses" [value]="weightClass.id">
                        {{weightClass.name}}
                     </mat-option>
                  </mat-select>
               </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-label> {{'COMMON.STATUS' | translate}}</mat-label><br/>
               <mat-radio-group class="form-control" id="status" [(ngModel)]="product.status" name="status" #status="ngModel">
                  <mat-radio-button class="mr-2" value="1">ACTIVE</mat-radio-button>
                  <mat-radio-button value="0">INACTIVE</mat-radio-button>
               </mat-radio-group>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-30">
                  <mat-label> {{'COMMON.SORT_ORDER' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="sortOrder" [(ngModel)]="product.sortOrder" name="sortOrder" #sortOrder="ngModel">
               </mat-form-field>
            </div>
         </div>
      </mat-tab>
   </mat-tab-group>
</form>
 