.page-title-bar {
    padding: 1rem 0;
    text-align: center;
    background-image: url(/assets/images/page-title-bar.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
}