<a mat-button [routerLink]="['/admin/system/shippers']">{{'COMMON.SYSTEM' | translate}}
  <mat-icon>navigate_next</mat-icon>
</a>
<a mat-button color="accent" [routerLink]="['/admin/system/shippers']">
  <h5>{{'COMMON.SHIPPER' | translate}}s</h5>
</a>
<mat-tab-group [(selectedIndex)]="selectedTab">
  <mat-tab label="{{'COMMON.LIST' | translate}}">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="90" class="p-3">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'COMMON.SEARCH' | translate}}"
            autocomplete="off">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="10" class="p-3">
        <a (click)="addSectionItem()" mat-icon-button color="primary" matTooltip="{{'COMMON.ADD' | translate}}">
          <mat-icon color="primary" class="mat-icon-xlg">add_circle</mat-icon>
        </a>
      </div>
    </div>
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" matSort class="w-100">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let shipper"> {{shipper.id}} </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.NAME' | translate}} </th>
          <td mat-cell *matCellDef="let shipper"> {{shipper.name}}
          </td>
        </ng-container>

        <!-- Image Column 'phone', 'status', 'sortOrder'-->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.PHONE' | translate}} </th>
          <td mat-cell *matCellDef="let shipper"> {{shipper.phone}}
          </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.STATUS' | translate}} </th>
          <td mat-cell *matCellDef="let shipper">
            {{shipper.status===1?('COMMON.ACTIVE'| translate):('COMMON.INACTIVE'| translate)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="deliveryCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.DELIVERIES' | translate}} </th>
          <td mat-cell *matCellDef="let shipper"> {{shipper.deliveryCount}}
          </td>
        </ng-container>

        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.RATING' | translate}} </th>
          <td mat-cell *matCellDef="let shipper">
            {{(shipper.ratingCount>0?shipper.rating/shipper.ratingCount:0)|number:'1.0-1'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="sortOrder">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.SORT_ORDER' | translate}} </th>
          <td mat-cell *matCellDef="let shipper"> {{shipper.sortOrder}}
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let shipper; columns: displayedColumns;" (click)="edit(shipper)">
        </tr>
      </table>
      <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">{{'MESSAGE.NO_DATA' | translate}}</p>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

  </mat-tab>
  <mat-tab label="{{'COMMON.DETAILS' | translate}}">
    <form name="fform" (ngSubmit)="ff.form.valid && save()" #ff="ngForm" validate>
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="40" class="p-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> {{'COMMON.NAME' | translate}}
            </mat-label>
            <input matInput type="text" class="form-control" id="name" [(ngModel)]="shipper.name" name="name"
              #name="ngModel" required>
            <mat-error *ngIf="ff.submitted && name.invalid" severity="error">
              {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="40" class="p-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> {{'COMMON.PHONE' | translate}}
            </mat-label>
            <input matInput type="text" placeholder="+22890111213" class="form-control" id="phone"
              [(ngModel)]="shipper.phone" name="phone" #phone="ngModel" required>
            <mat-error *ngIf="ff.submitted && description.invalid" severity="error">
              {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="20" class="p-3">
          <mat-slide-toggle [(ngModel)]="shipper.status" name="status" #status="ngModel" class="my-2">
            {{ 'COMMON.ENABLE' | translate }}
          </mat-slide-toggle>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="40" class="p-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> {{'COMMON.E_MAIL' | translate}}
            </mat-label>
            <input matInput type="mail" class="form-control" id="email" [(ngModel)]="shipper.email" name="email"
              #email="ngModel" required>
            <mat-error *ngIf="ff.submitted && email.invalid" severity="error">
              {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="40" class="p-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description
            </mat-label>
            <input matInput type="text" class="form-control" id="description" [(ngModel)]="shipper.description"
              name="description" #description="ngModel">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="20" class="p-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'COMMON.SORT_ORDER'|translate}}
            </mat-label>
            <input matInput type="text" class="form-control" id="sortOrder" [(ngModel)]="shipper.sortOrder"
              name="sortOrder" #sortOrder="ngModel">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="33" class="p-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>URL
            </mat-label>
            <input matInput type="text" class="form-control" id="url" [(ngModel)]="shipper.url" name="url"
              #url="ngModel">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33" class="p-3" *ngIf="shipper.ratingCount > 0">
          {{'COMMON.REVIEW'|translate}}{{shipper.ratingCount > 0 ? 's ('+(shipper.rating/shipper.ratingCount|number:'1.0-1')+'/5)' : ''}}
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33" class="p-3" *ngIf="shipper.deliveryCount>0">
         {{shipper.deliveryCount}} {{'COMMON.DELIVERIES'|translate}}  
        </div>
      </div>

      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
          <div class="text-left mt-2" fxFlex.gt-sm="25">
            <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
              <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
              <mat-icon>save</mat-icon>
            </button> </div>
          <div class="text-left mt-2" fxFlex.gt-sm="75" *ngIf="messages">
            <p><a mat-button color="primary" class="w-100">{{messages}}</a></p>
          </div>
          <div class="text-left mt-2" fxFlex.gt-sm="75" *ngIf="errors">
            <p><a mat-button color="accent" class="w-100">{{errors}}</a></p>
          </div>
        </div>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>