<div class="inner-container bg-white section-gap-xs" *ngIf="action === 'saving'; else elseBlock">
    <div class="container" >
      <div fxLayout="row wrap" fxLayoutAlign="center center" > 
        
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" *ngIf="productDesc || store">
          <mat-card>
            <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
              <h5>{{'COMMON.CREATE_REVIEW' | translate}}</h5>
              <div fxLayout="row wrap"> 
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10">
                  <img *ngIf="productDesc" [src]="'assets/images/products/'+productDesc.product.id+'/'+productDesc.product.image"
                    [style.width.px]="50" class="d-block">
                  <a href="javascript:void(0)" *ngIf="store" class="primary-color" [routerLink]="['/products']" [queryParams]="{storeId:store.id}">
                    <img *ngIf="store" [src]="'assets/images/stores/'+store.id+'/'+store.image" [style.width.px]="100" class="d-block">
                  </a>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="90" fxFlex.lg="90" fxFlex.xl="90">
                    <a href="javascript:void(0)" *ngIf="store" class="primary-color" [routerLink]="['/products']" [queryParams]="{storeId:store.id}">
                      {{productDesc ? productDesc.name : store.name}}
                    </a>
                </div>
              </div>
              <hr class="spacer">
          
              <div fxLayout="row wrap">
                {{'COMMON.OVERALL_RATING' | translate}}
              </div>
              <div fxLayout="row wrap">
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <div fxLayout="row wrap">
                    <a color="accent" fxLayout="row" fxLayoutAlign="center center" (click)="updateRating(1)">
                        <mat-icon color="accent" *ngIf="review.rating < 1">star_border</mat-icon>
                        <mat-icon color="accent" *ngIf="review.rating >= 1">star</mat-icon>
                    </a> 
                    <a color="accent" fxLayout="row" fxLayoutAlign="center center" (click)="updateRating(2)">
                        <mat-icon color="accent" *ngIf="review.rating < 2">star_border</mat-icon>
                        <mat-icon color="accent" *ngIf="review.rating >= 2">star</mat-icon>
                    </a>
                    <a color="accent" fxLayout="row" fxLayoutAlign="center center" (click)="updateRating(3)">
                        <mat-icon color="accent" *ngIf="review.rating < 3">star_border</mat-icon>
                        <mat-icon color="accent" *ngIf="review.rating >= 3">star</mat-icon>
                    </a>
                    <a color="accent" fxLayout="row" fxLayoutAlign="center center" (click)="updateRating(4)">
                        <mat-icon color="accent" *ngIf="review.rating < 4">star_border</mat-icon>
                        <mat-icon color="accent" *ngIf="review.rating >= 4">star</mat-icon>
                    </a>
                    <a color="accent" fxLayout="row" fxLayoutAlign="center center" (click)="updateRating(5)">
                        <mat-icon color="accent" *ngIf="review.rating < 5">star_border</mat-icon>
                        <mat-icon color="accent" *ngIf="review.rating === 5">star</mat-icon>
                    </a>
                  </div>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <div fxLayout="row wrap" class="w-50" *ngIf="isAdmin">
                    <mat-slide-toggle [(ngModel)]="review.status" name="status" #status="ngModel" class="my-2" [disabled]="isAdmin">
                      {{ 'COMMON.ENABLED' | translate }}
                    </mat-slide-toggle>
                  </div>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <div fxLayout="row wrap" class="w-50" *ngIf="isAdmin">
                    <mat-radio-button [checked]="review.approvalStatus === 0" [disabled]="review.approvalStatus !== 0">{{'COMMON.SUBMITTED' | translate }}</mat-radio-button>
                    <mat-radio-button [checked]="review.approvalStatus === 1" [disabled]="review.approvalStatus !== 1">{{'COMMON.APPROVED' | translate }}</mat-radio-button>
                    <mat-radio-button [checked]="review.approvalStatus === 2" [disabled]="review.approvalStatus !== 2">{{'COMMON.REJECTED' | translate }}</mat-radio-button>
                  </div>
                </div>
              </div>
              <br/>
              
              <div fxLayout="row wrap" class="w-100">
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <h6 class="text-muted text-left fw-600 mb-3" *ngIf="!isAdmin">{{'COMMON.ADD_PHOTO' | translate}}</h6>
                  <input-file [(ngModel)]="picture" name="gallery" #gallery="ngModel" fileLimit="1" fileAccept="image/*" 
                    [linkEnabled]="true">
                  </input-file>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <div fxLayout="row wrap" class="w-100">
                    <mat-form-field   class="w-100">
                      <mat-label> {{'COMMON.HEADLINE' | translate}}</mat-label>
                      <input matInput type="text" class="form-control" id="headline" [(ngModel)]="review.headline"
                        name="headline" #headline="ngModel" [readOnly]="isAdmin">
                    </mat-form-field>
                  </div>

                  <div fxLayout="row wrap" class="w-100">
                    <mat-label> {{'COMMON.COMMENTS' | translate}}</mat-label>
                    <textarea matInput rows="5" cols="25" class="form-control" id="text" [(ngModel)]="review.comments"
                      name="text" #text="ngModel" [disabled]="isAdmin"></textarea>
                  </div>
                </div>
              </div>
              <hr class="spacer">
              
              <div fxLayout="row wrap" class="w-100" *ngIf="isAdmin">
                <mat-label> {{'COMMON.APPROVE' | translate}}/{{'COMMON.REJECT' | translate}} {{'COMMON.COMMENTS' | translate}}</mat-label>
                <textarea matInput rows="5" cols="25" class="form-control" id="approvalRejectComments" [(ngModel)]="review.approverComments"
                  name="approvalRejectComments" #approvalRejectComments="ngModel"></textarea>
              </div>
              
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
                  <div class="text-left mt-2" fxFlex.gt-sm="25" *ngIf="!isAdmin">
                    <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
                      <span class="mx-1 uppercase">{{'COMMON.SUBMIT' | translate}}</span>
                      <mat-icon>save</mat-icon>
                    </button> 
                  </div>
                  <div class="text-left mt-2" fxFlex.gt-sm="25" *ngIf="isAdmin">
                    <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" (click)="review.approvalStatus = 1">
                      <span class="mx-1 uppercase">{{'COMMON.APPROVE' | translate}}</span>
                      <mat-icon>check</mat-icon>
                    </button> 
                  </div>
                  <div class="text-left mt-2" fxFlex.gt-sm="25" *ngIf="isAdmin">
                    <button mat-raised-button color="" fxLayout="row" fxLayoutAlign="center center" (click)="review.approvalStatus = 2">
                      <span class="mx-1 uppercase" style="color:darkslateblue">{{'COMMON.REJECT' | translate}}</span>
                      <mat-icon color="primary">cancel</mat-icon>
                    </button> 
                  </div>
                  <div class="text-left mt-2" fxFlex.gt-sm="75" *ngIf="messages">
                    <p><a mat-button color="primary" class="w-100">{{messages}}</a></p>
                  </div>
                  <div class="text-left mt-2" fxFlex.gt-sm="75" *ngIf="errors">
                    <p><a mat-button color="accent" class="w-100">{{errors}}</a></p>
                  </div>
                </div>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>

</div>

<ng-template #elseBlock>
  <div class="section-gap-lg text-center" *ngIf="action === 'saved'">
    <mat-card>
      <mat-icon color="accent" class="review-icon"> rate_review</mat-icon>
      <h4> 
        {{'MESSAGE.REVIEW_SUBMITTED'|translate}}
      </h4>
      <span>
        {{'MESSAGE.REVIEW_UNDER_PROCESS'|translate}}
      </span>
    </mat-card>
    

    <a href="javascript:void(0)" *ngIf="store" class="primary-color" [routerLink]="['/products']" 
      [queryParams]="{storeId:store.id}">{{'COMMON.CONTINUE_SHOPPING_FROM'|translate}} {{store.name}}</a>
    <span *ngIf="store">&nbsp; | &nbsp;</span>
    <a href="javascript:void(0)" class="primary-color" [routerLink]="['/']">{{'MESSAGE.GO_SHOPPING'|translate}}</a>
    &nbsp; | &nbsp;
    <a href="javascript:void(0)" class="primary-color"
      [routerLink]="['/account/open-orders']">{{'COMMON.VIEW_OPEN_ORDERS'|translate}}</a>

  </div>

  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20"
        *ngFor="let prd of products">
      <div fxLayout="row wrap">
        <div style="text-align: center!important; vertical-align:middle;" fxFlex.xs="100" fxFlex.sm="100"
          fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <br>
          <a class="p-link" *ngIf="prd.product?.id"
            [routerLink]="['/products/dtl/'+prd.product?.id+(prd.product?.ptsId?'/'+prd.product?.ptsId:'')]">
            <img [style.width.px]="40" mat-card-image style="vertical-align: middle;"
              [src]="'assets/images/products/'+prd.product.id+'/'+prd.product?.image" alt="Photo">
          </a>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="67" fxFlex.lg="67" fxFlex.xl="67">

          <a class="p-link"
            [routerLink]="['/products/dtl/'+prd.product?.id+(prd.product?.ptsId?'/'+prd.product?.ptsId:'')]">
            {{prd?.name}} </a><br />
          <h6 class="accent-color">
            {{'COMMON.PRICE'|translate}}:
            {{prd.product?.symbolLeft}}
            {{ prd.product?.price  | number:'1.0-2'}}
            {{prd.product?.symbolRight}} </h6>
          <font style="font-style: italic;">
            {{'COMMON.SOLD_BY'|translate}}
            <a [routerLink]="['/products']" [queryParams]="{storeId:prd.product?.storeId}"
              routerLinkActive="tab-active"> {{prd.product?.storeName}}</a>
          </font>
          <br />
          <div fxLayout="row wrap" fxLayoutAlign="none"> 
            <span class="a-button a-button-base review-button">
              <span class="a-button-inner">
                <a role="button" class="a-button-text" [routerLink]="['/products/product/' + prd.product.id + '/review', 0]">{{'COMMON.REVIEW_PRODUCT' | translate}}</a>
              </span>
            </span>
          </div>
          
          <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
        </div>
      </div>
      <br/>
    </div>
  </div>
</ng-template>
