<hr class="spacer">

<div fxLayout="row wrap" fxLayoutAlign="center center" class="col-gap">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
    <div fxLayout="row wrap" fxLayoutAlign="none">
      <embryo-Rating [rate]="singleProductDetails.product.rating"></embryo-Rating> &nbsp;&nbsp;&nbsp; |
      &nbsp;&nbsp;&nbsp;<h5>{{singleProductDetails.product.rating}} out of 5</h5>
    </div>

    <div fxLayout="row wrap">5 star &nbsp; <mat-progress-bar style="width: 70%" mode="determinate"
        [value]="singleProductDetails.product.ratingCountMaps[5]"></mat-progress-bar>&nbsp;
      {{singleProductDetails.product.ratingCountMaps[5]}}%</div><br />
    <div fxLayout="row wrap">4 star &nbsp; <mat-progress-bar style="width: 70%" mode="determinate"
        [value]="singleProductDetails.product.ratingCountMaps[4]"></mat-progress-bar>&nbsp;
      {{singleProductDetails.product.ratingCountMaps[4]}}%</div><br />
    <div fxLayout="row wrap">3 star &nbsp; <mat-progress-bar style="width: 70%" mode="determinate"
        [value]="singleProductDetails.product.ratingCountMaps[3]"></mat-progress-bar>&nbsp;
      {{singleProductDetails.product.ratingCountMaps[3]}}%</div><br />
    <div fxLayout="row wrap">2 star &nbsp; <mat-progress-bar style="width: 70%" mode="determinate"
        [value]="singleProductDetails.product.ratingCountMaps[2]"></mat-progress-bar>&nbsp;
      {{singleProductDetails.product.ratingCountMaps[2]}}%</div><br />
    <div fxLayout="row wrap">1 star &nbsp; <mat-progress-bar style="width: 70%" mode="determinate"
        [value]="singleProductDetails.product.ratingCountMaps[1]"></mat-progress-bar>&nbsp;
      {{singleProductDetails.product.ratingCountMaps[1]}}%</div><br />



    <div fxLayout="row wrap" fxLayoutAlign="none">
      <h5>{{'COMMON.REVIEW_THIS_PRODUCT' | translate}}</h5>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="none">
      <span>{{'COMMON.SHARE_YOUR_THOUGHTS' | translate}}</span>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="none">
      <span class="a-button a-button-base review-button">
        <span class="a-button-inner">
          <a role="button" class="a-button-text"
            [routerLink]="['/products/' + singleProductDetails.product.id + '/review', 0]">{{'COMMON.REVIEW_PRODUCT' | translate}}</a>
        </span>
      </span>
    </div>

  </div>

  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10">

  </div>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
    <h4>Customer reviews</h4>
    <div *ngIf="singleProductDetails.product.reviews && singleProductDetails.product.reviews.length>0">

      <div class="user-list" *ngFor="let review of singleProductDetails.product.reviews">
        <div fxLayout="row wrap">
          <button mat-mini-fab class="log-in-user">
            <img *ngIf="!review.user.image || review.user.image === 'null'" src="assets/images/users/user_gray.jpg"
              width="250" height="250" alt="log-in-user">
            <img *ngIf="review.user.image && review.user.image !== 'null'"
              src="assets/images/users/{{review.user.id}}/{{review.user.image}}" alt="user-image" width="50">
          </button>
          <h6>{{review.author}}</h6>
        </div>
        <div fxLayout="row wrap">
          <embryo-Rating [rate]="review.rating"></embryo-Rating>
          <h6>{{review?.headline}}</h6>
        </div>
        <div fxLayout="row wrap">Reviewed on <span>{{review.createDate | date: 'MM/dd/yyyy hh:mm:ss'}}</span></div>
        <div fxLayout="row wrap">
          <p>{{review?.comments}}</p>
        </div>
        <div fxLayout="row wrap" *ngIf="review.image">
          <img [src]="'assets/images/productreviews/' + review.id + '/' + review.image" width="90" alt="">
        </div>

        <br />
        <br />
      </div>


    </div>

    <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap"
      *ngIf="!singleProductDetails.product.reviews || singleProductDetails.product.reviews.length === 0">
      {{'COMMON.NO_CUSTOMER_REVIEWS' | translate}}
    </div>
  </div>
</div>