.select-group .mat-form-field {
	width: 110px;
}

.table-wrapper h6 {
    color: #efefef;
}

.bold-text {
    font-weight: bold;
    margin: 5px;
}

.label-text {
    margin: 5px;
}

.label-summary-text {
    margin: 5px;
    width: 200px;
}

.bold-summary-text {
    font-weight: bold;
    margin: 5px;
    width: 200px;
}