<div class="counter-wrapper">
  <div class="counter-item" *ngIf="hours > 0">
    <span class="counter-digit">{{hours}}</span>
    <span class="counter-text">Hours</span>
  </div>
  <div class="counter-item" *ngIf="minutes > 0">
    <span class="counter-digit">{{minutes}}</span>
    <span class="counter-text">Minutes</span>
  </div>
  <div class="counter-item" *ngIf="seconds > 0">
    <span class="counter-digit">{{seconds}}</span>
    <span class="counter-text">Seconds</span>
  </div>
</div>
<div>
{{'COMMON.PROCESSING_WAIT'|translate}}
</div>