
<form name="form" (ngSubmit)="f.form.valid && validateSelectedIngredient() && save()" #f="ngForm" validate>
  <div fxLayout="row wrap" *ngIf="store?.id > 0">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="p-1" >
      <div fxFlex.xs="100" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" >
        <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" style="float: left;" type="submit" 
          [disabled]="!f.form.valid">
            <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
            <mat-icon>save</mat-icon>
        </button>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
        <h4 style="color:#00008b">{{'COMMON.STORE' | translate}} - {{store.name}}</h4>
      </div>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="p-1">
      <div class="text-center mt-2" *ngIf="messages">
        <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
      </div>
    </div>
  </div>

  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
        <mat-label> {{'COMMON.QUANTITY' | translate}}:</mat-label><br/>
        <mat-label> {{storeIngredient.quantity}}</mat-label>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> {{'COMMON.INGREDIENT' | translate}}:</mat-label>
          <input type="text" placeholder="{{'COMMON.SELECT'|translate}}" aria-label="Number" name="currentOption"
              matInput [matAutocomplete]="auto" [(ngModel)]="storeIngredient.ingredientName" #ingredientName="ngModel"
              required (ngModelChange)="filterOptions(storeIngredient.ingredientName)">
          <mat-autocomplete id="option1" #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredIngredientOptions "
                (onSelectionChange)="setSelectedIngredient(option)" [value]="option.name">
                {{option.name}} 
              </mat-option>
          </mat-autocomplete>
        </mat-form-field> 
        <mat-error *ngIf="f.submitted && !validateSelectedIngredient()" severity="error">
            {{ 'VALIDATION.FIELD_REQUIRED' | translate }} - {{ 'VALIDATION.PLEASE_SELECT_FROM_DROPDOWN' | translate }}
        </mat-error>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
        <mat-form-field class="w-100">
          <mat-label> {{'COMMON.PRICE' | translate}}</mat-label>
          <input matInput type="text" class="form-control" id="price" [(ngModel)]="storeIngredient.price"
              name="price" #price="ngModel">
        </mat-form-field>
      </div>
      
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
        <mat-form-field class="w-100">
          <mat-label> {{'COMMON.MINIMUM_QUANTITY' | translate}}</mat-label>
          <input matInput type="text" class="form-control" id="minimumQuantity" [(ngModel)]="storeIngredient.minimumQty"
              name="minimumQuantity" #minimumQuantity="ngModel">
        </mat-form-field>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
        <mat-form-field class="w-100">
          <mat-label> {{'COMMON.MAXIMUM_QUANTITY' | translate}}</mat-label>
          <input matInput type="text" class="form-control" id="maximumQuantity" [(ngModel)]="storeIngredient.maximumQty"
              name="maximumQuantity" #maximumQuantity="ngModel">
        </mat-form-field>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
        <mat-slide-toggle [(ngModel)]="storeIngredient.status" name="status" #status="ngModel" class="my-2">
          {{ 'COMMON.ENABLE' | translate }}
        </mat-slide-toggle>
      </div>
    </div>
  </div>
</form>

<fieldset *ngIf="storeIngredient?.id > 0">
  <legend><h5 style="color:#00008b">{{'COMMON.INVENTORY' | translate}}</h5></legend>
  <form name="form" (ngSubmit)="f2.form.valid && addQuantity()" #f2="ngForm" validate>
    <div fxLayout="row wrap" *ngIf="storeIngredient?.id > 0">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
        <div fxLayout="row nowrap">
          <mat-form-field class="w-20">
            <mat-label> {{'COMMON.QUANTITY' | translate}}</mat-label>
            <input matInput type="text" style="border: 1px;" class="form-control" id="inventoryQuantity" name="inventoryQuantity"
                [(ngModel)]="storeIngredientInventory.quantity" #inventoryQuantity="ngModel" required>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field>
            <mat-label> {{'COMMON.DESCRIPTION' | translate}}</mat-label>
            <textarea matInput rows="2" cols="50" class="form-control" id="description"
               [(ngModel)]="storeIngredientInventory.description" name="description"
               #description="ngModel"></textarea>
         </mat-form-field>
          <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit" 
            [disabled]="!f2.form.valid">
              <span class="mx-1 uppercase">{{'COMMON.ADD_QUANTITY' | translate}}</span>
              <mat-icon>save</mat-icon>
          </button>
        </div>
      </div>  
    </div>
  </form>  
 
  <div fxLayout="row wrap" *ngIf="storeIngredient?.id > 0">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <div class="table-wrapper">
        <table mat-table [dataSource]="inventoryDatasource" matSort class="w-100">

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef width="20%" mat-sort-header> {{'COMMON.QUANTITY' | translate}}
            </th>
            <td mat-cell *matCellDef="let inventory"> {{inventory.quantity}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef width="30%" mat-sort-header> {{'COMMON.DESCRIPTION' | translate}}
            </th>
            <td mat-cell *matCellDef="let inventory"> {{inventory.description}}</td>
          </ng-container>

          <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef width="30%" mat-sort-header> {{'COMMON.CREATED_BY' | translate}}
            </th>
            <td mat-cell *matCellDef="let inventory"> {{inventory.addByLastName}} {{inventory.addByFirstName}}</td>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef width="20%" mat-sort-header> {{'COMMON.CREATE_DATE' | translate}}
            </th>
            <td mat-cell *matCellDef="let inventory"> {{inventory.createDate | date: 'MM/dd/yyyy hh:mm:ss'}} </td>
          </ng-container>

        
          <tr mat-header-row *matHeaderRowDef="inventoryColumns"></tr>
          <tr mat-row *matRowDef="let inventory; columns: inventoryColumns;"></tr>
        </table>
        <p *ngIf="!inventoryDatasource?.data || inventoryDatasource?.data.length === 0" class="py-5 mb-0 text-center">{{'MESSAGE.NO_DATA' | translate}}</p>
      </div>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</fieldset>


