<mat-toolbar color="primary" class="header-v2">
  <mat-toolbar-row class="header-v2-top">
    <div class="container">
      <div fxLayout="row wrap">
        <div class="logo-site" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="35" fxFlex.lg="25%" fxFlex.xl="25%">
          <embryo-AppLogo></embryo-AppLogo>
        </div>
        <div fxFlex.sm="60" fxHide.xs="true" fxHide.sm="true" fxFlex.md="40" fxFlex.sm.hdie fxFlex.lg="60%"
          fxFlex.xl="60%" class="align-center">

          <form action="">
            <div fxLayout="row wrap"  style="vertical-align: middle;">
              <div fxFlex.xs="20%" fxFlex.sm="20%"  style="vertical-align: middle;" fxFlex.md="20%" fxFlex.lg="20%" fxFlex.xl="20%">

                <mat-form-field appearance="fill">
                  <mat-select [(value)]="selectedCategory"  color="accent">
                    <mat-option [value]="cat" *ngFor="let cat of categories">{{ cat}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex.xs="60%" fxFlex.sm="60%"  style="vertical-align: middle;" fxFlex.md="60%" fxFlex.lg="60%" fxFlex.xl="70%">
                <mat-form-field>
                  <mat-placeholder>Chercher un produit</mat-placeholder>
                  <input matInput type="text">
                </mat-form-field>
              </div>
              <div fxFlex.xs="15%" fxFlex.sm="15%" fxFlex.md="15%" fxFlex.lg="15%" 
              fxFlex.xl="15%" style="vertical-align: middle;">
           
                <button mat-flat-button color="accent" aria-label="search"  style="vertical-align: middle;">
                  <mat-icon>search</mat-icon> Search
                </button>
              </div>
            </div>
          </form>

        </div>
        <div fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="15%" fxFlex.xl="15%">
          <span fxFlex></span>
          <div class="list-flex user-tool">
            <embryo-HeaderCart [currency]="appService?.currency" [cartProducts]="appService?.localStorageCartProducts"
              [count]="appService?.navbarCartCount" (removeProductData)="openConfirmationPopup($event)">
            </embryo-HeaderCart>

            <embryo-WishList [currency]="appService?.currency" [wishListProducts]="appService?.localStorageWishlist"
              [count]="appService?.navbarWishlistProdCount" (removeWishListData)="openWishlistConfirmationPopup($event)"
              (addAllWishlistToCart)="addAllWishlistToCart($event)" (addToCart)="addToCart($event)"></embryo-WishList>
            <app-header-user-profile></app-header-user-profile>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="header-v2-bottom main-menu-wrap">
    <div class="container">
      <div class="header-v2-bottom-inner">
        <embryo-Menu></embryo-Menu>

      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="responsive-bar relative">
    <div class="container">
      <div fxLayoutAlign="space-between">

        <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
          <i class="material-icons">menu</i>
        </button>
        <div>
          <div class="search-box-bar">
            <button type="button" mat-mini-fab (click)="toggleSearch()">
              <i class="material-icons notranslate">
                search
              </i>
            </button>
          </div>
          <div class="search-form">
            <form>
              <input type="text" placeholder="Search and hit enter">
              <button type="button" mat-fab class="close-btn" (click)="toggleSearch()">
                <i class="material-icons">
                  close
                </i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<embryo-FixedHeader></embryo-FixedHeader>