.mat-tree-node {
	display: flex;
	align-items: center;
	min-height: 48px;
	flex: 1;
	overflow: hidden;
	word-wrap: break-word;
}

.material-icons {
	font-size: 16px;
	color: #283593;
}

.mat-tree-node,
.mat-nested-tree-node {
	font-weight: 400;
	font-size: .875rem;
}

a {
	color: #767676;
}

a:hover {
	text-decoration: underline;
	color: #111820;
	text-decoration-color: #283593;
}

a.tab-active {
	background-color: #ddd;
	color: #111820;
	padding: 3px 16px 3px 0px;
}

.col-gap > div {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}