<div class="inner-container">
   <div class="bg-white final-receipt-page section-gap">
      <div class="account-info">
         <div class="container">
            <div class="user-info">
               <div fxLayoutAlign="flex-start">
                  <div class="login-user-img">
                     <img *ngIf="!appService.tokenStorage.hasToken()||appService.tokenStorage.getPicture()==='null'"
                        src="assets/images/users/user_blue.jpg" width="70" alt="log-in-user">
                     <img *ngIf="appService.tokenStorage.hasToken()&&appService.tokenStorage.getPicture()!=='null'"
                        src="assets/images/users/{{appService.tokenStorage.getUserId()}}/{{appService.tokenStorage.getPicture()}}"
                        alt="user-image" width="70">
                  </div>
                  <div class="px-3">
                     <h4>{{appService.tokenStorage.getFirstName() +' '+appService.tokenStorage.getLastName()}}</h4>
                     <div class="text-muted text-xl">{{appService.tokenStorage.getUserName()}}</div>
                  </div>

                  <button class="" mat-mini-fab color="primary" mat-card-icon (click)="toggleSidebar()">
                     <mat-icon style="color:white!important">menu</mat-icon>
                  </button>
               </div>
            </div>
            <div fxLayout="row wrap" class="col-gap mx-0">

               <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="user-nav-list"
                  *ngIf="showMenu">

                  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" *ngIf="1>0">
                     <!-- This is the tree node template for leaf nodes -->
                     <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                        <!-- use a disabled button to provide padding for tree leaf -->
                        <a [routerLink]="[node.url]" routerLinkActive="tab-active">
                           <span>
                              <i class="material-icons">{{node.icon}}</i>{{node.name}}
                           </span>
                        </a>
                     </mat-tree-node>
                     <!-- This is the tree node template for expandable nodes -->
                     <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                           <mat-icon class="mat-icon-rtl-mirror">
                              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                           </mat-icon>
                        </button>

                        <a mat-button color="primary" class="w-100 text-left"
                           (click)="treeControl.isExpanded(node) ? treeControl.toggle(node) :treeControl.expand(node) "
                           style="text-align: left;">
                           {{node.name}}
                        </a>
                     </mat-tree-node>
                  </mat-tree>
               </div>
               <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="{{showMenu?85:100}}" fxFlex.lg="{{showMenu?85:100}}"
                  fxFlex.xl="{{showMenu?85:100}}" class="user-content-wrapper">
                  <div class="tab-container">
                     <router-outlet></router-outlet>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>