<mat-tab-group>
   <mat-tab label="{{'COMMON.GENERAL' | translate}}" *ngIf="attribute.id > 0">
      <app-attribute-description [attribute]="attribute" ></app-attribute-description>
   </mat-tab>

   <mat-tab label="{{'COMMON.DATA' | translate}}">
      <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>

         <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <div class="text-center mt-2">
               <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
                  <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
                  <mat-icon>save</mat-icon>
               </button> </div>
               <div class="text-center mt-2" *ngIf="messages">
               <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
               </div>
            </div>
         </div>
         
         <div fxLayout="row wrap">
         <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
            <mat-form-field appearance="outline" class="w-100">
               <mat-label>{{'COMMON.ATTRIBUTE_GROUP' | translate }}</mat-label>
               <mat-select placeholder="{{'COMMON.ATTRIBUTE_GROUP' | translate }}" id="attributeGroupId" name="attributeGroupId" 
                  [(ngModel)]="attribute.attributeGroup.id" #manufacturerId="ngModel">
                  <mat-option *ngFor="let attributeGroupDesc of appService.appInfoStorage.filterAttributeGroups(
                     appService.appInfoStorage.language.id
                  )" 
                     [value]="attributeGroupDesc.attributeGroup.id">
                     {{attributeGroupDesc.name}}
                  </mat-option>
               </mat-select>
            </mat-form-field>
         </div>
         </div>
         <div fxLayout="row wrap">
         <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
               <mat-form-field appearance="outline" class="w-30">
                  <mat-label> {{'COMMON.SORT_ORDER' | translate}}</mat-label>
                  <input matInput type="text" class="form-control" id="sortOrder" [(ngModel)]="attribute.sortOrder" name="sortOrder" #sortOrder="ngModel">
               </mat-form-field>
            </div>
         </div>
         </div>
      </form>
   </mat-tab>

</mat-tab-group>