<div class="store-header-bar">
  <div class="container">
    <div fxLayout="row wrap" class="col-gap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
        <img src="assets/images/stores/{{store.id}}/{{store.image}}">
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
        <h1 class="mb-3"> {{store.name}}</h1>
        <h6 class="mb-3">{{store.catName}}
          {{store.address?('| '+store.address.city+', '+store.address.country.name):''}}
          {{store.phone? ('| '+ ('COMMON.PHONE'|translate) +': '+ store.phone):'' }} |
          <a [routerLink]="['/products']" fragment="reviews" class="a-link-normal">
            {{store.reviews.length}}
            {{'COMMON.REVIEW'|translate}}{{store.reviews.length > 0 ? 's ('+store.ratingAverage+'/5)' : ''}}
          </a>
        </h6>
      </div>
    </div>
  </div>
</div>