  <hr class="spacer">
  <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap"
        *ngIf="singleProductDetails.product.reviews && singleProductDetails.product.reviews.length>0">
    
      <div class="user-list" *ngFor="let review of singleProductDetails.product.reviews">
        <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <div fxLayout="row wrap">
              <img class="round-radius" [src]="review.img" width="90" alt="Review user">
              <h6>{{review.author}}</h6>
            </div>
            <div><embryo-Rating [rate]="review.rating"></embryo-Rating></div>
            <br/>
            <div fxLayout="row wrap">Reviewed on <span>{{review.createDate | date: 'MM/dd/yyyy hh:mm:ss'}}</span></div>
            <p>{{review?.text}}</p>
          </div>
        </div>
      </div>
    
  </div>
  