<a mat-button [routerLink]="['/admin/customers/users']">{{'COMMON.CUSTOMER' | translate}}s
  <mat-icon>navigate_next</mat-icon>
</a>
<a mat-button color="accent">
  <h5>{{user.firstName +' '+ user.lastName}}</h5>
</a>

<mat-tab-group (selectedTabChange)="tabClick($event)">
  <mat-tab label="{{'COMMON.GENERAL' | translate}}">
    <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
      <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
          <div class="text-center mt-2">
            <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
              <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
          <div class="text-center mt-2" *ngIf="messages">
            <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
          </div>
        </div>
      </div>

      <div fxLayout="row wrap">
        <h4 class="text-muted text-left fw-600 mb-3">{{'COMMON.ACCOUNT_DETAILS' | translate}}</h4>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.ROLE' | translate}}</mat-label>
            <mat-select [(ngModel)]="user.userGroup.id" name="userGroup">
              <mat-option *ngFor="let userGroup of appService.appInfoStorage.USER_GROUPS" [value]="userGroup.id">
                {{userGroup.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.USER_NAME' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="userName" [(ngModel)]="user.userName" name="userName"
              #userName="ngModel">
          </mat-form-field>
        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.EMAIL' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email"
              #email="ngModel">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.FIRST_NAME' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName"
              name="firstName" #firstName="ngModel">
          </mat-form-field>
        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.LAST_NAME' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName"
              #lastName="ngModel">
          </mat-form-field>
        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.MIDDLE_NAME' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="middleName" [(ngModel)]="user.middleName"
              name="middleName" #middleName="ngModel">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
          <mat-form-field class="w-100 mb-3">
            <mat-label> {{'COMMON.CELL_PHONE' | translate}}
            </mat-label>
            <input matInput type="text" class="form-control" id="mobilePhone" [(ngModel)]="user.mobilePhone"
              name="mobilePhone" #mobilePhone="ngModel" required>
            <mat-error *ngIf="f.submitted && mobilePhone.invalid" severity="error">
              {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
          <mat-form-field class="w-100 mb-3">
            <mat-label> {{'COMMON.HOME_PHONE' | translate}}
            </mat-label>
            <input matInput type="text" class="form-control" id="phone" [(ngModel)]="user.homePhone" name="homePhone"
              #homePhone="ngModel">
            <mat-error *ngIf="f.submitted && homePhone.invalid" severity="error">
              {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="18" fxFlex.lg="18" fxFlex.xl="18" class="p-3">
          <mat-radio-group id="sex" class="form-control" [(ngModel)]="user.sex" name="sex" #sex="ngModel" required>
            <mat-radio-button value="F">
              {{'COMMON.MALE' | translate }}
            </mat-radio-button>
            <mat-radio-button value="M">
              {{'COMMON.FEMALE' | translate }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="p-3">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker" placeholder="{{'COMMON.BIRTH_DATE'|translate}}"
              [(ngModel)]="user.birthDate" name="birthDate" #birthDate="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap">
        <h4 class="text-muted text-left fw-600 mb-3">{{'COMMON.SOCIAL_MEDIA' | translate}}</h4>
      </div>

      <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.FACEBOOK' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="facebook" [(ngModel)]="user.facebook" name="facebook"
              #facebook="ngModel">
          </mat-form-field>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.TWITTER' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="twitter" [(ngModel)]="user.twitter" name="twitter"
              #twitter="ngModel">
          </mat-form-field>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.LINKEDIN' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="linkedin" [(ngModel)]="user.linkedin" name="linkedin"
              #linkedin="ngModel">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.INSTAGRAM' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="instagram" [(ngModel)]="user.instagram"
              name="instagram" #instagram="ngModel">
          </mat-form-field>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.WEBSITE' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="website" [(ngModel)]="user.website" name="website"
              #website="ngModel">
          </mat-form-field>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <mat-slide-toggle [(ngModel)]="user.status" name="status" #status="ngModel" class="my-2">
            {{ 'COMMON.ENABLE' | translate }}
          </mat-slide-toggle>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
          <div class="text-center mt-2">
            <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
              <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-3">
          <div class="text-center mt-2" *ngIf="messages">
            <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
          </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
          <input-file [(ngModel)]="picture" name="gallery" #gallery="ngModel" fileLimit="1" fileAccept="image/*"
            [linkEnabled]="true">
          </input-file>
        </div>
      </div>

    </form>
  </mat-tab>
  <mat-tab label="{{'COMMON.ADDRESSES' | translate}}" *ngIf="user.id > 0">
    <app-PaymentChangeAddress [userId]="user.id" *ngIf="selectedTabIndex === 1"></app-PaymentChangeAddress>
  </mat-tab>
  <mat-tab label="{{'COMMON.PAYMENT_METHOD' | translate}}" *ngIf="user.id > 0">
    <app-PaymentChangeModel [userId]="user.id" *ngIf="selectedTabIndex === 2"></app-PaymentChangeModel>
  </mat-tab>
  <mat-tab label="{{'COMMON.MESSAGE' | translate}}s" *ngIf="user.id > 0">
    <app-customer-history [userId]="user.id" *ngIf="selectedTabIndex === 3"></app-customer-history>
  </mat-tab>
<!--   <mat-tab label="{{'COMMON.ORDER' | translate}}s" *ngIf="user.id > 0">
    <app-customer-transaction [userId]="user.id" *ngIf="selectedTabIndex === 4"></app-customer-transaction>
  </mat-tab> -->
  <mat-tab label="{{'COMMON.REWARD_POINTS' | translate}}" *ngIf="user.id > 0">
    <app-customer-reward [userId]="user.id" *ngIf="selectedTabIndex === 4"></app-customer-reward>
  </mat-tab>
  <mat-tab label="{{'COMMON.STORES' | translate}}" *ngIf="user.id > 0">
    <app-stores [userId]="user.id" *ngIf="selectedTabIndex === 5"></app-stores>
  </mat-tab>
</mat-tab-group>