<div fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <h1 style="color: #283593;">{{'COMMON.OPEN_RESERVATIONS' | translate}} </h1>
    </div>
  </div>
  <mat-card>
    <div class="text-center mt-2" *ngIf="messages">
      <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
            *ngFor="let reservation of reservations">
            <div class="tile tile-primary">
              <div class="tile-heading">
                <div fxLayout="row wrap" class="col-gap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                    {{'COMMON.RESERVATION_DATE'|translate}}: <br />
                    {{reservation.createDate | date: 'mediumDate'}}
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                    TOTAL:<br />
                    {{reservation.symbolLeft}}
                    {{reservation.total | number: '1.' + reservation.currencyDecimalPlace + '-'  
                        + reservation.currencyDecimalPlace:appService?.appInfoStorage.language.locale}}
                    {{reservation.symbolRight}}
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                    <font style="font-style: italic;">
                      {{'COMMON.HOTEL'|translate}}<br/>
                      <a [routerLink]="['/rooms/search?storeCatId=9']" [queryParams]="{storeId:reservation.storeId}"
                        routerLinkActive="tab-active"> {{reservation.storeName}}</a>
                    </font>
                  </div>
                </div>
                <div fxLayout="row wrap" class="col-gap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                    {{'COMMON.RESERVATION_ID'|translate}}:
                    <br />
                    {{ reservation.reservationId   | number: '3.0'}}<br />
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                    {{'COMMON.ARRIVAL_DATE'|translate}}:<br />
                    {{reservation.beginDate | date: 'mediumDate'}}
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                    {{'COMMON.DEPARTURE_DATE'|translate}}:<br />
                    {{reservation.endDate | date: 'mediumDate'}}
                  </div>
                </div>
              </div>
              <div class="tile-body">
                <div fxLayout="row wrap" class="col-gap">
                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                    <div fxLayout="row wrap" class="col-gap">
                      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">

                        <h6 class="accent-color">
                          <font color="red">
                            <span *ngIf="reservation.status === 1"> {{'COMMON.RESERVED'|translate}}</span>
                            <span *ngIf="reservation.status === 2"> {{'COMMON.CONFIRMED'|translate}}</span>
                            <span *ngIf="reservation.status === 3"> {{'COMMON.CHECKEDIN'|translate}}</span>
                            <span *ngIf="reservation.status === 4"> {{'COMMON.CHECKEDOUT'|translate}}</span>
                            <span *ngIf="reservation.status === 5"> {{'COMMON.FAILED'|translate}}</span>
                            <span *ngIf="reservation.status === 99"> {{'COMMON.CANCELLED'|translate}}</span> </font>
                        </h6>
                      </div>
                      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                        <button mat-button color="accent"
                          [routerLink]="['/account/reservationdetail', (reservation.source === 1 ? 'o' : 's') +reservation.reservationId]">{{'COMMON.RESERVATION_DETAIL'|translate}}</button>
                      </div>
                      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                        <button mat-button color="accent" *ngIf="reservation.isCancellable"
                          [routerLink]="['/account/reservation-cancel', +reservation.reservationId]">{{'COMMON.CANCEL_RESERVATION'|translate}}</button>
                      </div>
                    </div>
                    <div fxLayout="row wrap" class="col-gap" *ngFor="let rr of reservation.reservationRooms">
                      <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15"
                        style="text-align: center!important;">

                        <a class="p-link" *ngIf="reservation.image"
                          [routerLink]="['/rooms/search?storeCatId=9']">
                          <img [style.width.px]="40" mat-card-image
                            [src]="'assets/images/buildings/'+reservation.buildingId+'/'+reservation.image"
                            alt="Photo">
                        </a>
                      </div>
                      <div fxFlex.xs="100" fxFlex.sm="85" fxFlex.md="85" fxFlex.lg="85" fxFlex.xl="85">
                        <a class="p-link"
                          [routerLink]="['/rooms/search?storeCatId=9']">
                          {{rr.roomTypeName}} {{rr.roomName}}</a><br />
                        <!-- <span *ngFor="let mapEntry of orderProduct.orderOptionMap | keyvalue; let i = index;">
                          <label>{{mapEntry.key}}: </label>
                          <span *ngFor="let option of mapEntry.value">
                            {{option.optionValueDescriptionName}}{{option.value}}&nbsp;
                          </span>
                          <span>&nbsp;&nbsp;</span>
                        </span> -->
                        <h6 class="accent-color">
                          {{'COMMON.PRICE'|translate}}:
                          {{reservation.symbolLeft}}
                          {{rr.price | number: '1.' + reservation.currencyDecimalPlace + '-'  
                            + reservation.currencyDecimalPlace:appService?.appInfoStorage.language.locale}}
                          {{reservation.symbolRight}}
                          | {{'COMMON.QTY'|translate}}: {{reservation.days}}
                          | {{'COMMON.TOTAL'|translate}}:
                          {{reservation.symbolLeft}}
                          {{rr.total | number: '1.' + reservation.currencyDecimalPlace + '-'  
                            + reservation.currencyDecimalPlace:appService?.appInfoStorage.language.locale}}
                          {{reservation.symbolRight}}
                        </h6>
                      </div>
                  </div>
                </div>

              </div>
              <div class="tile-footer">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">

        <!-- <div fxLayout="row wrap" *ngIf="products && products.length>0">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <h3 style="color: #283593; text-align: center;">{{'COMMON.ORDER_AGAIN'|translate}} </h3>
          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
            *ngFor="let prd of products">
            <div fxLayout="row wrap">
              <div style="text-align: center!important; vertical-align:middle;" fxFlex.xs="100" fxFlex.sm="100"
                fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                <br>
                <a class="p-link" *ngIf="prd.product?.id"
                  [routerLink]="['/products/dtl/'+prd.product?.id+(prd.product?.ptsId?'/'+prd.product?.ptsId:'')]">
                  <img [style.width.px]="40" mat-card-image style="vertical-align: middle;"
                    [src]="'assets/images/products/'+prd.product.id+'/'+prd.product?.image" alt="Photo">
                </a>
              </div>
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="67" fxFlex.lg="67" fxFlex.xl="67">

                <a class="p-link"
                  [routerLink]="['/products/dtl/'+prd.product?.id+(prd.product?.ptsId?'/'+prd.product?.ptsId:'')]">
                  {{prd?.name}} </a><br />
                <h6 class="accent-color">
                  {{'COMMON.PRICE'|translate}}:
                  {{prd.product?.symbolLeft}}
                  {{prd.product?.price | number: '1.' + prd.product?.currencyDecimalPlace + '-'  
                    + prd.product?.currencyDecimalPlace:appService?.appInfoStorage.language.locale}}
                  {{prd.product?.symbolRight}}
                </h6>
                <font style="font-style: italic;">
                  {{'COMMON.SOLD_BY'|translate}}
                  <a [routerLink]="['/products']" [queryParams]="{storeId:prd.product?.storeId}"
                    routerLinkActive="tab-active"> {{prd.product?.storeName}}</a>
                </font>
                <br />
                <button mat-button color="accent" (click)="addPrdToCart(prd)">
                  <mat-icon>add_shopping_cart</mat-icon>
                  {{'COMMON.ORDER_AGAIN'|translate}}
                </button>
                <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>

              </div>
            </div> -->

          <!-- </div>
        </div> -->

      </div>
    </div>
    </div>
  </mat-card>
</div>