<a mat-button [routerLink]="['/admin/sales/summaries']">{{'COMMON.SALES_SUMMARIES' | translate}}
  <mat-icon>navigate_next</mat-icon>
</a>
<button *ngIf="!stores || stores.length===0" mat-raised-button color="accent" [routerLink]="['/account/profile/edit']"
  [queryParams]="{type:'store', sId:0}">{{'COMMON.ADD_STORE'|translate}}</button>

<div fxLayout="row wrap">

  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">

    <mat-tab-group class="table-tab-list" color="accent" (selectedTabChange)="changeOrderType($event)"
      [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
      <mat-tab label="{{'COMMON.SALES_SUMMARIES' | translate}}">

        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-sm="100">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'COMMON.SEARCH' | translate}}"
                autocomplete="off">
            </mat-form-field>
          </div>
        </div>
        <div class="text-center mt-2" *ngIf="messages">
          <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
          <div fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
            <div class="table-wrapper">
              <table mat-table [dataSource]="salesSummariesDatasource" matSort class="w-100">

                <ng-container matColumnDef="storeName">
                  <th mat-header-cell *matHeaderCellDef width="15%" mat-sort-header> {{'COMMON.STORE' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let salesSummary"> {{salesSummary.storeName}} </td>
                </ng-container>

                <ng-container matColumnDef="monthyear">
                  <th mat-header-cell *matHeaderCellDef width="6%" mat-sort-header>
                    {{'COMMON.PERIOD'|translate}}
                  </th>
                  <td mat-cell *matCellDef="let salesSummary"> {{salesSummary.month}}/{{salesSummary.year}} </td>
                </ng-container>

                <ng-container matColumnDef="paymentMethod">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header >
                    {{'COMMON.METHOD'|translate}}
                  </th>
                  <td mat-cell *matCellDef="let salesSummary"> {{salesSummary.paymentMethod}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header> Total </th>
                  <td mat-cell *matCellDef="let salesSummary"  class="text-left">
                    {{salesSummary.currencySymbolLeft}} {{salesSummary.total | number: '1.' + salesSummary.currencyDecimalPlace + '-'  
                + salesSummary.currencyDecimalPlace:appService?.appInfoStorage.language.locale}}
                    {{salesSummary.currencySymbolRight}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="processingFees">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header >
                    {{'COMMON.FEES'|translate}} </th>
                  <td mat-cell *matCellDef="let salesSummary" class="text-left">
                    {{salesSummary.currencySymbolLeft}} {{salesSummary.processingFees | number: '1.' + salesSummary.currencyDecimalPlace + '-'  
                + salesSummary.currencyDecimalPlace:appService?.appInfoStorage.language.locale}}
                    {{salesSummary.currencySymbolRight}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="totalDue">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header > {{'COMMON.TOTAL_DUE'|translate}}
                  </th>
                  <td mat-cell *matCellDef="let salesSummary" class="text-left"
                    [ngStyle]="{'color': salesSummary.totalDue < 0 ? '#ff5722' : '#000000'}">
                    {{salesSummary.currencySymbolLeft}} {{salesSummary.totalDue | number: '1.' + salesSummary.currencyDecimalPlace + '-'  
                + salesSummary.currencyDecimalPlace:appService?.appInfoStorage.language.locale}}
                    {{salesSummary.currencySymbolRight}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="totalPaid">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header > {{'COMMON.TOTAL_PAID'|translate}}
                  </th>
                  <td mat-cell *matCellDef="let salesSummary" class="text-left">
                    {{salesSummary.currencySymbolLeft}} {{salesSummary.totalPaid | number: '1.' + salesSummary.currencyDecimalPlace + '-'  
                + salesSummary.currencyDecimalPlace:appService?.appInfoStorage.language.locale}}
                    {{salesSummary.currencySymbolRight}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header > {{'COMMON.STATUS'|translate}}
                  </th>
                  <td mat-cell *matCellDef="let salesSummary" class="text-left">
                    <span style="color: #0000FF" *ngIf="salesSummary.status === 2"> {{'COMMON.PAY_SUBMITTED'|translate}}
                    </span>
                    <span style="color: #008000" *ngIf="salesSummary.status === 3">
                      {{'COMMON.PAY_ACKNOWLEDGED'|translate}} </span>
                    <span style="color: #FF0000" *ngIf="salesSummary.totalPaid === 0"> {{'COMMON.UNPAID'|translate}}
                    </span>
                    <!-- <span style="color: #0000FF" *ngIf="salesSummary.totalDue > 0 && salesSummary.totalPaid > 0"> {{'COMMON.PARTIALLY_PAID'|translate}} </span> -->
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header> Actions</th>
                  <td mat-cell *matCellDef="let salesSummary">
                    <a mat-icon-button (click)="getSalesSummaryDetails(salesSummary.id, salesSummary.payoutId)"
                      color="secondary" matTooltip="{{'COMMON.VIEW_DETAILS' | translate}}">
                      <mat-icon>info</mat-icon>
                    </a>
                    &nbsp;&nbsp;
                    <button mat-raised-button (click)="acknowledgeSalesSummary(salesSummary.id)" color="accent"
                      fxLayout="row" fxLayoutAlign="center center" *ngIf="salesSummary.status === 2 && !isAdminPage"
                      matTooltip="{{'COMMON.ACKNOWLEDGE' | translate}}">
                      <span class="mx-1 uppercase">{{'COMMON.ACKNOWLEDGE_SHORT' | translate}}</span>
                      <mat-icon>done_all</mat-icon>
                    </button>

                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="salesSummariesColumns"></tr>
                <tr mat-row *matRowDef="let salesSummary; columns: salesSummariesColumns;"></tr>
              </table>
              <p *ngIf="salesSummariesDatasource?.data.length === 0" class="py-5 mb-0 text-center">
                {{'MESSAGE.NO_DATA' | translate}}</p>
            </div>
            <mat-paginator [pageSize]="10" #MatPaginatorO [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
            </mat-paginator>
          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
            <mat-card>
              <form name="form" (ngSubmit)="f.form.valid && search()" #f="ngForm" validate>

                <div fxLayout="row wrap">
                  <div class="text-center">
                    <button mat-raised-button (click)="button='filter'" color="primary" fxLayout="row"
                      fxLayoutAlign="center center" type="submit">
                      <span class="mx-1 uppercase">{{'COMMON.FILTER' | translate}}</span>
                      <mat-icon>filter_alt</mat-icon>
                    </button>
                  </div>

                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label> {{'COMMON.STORE' | translate}}</mat-label>
                    <mat-select [(ngModel)]="searchCriteria.storeId" name="store">
                      <mat-option [value]="0">
                        {{'COMMON.ALL_STORES'|translate}}
                      </mat-option>
                      <mat-option *ngFor="let store of stores" [value]="store.id">
                        {{store.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.YEAR' | translate}}</mat-label>
                    <input matInput type="text" class="form-control" id="model" [(ngModel)]="searchCriteria.year"
                      name="model" #model="ngModel">
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.MONTH' | translate}}</mat-label>
                    <input matInput type="text" class="form-control" id="model" [(ngModel)]="searchCriteria.month"
                      name="model" #model="ngModel">
                  </mat-form-field>

                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label> {{'COMMON.STATUS' | translate}}</mat-label>
                    <mat-select [(ngModel)]="searchCriteria.status" name="status">
                      <mat-option [value]="-1">
                        {{'COMMON.ALL_STATUS'|translate}}
                      </mat-option>
                      <mat-option [value]="1">
                        {{'COMMON.UNPAID'|translate}}
                      </mat-option>
                      <mat-option [value]="2">
                        {{'COMMON.PAID'|translate}}
                      </mat-option>
                      <mat-option [value]="3">
                        {{'COMMON.ACKNOWLEDGED'|translate}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.START_DATE' | translate}}</mat-label><br />
                    <input matInput [matDatepicker]="beginDatePicker" class="form-control" id="beginDate"
                      [(ngModel)]="searchCriteria.beginDate" name="beginDate" #beginDate="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="beginDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #beginDatePicker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.END_DATE' | translate}}</mat-label><br />
                    <input matInput [matDatepicker]="endDatePicker" class="form-control" id="endDate"
                      [(ngModel)]="searchCriteria.endDate" name="endDate" #endDate="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                  </mat-form-field>

                  <div class="text-center">
                    <button mat-raised-button (click)="button='clear'" color="accent" fxLayout="row"
                      fxLayoutAlign="center center" type="submit">
                      <span class="mx-1 uppercase">{{'COMMON.CLEAR' | translate}}</span>
                      <mat-icon>clear</mat-icon>
                    </button>
                  </div>
                </div>
              </form>
            </mat-card>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="{{'COMMON.DETAILS' | translate}}">
        <app-sales-summary></app-sales-summary>
      </mat-tab>
    </mat-tab-group>
  </div>



</div>