<mat-error severity="error" *ngIf="!storeHoursMessage">{{error}}</mat-error>
<div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">

    <mat-card
      *ngIf="(storeHoursMessage || (store && store.presentPreorderScreen && store.presentPreorderScreen.name === 'ALWAYS'))">
      <div fxLayout="row wrap" fxLayoutGap="10px grid">
        <mat-error severity="warning">{{storeHoursMessage}}</mat-error>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="10px grid" *ngIf="store && store.presentPreorderScreen.name !== 'NEVER'">
        <mat-checkbox class="mb-2 d-block" [(ngModel)]="scheduleForLater" id="scheduleForLater" name="scheduleForLater"
          (change)="scheduleForLaterChecked($event);">

          <h6 *ngIf="pickUp==='1'">{{'COMMON.CHOOSE_PICKUP_DATE'|translate}}</h6>
          <h6 *ngIf="pickUp==='0'">{{'COMMON.CHOOSE_DELIVERY_DATE'|translate}}</h6>
        </mat-checkbox>
      </div>
      <div fxLayout="row wrap" *ngIf="scheduleForLater">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
          <mat-form-field class="w-90">
            <mat-label> {{'COMMON.CARRYOUT_DATE' | translate}} </mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="order.preorderDate" [min]="nextOpenDateTime"
              [max]="maxScheduleDate" (dateInput)="getHours($event.value)" class="form-control" id="pickupDatetime"
              name="pickupDatetime" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
          <mat-form-field class="w-90">
            <mat-select placeholder="HH" id="hrs" name="hrs" [(ngModel)]="order.preorderHour" #hrs="ngModel"
              (selectionChange)="hourSelectionChange($event)" required>
              <mat-option *ngFor="let hr of hours" [value]="hr">
                {{hr}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
          <mat-form-field class="w-90">
            <mat-select placeholder="MM" id="mn" name="mns" [(ngModel)]="order.preorderMinute" #mns="ngModel"
              (selectionChange)="minuteSelectionChange($event)" required>
              <mat-option *ngFor="let minute of minutes" [value]="minute">
                {{minute}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </mat-card>

    <mat-card>
      <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33" fxFlex.xl="33">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="pickUp"
            (change)="deliveryOptionChange($event);">
            <mat-button-toggle value="0">{{'COMMON.SHIP_TO_ME'|translate}}</mat-button-toggle>
            <mat-button-toggle value="1">{{'COMMON.I_PICKUP'|translate}}</mat-button-toggle>
          </mat-button-toggle-group>
          <div fxLayout="row wrap" fxLayoutGap="10px grid" *ngIf="pickUp==='0'">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="primary-color"
              *ngIf=" deliveryOpen && zoneToGeoZone && zoneToGeoZone.deliveryTimeBegin > 0">
              <font color="green">
                <strong>
                  {{'COMMON.ARRIVING' | translate}}
                  {{zoneToGeoZone.deliveryTimeBegin}} - {{zoneToGeoZone.deliveryTimeEnd}}
                  {{generateDeliveryEstimationTimeMessage()}}
                </strong>
              </font>

            </div>
            <h6>{{'COMMON.SHIPPING_ADDRESS' | translate}}</h6>
            <a [routerLink]="['/checkout/addresses']" [queryParams]="{addressType: 1}" routerLinkActive="tab-active"
              *ngIf="user.shippingAddress && user.shippingAddress.address1 !== '' ">{{'COMMON.CHANGE' | translate}}</a>
            <a [routerLink]="['/checkout/addresses']" [queryParams]="{addressType: 1}" routerLinkActive="tab-active"
              *ngIf="!(user.shippingAddress && user.shippingAddress.address1 !== '') ">{{'COMMON.ADD' | translate}}</a>
          </div>
          <div *ngIf="user.shippingAddress && pickUp === '0'">
            {{user.shippingAddress.firstName}} {{user.shippingAddress.lastName}}<br />
            {{user.shippingAddress.address1}} {{user.shippingAddress.address2}}<br />
            {{user.shippingAddress.city}}, {{user.shippingAddress.zone.name}}
            {{user.shippingAddress.postCode}}<br />
            {{user.shippingAddress.country.name}}<br />
          </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="30" fxFlex.xl="30">
          <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <h6>{{'COMMON.BILLING_ADDRESS' | translate}}</h6>
            <a [routerLink]="['/checkout/addresses']" [queryParams]="{addressType: 2}" routerLinkActive="tab-active"
              *ngIf="user.billingAddress && user.billingAddress.address1 !== undefined ">{{'COMMON.CHANGE' | translate}}</a>
            <a [routerLink]="['/checkout/addresses']" [queryParams]="{addressType: 2}" routerLinkActive="tab-active"
              *ngIf="!(user.billingAddress && user.billingAddress.address1 !== undefined)">{{'COMMON.ADD' | translate}}</a>
          </div>
          <div *ngIf="user.billingAddress">
            {{user.billingAddress.firstName}} {{user.billingAddress.lastName}}<br />
            {{user.billingAddress.address1}} {{user.billingAddress.address2}}<br />
            {{user.billingAddress.city}}, {{user.billingAddress.zone.name}}
            {{user.billingAddress.postCode}}<br />
            {{user.billingAddress.country.name}}<br>
          </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="36" fxFlex.xl="36">
          
            <div fxLayout="row wrap" fxLayoutGap="10px grid">
              <h6>{{'COMMON.PAYMENT_METHOD' | translate}}: {{ payCash?'Cash':(
                  user.paymentMethodCode==='CREDIT_CARD'?('COMMON.CREDIT_CARD' | translate):
                  user.paymentMethodCode)}}</h6> 
              <a  [routerLink]="['/checkout/cards']" [queryParams]="{paymentMethodCode: user.paymentMethodCode}"
                routerLinkActive="tab-active" *ngIf="user.paymentMethodCode">{{'COMMON.CHANGE' | translate}}</a>
              <a  [routerLink]="['/checkout/cards']" [queryParams]="{paymentMethodCode: user.paymentMethodCode}"
                routerLinkActive="tab-active" *ngIf="!user.paymentMethodCode">{{'COMMON.ADD' | translate}}</a>
            </div>
            <div fxLayout="row wrap" *ngIf="!payCash && user.paymentMethodCode === 'CREDIT_CARD' && user.creditCard">
              <img [src]="'assets/images/cards/' + user.creditCard.cardTypeIndex + '.png'" [style.width.px]="50"
                class="d-block"> {{'COMMON.ENDING_IN' | translate}} {{'xxx'+user.creditCard.last4Digits}}
            </div>
            <div *ngIf="!payCash && user.paymentMethodCode === 'TMONEY' && user.tmoney">
              {{'COMMON.PHONE_NUMBER' | translate}} : {{user.tmoney.phoneNumber}}
            </div>
            <div *ngIf="!payCash && user.paymentMethodCode === 'FLOOZ' && user.flooz">
              {{'COMMON.PHONE_NUMBER' | translate}} : {{user.flooz.phoneNumber}}
            </div> 
          <div fxLayout="row wrap" fxLayoutGap="10px grid" *ngIf="isCashAllowed()">
            <mat-slide-toggle [(ngModel)]="payCash" name="payCash" #isPayCash="ngModel" class="my-2">
              {{ 'COMMON.PAY_CASH' | translate }}
            </mat-slide-toggle>
            <br />
          </div>

        </div>




      </div>
    </mat-card>

    <embryo-Cart [purchasePossible]="purchasePossible" [pickUp]="pickUp" (placeYourOrderEvent)="placeYourOrder()"
      (orderCompleteEvent)="updateOrder($event)" [storeId]="storeId"></embryo-Cart>
  </div>
  <div fxFlex.xs="0" fxFlex.sm="0" fxHide.xs="true" fxHide.sm="true" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
    <mat-card>
      <div fxLayout="row wrap">
        <mat-error *ngIf="error && !storeHoursMessage">{{error}}</mat-error>
      </div>

      <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" (click)="placeYourOrder()"
        type="button" style="width:100%;" [disabled]="(appService.hasOrderSucceedMap[storeId] === true ||
        (appService.navbarCartDeliveryMap[storeId] === '0' && !appService.navbarCartShippingGeoZoneMap[storeId]))
        || appService.navbarCartStoreAllowOrderMap[storeId]">
        <span style="font-size:12px;" class="mx-1 uppercase">{{'COMMON.PLACE_YOUR_ORDER' | translate}}</span>
      </button>

      <div style="text-align: center; font-size:11px; width:100%;">
        <a [routerLink]="['/terms-conditions']">{{'COMMON.PLACE_YOUR_ORDER_NOTICE' | translate}} </a></div>
      <h6>{{'COMMON.ORDER_SUMMARY' | translate}} </h6>
      <div fxLayout="row wrap" fxLayoutAlign="none">
        <div fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
          {{'COMMON.ITEMS' | translate}} ({{appService?.navbarCartCountMap[storeId]}}):</div>
        <div fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40" style="text-align: right;">
          {{appService?.navbarCartPriceMap[storeId] | currency:appService?.navbarCartCurrencyMap[storeId].symbolLeft 
              + appService?.navbarCartCurrencyMap[storeId].symbolRight:true:'1.' 
              + appService?.navbarCartCurrencyMap[storeId].decimalPlace + '-'  
              + appService?.navbarCartCurrencyMap[storeId].decimalPlace:appService?.appInfoStorage.language.locale}}
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="none">
        <div fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
          {{'COMMON.DELIVERY_FEE' | translate}}:</div>
        <div fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40" style="text-align: right;">
          {{appService?.navbarCartShippingMap[storeId] | currency:appService?.navbarCartCurrencyMap[storeId].symbolLeft 
              + appService?.navbarCartCurrencyMap[storeId].symbolRight:true:'1.' 
              + appService?.navbarCartCurrencyMap[storeId].decimalPlace + '-'  
              + appService?.navbarCartCurrencyMap[storeId].decimalPlace:appService?.appInfoStorage.language.locale}}
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="none">
        <div fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
          {{'COMMON.TOTAL_BEFORE_TAX' | translate}}:</div>
        <div fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40" style="text-align: right;">
          {{appService?.navbarCartTotalBeforeTaxMap[storeId] | currency:appService?.navbarCartCurrencyMap[storeId].symbolLeft 
              + appService?.navbarCartCurrencyMap[storeId].symbolRight:true:'1.' 
              + appService?.navbarCartCurrencyMap[storeId].decimalPlace + '-'  
              + appService?.navbarCartCurrencyMap[storeId].decimalPlace:appService?.appInfoStorage.language.locale}}
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="none">
        <div fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
          {{'COMMON.ESTIMATED_TAX' | translate}}:</div>
        <div fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40" style="text-align: right;">
          {{appService?.navbarCartEstimatedTaxMap[storeId] | currency:appService?.navbarCartCurrencyMap[storeId].symbolLeft 
              + appService?.navbarCartCurrencyMap[storeId].symbolRight:true:'1.' 
              + appService?.navbarCartCurrencyMap[storeId].decimalPlace + '-'  
              + appService?.navbarCartCurrencyMap[storeId].decimalPlace:appService?.appInfoStorage.language.locale}}
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="none" style="border-bottom: 1px solid #0052C2">
        <div fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
          {{'COMMON.TOTAL' | translate}}:
        </div>
        <div fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40" style="text-align: right;">
          {{appService?.navbarCartTotalMap[storeId] | currency:appService?.navbarCartCurrencyMap[storeId].symbolLeft 
              + appService?.navbarCartCurrencyMap[storeId].symbolRight:true:'1.' 
              + appService?.navbarCartCurrencyMap[storeId].decimalPlace + '-'  
              + appService?.navbarCartCurrencyMap[storeId].decimalPlace:appService?.appInfoStorage.language.locale}}
        </div>
      </div>

      <br />
      <div fxLayout="row wrap" fxLayoutAlign="none">
        <div fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
          <h6 style="color: #ff5722">{{'COMMON.ORDER_TOTAL' | translate}}:</h6>
        </div>
        <div fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40" style="text-align: right;">
          <h6 style="color: #ff5722">
            {{appService?.navbarCartTotalMap[storeId] | currency:appService?.navbarCartCurrencyMap[storeId].symbolLeft 
              + appService?.navbarCartCurrencyMap[storeId].symbolRight:true:'1.' 
              + appService?.navbarCartCurrencyMap[storeId].decimalPlace + '-'  
              + appService?.navbarCartCurrencyMap[storeId].decimalPlace:appService?.appInfoStorage.language.locale}}
          </h6>
        </div>
      </div>

    </mat-card>
    <br />
    <mat-card>
      <div fxLayout="row wrap" fxLayoutAlign="none">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
          <h6 class="primary-color">{{'COMMON.NOTE_FOR_STORE' | translate}}</h6>
          <textarea rows="5" cols="28" id="comments" appearance="outline" [(ngModel)]="order.comment" name="comments"
            #comments="ngModel">
        </textarea>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="none">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
          <br />
          <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
          <br />
          <h6 class="primary-color"> {{'COMMON.NOTE_FOR_DEST' | translate}}</h6>
          <mat-form-field class="w-100 mb-3">
            <mat-label> {{'COMMON.PHONE' | translate}}</mat-label>
            <input matInput type="text" placeholder="(E.x. +22890112234)" class="form-control" id="phone"
              [(ngModel)]="order.shippingCustomField" name="phone" #phone="ngModel">
          </mat-form-field>
          <textarea rows="5" cols="28" id="customField" appearance="outline" [(ngModel)]="order.customField"
            name="customField" #customField="ngModel">
        </textarea>

        </div>

      </div>
      <!-- <div fxLayout="row wrap" class="w-100">       
        
      </div> -->
    </mat-card>
  </div>
</div>