<mat-error severity="error">{{error}}</mat-error>
<div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">

      <mat-card *ngIf="showPreorder()">
        <div fxLayout="row wrap" fxLayoutGap="10px grid" *ngIf="pickUp==='1' && !storeOpen">
          <mat-error severity="warning">{{storeHoursMessage}}</mat-error>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="10px grid">
          <mat-checkbox class="mb-2 d-block" [(ngModel)]="scheduleForLater" 
            id="scheduleForLater" name="scheduleForLater" (change)="scheduleForLaterChecked($event);">
            {{'COMMON.SCHEDULE_FOR_LATER' | translate}}
          </mat-checkbox>
        </div>
        <div fxLayout="row wrap" *ngIf="scheduleForLater">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
            <mat-form-field class="w-90">
              <mat-label> {{'COMMON.CARRYOUT_DATE' | translate}} </mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="order.preorderDate" [min]="nextOpenDateTime" [max]="maxScheduleDate"
                class="form-control" id="pickupDatetime" name="pickupDatetime" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>  
        
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
            <mat-form-field class="w-90">
              <mat-select placeholder="HH" id="hrs" name="hrs" [(ngModel)]="order.preorderHour" #hrs="ngModel"
                (selectionChange)="hourSelectionChange($event)" required>
                <mat-option *ngFor="let hr of hours" [value]="hr">
                  {{hr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
            <mat-form-field class="w-90">
              <mat-select placeholder="MM" id="mn" name="mns" [(ngModel)]="order.preorderMinute" #mns="ngModel" 
                 (selectionChange)="minuteSelectionChange($event)"required>
                <mat-option *ngFor="let minute of minutes" [value]="minute">
                  {{minute}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> 
          <!-- <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" *ngIf="none">
            <mat-form-field class="w-90">
              <mat-select placeholder="{{'COMMON.TIME_PERIOD' | translate}}" id="timePrds" 
                 (selectionChange)="timePeriodSelectionChange($event)" name="timePrds"
               [(ngModel)]="order.preorderTimePeriod" #timePrds="ngModel" required>
                <mat-option *ngFor="let timePeriod of timePeriods" [value]="timePeriod">
                  {{timePeriod.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>  -->
        </div> 
      
    </mat-card>

    <mat-card>
      <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33" fxFlex.xl="33">
          <mat-radio-group [(ngModel)]="pickUp" (change)="deliveryOptionChange($event);">
            <mat-radio-button  value="0">
              {{'COMMON.SHIP_TO_ME'|translate}}
            </mat-radio-button>
            <mat-radio-button  value="1">
              {{'COMMON.I_PICKUP'|translate}}
            </mat-radio-button> 
          </mat-radio-group> 
          <div fxLayout="row wrap" fxLayoutGap="10px grid" *ngIf="pickUp==='0'">
            <h6>{{'COMMON.SHIPPING_ADDRESS' | translate}}</h6>
            <a [routerLink]="['/checkout/addresses']" [queryParams]="{addressType: 1}"
              routerLinkActive="tab-active" *ngIf="user.shippingAddress && user.shippingAddress.address1 !== '' ">{{'COMMON.CHANGE' | translate}}</a>
            <a [routerLink]="['/checkout/addresses']" [queryParams]="{addressType: 1}"
              routerLinkActive="tab-active" *ngIf="!(user.shippingAddress && user.shippingAddress.address1 !== '') ">{{'COMMON.ADD' | translate}}</a>
          </div>
          <div *ngIf="user.shippingAddress && pickUp === '0'">
            {{user.shippingAddress.firstName}} {{user.shippingAddress.lastName}}<br />
            {{user.shippingAddress.address1}} {{user.shippingAddress.address2}}<br />
            {{user.shippingAddress.city}}, {{user.shippingAddress.zone.name}}
            {{user.shippingAddress.postCode}}<br />
            {{user.shippingAddress.country.name}}<br />
          </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33" fxFlex.xl="33">
          <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <h6>{{'COMMON.BILLING_ADDRESS' | translate}}</h6>
            <a [routerLink]="['/checkout/addresses']" [queryParams]="{addressType: 2}"
              routerLinkActive="tab-active" *ngIf="user.billingAddress && user.billingAddress.address1 !== undefined ">{{'COMMON.CHANGE' | translate}}</a>
            <a [routerLink]="['/checkout/addresses']" [queryParams]="{addressType: 2}"
              routerLinkActive="tab-active" *ngIf="!(user.billingAddress && user.billingAddress.address1 !== undefined)">{{'COMMON.ADD' | translate}}</a>
          </div>
          <div *ngIf="user.billingAddress">
            {{user.billingAddress.firstName}} {{user.billingAddress.lastName}}<br />
            {{user.billingAddress.address1}} {{user.billingAddress.address2}}<br />
            {{user.billingAddress.city}}, {{user.billingAddress.zone.name}}
            {{user.billingAddress.postCode}}<br />
            {{user.billingAddress.country.name}}<br>
          </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33" fxFlex.xl="33">
          <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <h6>{{'COMMON.PAYMENT_METHOD' | translate}}: {{
                  user.paymentMethodCode==='CREDIT_CARD'?('COMMON.CREDIT_CARD' | translate):
                  user.paymentMethodCode}}</h6>
            <a [routerLink]="['/checkout/cards']" [queryParams]="{paymentMethodCode: user.paymentMethodCode}"
              routerLinkActive="tab-active" *ngIf="user.paymentMethodCode">{{'COMMON.CHANGE' | translate}}</a>
            <a [routerLink]="['/checkout/cards']" [queryParams]="{paymentMethodCode: user.paymentMethodCode}"
              routerLinkActive="tab-active" *ngIf="!user.paymentMethodCode">{{'COMMON.ADD' | translate}}</a>
          </div>
          <div *ngIf="user.paymentMethodCode === 'CREDIT_CARD' && user.creditCard">
            {{'COMMON.ENDING_IN' | translate}} {{'xxx'+user.creditCard.last4Digits}}
          </div>
        <div *ngIf="user.paymentMethodCode === 'TMONEY' && user.tmoney">
            {{'COMMON.PHONE_NUMBER' | translate}} : {{user.tmoney.phoneNumber}}
          </div>
        <div *ngIf="user.paymentMethodCode === 'FLOOZ' && user.flooz">
            {{'COMMON.PHONE_NUMBER' | translate}} : {{user.flooz.phoneNumber}}
          </div>
        </div>
      </div>
    </mat-card>

    <embryo-Cart [pickUp] ="pickUp" (placeYourOrderEvent)="placeYourOrder()" (orderCompleteEvent)="updateOrder($event)" [storeId]="storeId"></embryo-Cart>
  </div>
  <div fxFlex.xs="0" fxFlex.sm="0" fxHide.xs="true" fxHide.sm="true" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
    <mat-card>
      <div fxLayout="row wrap">
        <mat-error *ngIf="error">{{error}}</mat-error>
      </div>
      <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" (click)="placeYourOrder()"
        type="button" style="width:100%;" [disabled]="(appService.hasOrderSucceedMap[storeId] === true || 
        (appService.navbarCartDeliveryMap[storeId] === '0' && !appService.navbarCartShippingGeoZoneMap[storeId]))
        || appService.navbarCartStoreAllowOrderMap[storeId]">
        <span style="font-size:12px;" class="mx-1 uppercase">{{'COMMON.PLACE_YOUR_ORDER' | translate}}</span>
      </button>

      <div style="text-align: center; font-size:11px; width:100%;">
        <a [routerLink]="['/terms-conditions']">{{'COMMON.PLACE_YOUR_ORDER_NOTICE' | translate}} </a></div>
      <h6>{{'COMMON.ORDER_SUMMARY' | translate}} </h6>
      <div fxLayout="row wrap" fxLayoutAlign="none">
        <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
          {{'COMMON.ITEMS' | translate}} ({{appService?.navbarCartCountMap[storeId]}}):</div>
        <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
          {{appService?.navbarCartCurrencyMap[storeId].symbolLeft}} {{appService?.navbarCartPriceMap[storeId]}}
          {{appService?.navbarCartCurrencyMap[storeId].symbolRight}}</div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="none">
        <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
          {{'COMMON.SHIPPING_AND_HANDLING' | translate}}:</div>
        <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
          {{appService?.navbarCartCurrencyMap[storeId].symbolLeft}} {{appService?.navbarCartShippingMap[storeId]}}
          {{appService?.navbarCartCurrencyMap[storeId].symbolRight}}</div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="none">
        <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
          {{'COMMON.TOTAL_BEFORE_TAX' | translate}}:</div>
        <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
          {{appService?.navbarCartCurrencyMap[storeId].symbolLeft}}
          {{appService?.navbarCartTotalBeforeTaxMap[storeId]}}
          {{appService?.navbarCartCurrencyMap[storeId].symbolRight}}</div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="none">
        <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
          {{'COMMON.ESTIMATED_TAX' | translate}}:</div>
        <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
          {{appService?.navbarCartCurrencyMap[storeId].symbolLeft}}
          {{appService?.navbarCartEstimatedTaxMap[storeId]}}
          {{appService?.navbarCartCurrencyMap[storeId].symbolRight}}</div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="none" style="border-bottom: 1px solid #0052C2">
        <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
          {{'COMMON.TOTAL' | translate}}:</div>
        <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
          {{appService?.navbarCartCurrencyMap[storeId].symbolLeft}} {{appService?.navbarCartTotalMap[storeId]}}
          {{appService?.navbarCartCurrencyMap[storeId].symbolRight}}</div>
      </div>

      <br />
      <div fxLayout="row wrap" fxLayoutAlign="none">
        <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
          <h6 style="color: #ff5722">{{'COMMON.ORDER_TOTAL' | translate}}:</h6>
        </div>
        <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
          <h6 style="color: #ff5722">{{appService?.navbarCartCurrencyMap[storeId].symbolLeft}}
            {{appService?.navbarCartTotalMap[storeId]}} {{appService?.navbarCartCurrencyMap[storeId].symbolRight}}
          </h6>
        </div>
      </div>

    </mat-card>

    <mat-card>
      <div fxLayout="row wrap" class="w-100">
        <mat-label> {{'COMMON.NOTE_FOR_STORE' | translate}}</mat-label>
        <textarea matInput rows="5" cols="50" class="form-control" id="comments"
            [(ngModel)]="order.comment" name="comments" #comments="ngModel"></textarea>
      </div>
      
      <div fxLayout="row wrap" class="w-100">
        <mat-slide-toggle [(ngModel)]="shouldNotify" name="notify" #notify="ngModel" (change)="setDestMessage()">
          {{ 'COMMON.NOTIFY_CUSTOMER' | translate }}
        </mat-slide-toggle>
        <mat-form-field class="w-100 mb-3" *ngIf="shouldNotify">
            <mat-label> {{'COMMON.PHONE' | translate}}(E.x. +22890......)</mat-label>
            <input matInput type="text" class="form-control" id="phone" [(ngModel)]="order.shippingCustomField"
              name="phone" #phone="ngModel" required>
          </mat-form-field>
      </div>
      <div fxLayout="row wrap" class="w-100">
        <mat-label> {{'COMMON.NOTE_FOR_DEST' | translate}}</mat-label>
        <textarea matInput rows="5" cols="50" class="form-control" id="customField" [disabled]="!shouldNotify"
            [(ngModel)]="order.customField" name="customField"
            #customField="ngModel"></textarea>
      </div>
    </mat-card>
  </div>
</div>