<embryo-PageTitle heading="{{'COMMON.ORDER_REVIEW' | translate}}" subHeading=""></embryo-PageTitle>
<br/>
<div style="text-align: center; font-size:14px; width:100%;" *ngIf="order !== undefined && order.id > 0">
  {{message}} <a [routerLink]="['/order']">{{order.id}} </a>
</div>
<div class="inner-container section-gap"
  *ngIf="(appService.localStorageCartProducts && appService.localStorageCartProducts.length>0); else elseBlock">
  <div class="checkout-option">
    <div class="container" *ngIf="isUserLoggedIn()">
      <mat-tab-group>
        <mat-tab label="{{appService.navbarCartCurrencyMap[item.key].currencyCode}}" *ngFor="let item of appService.localStorageCartProductsMap | keyvalue">
          <app-Payment-Currency (orderCompleteEvent)="updateOrder($event)" [currencyId]="item.key"></app-Payment-Currency>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="section-gap-lg text-center">
    <div class="mb-4">
      <img src="assets/images/empty-cart.png" height="128" width="128" alt="cart-empty">
    </div>
    <h4> {{'MESSAGE.CART_EMPTY'|translate}}.</h4>
    <a href="javascript:void(0)" class="primary-color" [routerLink]="['/']">{{'MESSAGE.GO_SHOPPING'|translate}}</a>
  </div>
</ng-template>