.section-gap {
    padding: 2.5rem 0;
    padding-top: 2.5rem;
    padding-right: 0px;
    padding-bottom: 2.5rem;
    padding-left: 0px;
}
a:hover {
    color: #283593;
}
a { 
    color: #ff5722;
}
.mat-error {
    color: #ff5722;
    font-weight: 500;
    font-size: 1.2rem;
}