<div class="overlay" *ngIf="saving">
  <div class="center">
    <mat-progress-spinner diameter="50" mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
</div>
<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" *ngIf="isFromAdmin" validate>
  <div fxLayout="row wrap" *ngIf="messages">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="p-1">
      <div class="text-center mt-2" style="color: green; font-size: large;" *ngIf="!hasError && messages">
        <mat-icon>done</mat-icon> {{messages}}
      </div>
      <div class="text-center mt-2" style="color: #ff5722; font-size: large;" *ngIf="hasError && messages">
        <mat-icon>close</mat-icon> {{messages}}
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" *ngIf="bill?.id > 0">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70" class="p-1">
      <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="33" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <button (click)="addPayment()" mat-fab color="primary" matTooltip="{{'COMMON.ADD' | translate}}">
            <mat-icon class="mat-icon-xlg">add_circle</mat-icon>
          </button>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="33" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" style="float: left;"
            type="submit" [disabled]="!f.form.valid || billPayment.status === 5">
            <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
            <mat-icon>save</mat-icon>
          </button>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="33" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <button mat-raised-button color="accent" fxLayout="row" fxLayoutAlign="center center" style="float: left;"
            (click)="submitBillPayment()" [disabled]="!f.form.valid ||billPayment.status === 5">
            <span class="mx-1 uppercase">{{'COMMON.SUBMIT' | translate}}</span>
            <mat-icon>price_check</mat-icon>
          </button>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
          <h4 style="color:green" *ngIf="bill.amountDue===0">
            {{'COMMON.TOTAL_DUE' | translate}} : {{bill?.store?.currency?.symbolLeft}}
            {{bill.amountDue| number:'1.0-2'}}
            {{bill?.store?.currency?.symbolRight}}
          </h4>
          <h4 style="color:red" *ngIf="bill.amountDue>0">
            {{'COMMON.TOTAL_DUE' | translate}} : {{bill?.store?.currency?.symbolLeft}}
            {{bill.amountDue| number:'1.0-2'}}
            {{bill?.store?.currency?.symbolRight}}
          </h4>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
          <h4 style="color:red" *ngIf="billPayment.status === 1">
            {{'COMMON.STATUS' | translate}} : {{'COMMON.UNPAID' | translate}}
          </h4>
          <h4 style="color:green" *ngIf="billPayment.status === 5">
            {{'COMMON.STATUS' | translate}} : {{'COMMON.PAID' | translate}}
          </h4>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.PAYMENT_DATE' | translate}} </mat-label>
            <input matInput [matDatepicker]="paymentDatePicker" class="form-control" id="paymentDate"
              [(ngModel)]="billPayment.paymentDate" name="paymentDate" #paymentDate="ngModel">
            <mat-datepicker-toggle matSuffix [for]="paymentDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #paymentDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
          <mat-form-field class="w-100">
            <mat-label> {{'COMMON.DUE_DATE' | translate}} </mat-label>
            <input matInput [matDatepicker]="dueDatePicker" class="form-control" id="dueDate"
              [(ngModel)]="billPayment.dueDate" name="dueDate" #dueDate="ngModel" required>
            <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> {{'COMMON.AMOUNT' | translate}}
            </mat-label>
            <input matInput type="text" class="form-control" id="subTotal" [(ngModel)]="billPayment.amount"
              name="amount" #amount="ngModel" required>
            <mat-error *ngIf="f.submitted && amount.invalid" severity="error">
              {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> {{'COMMON.SELECT_PAYEE' | translate}}
              <!-- <font color="red">*</font> -->
            </mat-label>
            <mat-select [(ngModel)]="billPayment.receivedBy" appearance="outline" name="paidBy"
              [compareWith]="compareObjects" #paidBy="ngModel">
              <mat-option *ngFor="let storeEmployee of storeEmployees" [value]="storeEmployee.employee">
                {{storeEmployee.employee.firstName}} {{storeEmployee.employee.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30" class="p-1">
      <mat-label> {{'COMMON.ATTACH_DOC' | translate}}</mat-label>
      <input-file [(ngModel)]="picture" name="gallery" #gallery="ngModel" fileLimit="1" fileAccept="image/*"
        [linkEnabled]="false">
      </input-file>
    </div>
  </div>
</form>

<table mat-table [dataSource]="billPayDatasource" matSort class="w-100">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell width="10%" *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let billPayment"> {{billPayment.id}} </td>
  </ng-container>
  <!-- Due Date Column -->
  <ng-container matColumnDef="dueDate">
    <th mat-header-cell width="15%" *matHeaderCellDef mat-sort-header> {{'COMMON.DUE_DATE'|translate}} </th>
    <td mat-cell *matCellDef="let billPayment"> {{billPayment.dueDate | date:'mediumDate' : '' : translate.currentLang}}
    </td>
  </ng-container>
  <!-- Payment Date Column -->
  <ng-container matColumnDef="paymentDate">
    <th mat-header-cell width="15%" *matHeaderCellDef mat-sort-header> {{'COMMON.PAYMENT_DATE'|translate}} </th>
    <td mat-cell *matCellDef="let billPayment">
      {{billPayment.paymentDate | date:'mediumDate' : '' : translate.currentLang}} </td>
  </ng-container>
  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell width="20%" *matHeaderCellDef mat-sort-header> {{'COMMON.AMOUNT'|translate}} </th>
    <td mat-cell *matCellDef="let billPayment"> {{billPayment.amount| number:'1.0-2'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="receiver">
    <th mat-header-cell width="30%" *matHeaderCellDef mat-sort-header> {{'COMMON.RECEIVED_BY'|translate}} </th>
    <td mat-cell *matCellDef="let billPayment"> {{billPayment.receivedBy?(billPayment.receivedBy.firstName + ' ' + billPayment.receivedBy.lastName):'' }}
    </td>
  </ng-container>
  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef width="15%" mat-sort-header>{{'COMMON.STATUS'|translate}}</th>
    <td mat-cell *matCellDef="let bill">
      <span *ngIf="bill.status === 1" style="color: red">{{'COMMON.UNPAID'|translate}}</span>
      <span *ngIf="bill.status === 5" style="color: green">{{'COMMON.PAID'|translate}}</span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="billPayColumns"></tr>
  <tr mat-row *matRowDef="let billPayment; columns: billPayColumns;" (click)="getBillPayment(billPayment)"></tr>
</table>
<p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">{{'MESSAGE.NO_DATA' | translate}}</p>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>