<div fxLayout="row wrap">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
    <mat-form-field appearance="outline" class="w-100" *ngIf="stores && stores.length>0">
      <mat-label> {{'COMMON.SELECT_STORE' | translate}} <font color="red">*</font>
      </mat-label>
      <mat-select [(ngModel)]="selectedStore" appearance="outline" name="store"
        (selectionChange)="storeSelected($event)">
        <mat-option *ngFor="let store of stores" [value]="store">
          {{store.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button *ngIf="!stores || stores.length===0" mat-raised-button color="accent"
      [routerLink]="['/account/profile/edit']"
      [queryParams]="{type:'store', sId:0}">{{'COMMON.ADD_STORE'|translate}}</button>
  </div>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
    *ngIf="selectedStore && selectedStore.id > 0">
    <mat-tab-group class="table-tab-list" color="accent" [selectedIndex]="selected.value"
      (selectedIndexChange)="selected.setValue($event)">
      <mat-tab label="{{'COMMON.BILLS' | translate}}">
        <div fxLayout="row wrap">
          <div fxFlex="50" fxFlex.gt-sm="50" class="p-3">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'COMMON.SEARCH' | translate}}"
                autocomplete="off">
            </mat-form-field>
          </div>
          <div fxFlex="10" fxFlex.gt-sm="10" class="p-3" *ngIf="!userId">
            <button (click)="action = 'add'; messages = ''; getBillDetails(null)" mat-fab color="primary"
              matTooltip="{{'COMMON.ADD' | translate}}">
              <mat-icon class="mat-icon-xlg">add_circle</mat-icon>
            </button>
          </div>
        </div>
        <div class="text-center mt-2" *ngIf="messages">
          <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
            <div class="table-wrapper">
              <table mat-table [dataSource]="billsDatasource" matSort class="w-100">

                <ng-container matColumnDef="reference">
                  <th mat-header-cell *matHeaderCellDef width="15%" mat-sort-header> {{'COMMON.REFERENCE' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let bill">
                    {{bill.reference }} </td>
                </ng-container>

                <ng-container matColumnDef="billDate">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header> {{'COMMON.BILL_DATE' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let bill">
                    {{bill.billDate | date:'mediumDate' : '' : translate.currentLang}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef width="31%" mat-sort-header>
                    {{'COMMON.DESCRIPTION' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let bill"> {{bill.description}} </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef width="12%" mat-sort-header> {{'COMMON.TOTAL_AMOUNT' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let bill">
                    {{selectedStore.currency.symbolLeft}}
                    {{bill.amount| number:'1.0-2'}}
                    {{selectedStore.currency.symbolRight}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="amountDue">
                  <th mat-header-cell *matHeaderCellDef width="12%" mat-sort-header> {{'COMMON.TOTAL_DUE' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let bill">
                    {{selectedStore.currency.symbolLeft}}
                    {{bill.amountDue| number:'1.0-2'}}
                    {{selectedStore.currency.symbolRight}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="dueDate">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header> {{'COMMON.DUE_DATE' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let bill">
                    {{bill.dueDate | date:'mediumDate' : '' : translate.currentLang}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header>{{'COMMON.STATUS'|translate}}</th>
                  <td mat-cell *matCellDef="let bill">
                    <strong>
                    <span *ngIf="bill.status === 0" style="color: #036cff">{{'COMMON.DRAFT'|translate}}</span>
                    <span *ngIf="bill.status === 1" style="color: red">{{'COMMON.UNPAID'|translate}}</span>
                    <span *ngIf="bill.status === 2" style="color: #8100ff">{{'COMMON.PARTIALLY_PAID'|translate}}</span>
                    <span *ngIf="bill.status === 5" style="color: #009A17">{{'COMMON.PAID'|translate}}</span>
                    <span *ngIf="bill.status === 9" style="color: #333333;">{{'COMMON.CANCELLED'|translate}}</span>
                  </strong>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="billsColumns"></tr>
                <tr mat-row *matRowDef="let bill; columns: billsColumns;" (click)="getBillDetails(bill)"></tr>
              </table>
              <p *ngIf="billsDatasource?.data.length === 0" class="py-5 mb-0 text-center">
                {{'MESSAGE.NO_DATA' | translate}}</p>
            </div>
            <mat-paginator #MatPaginatorBills [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
            </mat-paginator>

          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
            <mat-card>
              <form name="form" (ngSubmit)="f.form.valid && search()" #f="ngForm" validate>

                <div fxLayout="row wrap">
                  <div class="text-center">
                    <button mat-raised-button (click)="button='filter'" color="primary" fxLayout="row"
                      fxLayoutAlign="center center" type="submit">
                      <span class="mx-1 uppercase">{{'COMMON.FILTER' | translate}}</span>
                      <mat-icon>filter_alt</mat-icon>
                    </button>
                  </div>

                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label> {{'COMMON.STATUS' | translate}}</mat-label>
                    <mat-select [(ngModel)]="searchCriteria.status" name="status">
                      <mat-option [value]="0" *ngIf="!userId">
                        {{'COMMON.DRAFT'|translate}}
                      </mat-option>
                      <mat-option [value]="1">
                        {{'COMMON.UNPAID'|translate}}
                      </mat-option>
                      <mat-option [value]="2">
                        {{'COMMON.PARTIALLY_PAID'|translate}}
                      </mat-option>
                      <mat-option [value]="5">
                        {{'COMMON.PAID'|translate}}
                      </mat-option>
                      <mat-option [value]="9">
                        {{'COMMON.CANCELLED'|translate}}
                      </mat-option>
                    </mat-select>

                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.START_DATE' | translate}}</mat-label><br />
                    <input matInput [matDatepicker]="beginDatePicker" class="form-control" id="beginDate"
                      [(ngModel)]="searchCriteria.beginDate" name="beginDate" #beginDate="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="beginDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #beginDatePicker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.END_DATE' | translate}}</mat-label><br />
                    <input matInput [matDatepicker]="endDatePicker" class="form-control" id="endDate"
                      [(ngModel)]="searchCriteria.endDate" name="endDate" #endDate="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.MIN_AMOUNT' | translate}}</mat-label>
                    <input matInput type="text" class="form-control" id="model" [(ngModel)]="searchCriteria.minAmount"
                      name="model" #model="ngModel">
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.MAX_AMOUNT' | translate}}</mat-label>
                    <input matInput type="text" class="form-control" id="model" [(ngModel)]="searchCriteria.maxAmount"
                      name="model" #model="ngModel">
                  </mat-form-field>

                  <div class="text-center">
                    <button mat-raised-button (click)="button='clear'" color="accent" fxLayout="row"
                      fxLayoutAlign="center center" type="submit">
                      <span class="mx-1 uppercase">{{'COMMON.CLEAR' | translate}}</span>
                      <mat-icon>clear</mat-icon>
                    </button>
                  </div>
                </div>
              </form>
            </mat-card>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="{{'COMMON.DETAILS' | translate}}" *ngIf="!userId">
        <app-bill (billSaveEvent)="updateDataTable($event)"></app-bill>
      </mat-tab>
      <mat-tab label="{{'COMMON.DETAILS' | translate}}" *ngIf="userId">
        <app-user-bill [store]="selectedStore"></app-user-bill>
      </mat-tab>

      <mat-tab label="{{'COMMON.PAYMENTS' | translate}}" *ngIf="!userId">
        <app-bill-payment (billPaymentSaveEvent)="updateDataTableFromPayment($event)"></app-bill-payment>
      </mat-tab>

    </mat-tab-group>
  </div>



</div>