<div class="overlay" *ngIf="saving">
  <div class="center">
    <mat-progress-spinner diameter="50" mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
</div>
<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
  <div fxLayout="row wrap" *ngIf="store?.id > 0">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="p-1">
      <div fxFlex.xs="100" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
        <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" style="float: left;"
          type="submit" [disabled]="!f.form.valid || bill.status >1">
          <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
          <mat-icon>save</mat-icon>
        </button>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
        <!--   <h4 style="color:#00008b">{{'COMMON.STORE' | translate}} - {{store.name}}</h4> -->
      </div>
      <div fxFlex.xs="100" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
        <button mat-raised-button color="accent" (click)="submit()" matTooltip="{{'COMMON.SUBMIT' | translate}}"
          *ngIf="bill.id && bill.status===0" class="remove">
          <span class="mx-1 uppercase">{{'COMMON.SUBMIT' | translate}}</span>
          <mat-icon>done_all</mat-icon>
        </button>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
        <button mat-raised-button color="warn" (click)="cancel()" matTooltip="{{'COMMON.SUBMIT' | translate}}"
          *ngIf="bill.id && bill.status<2" class="remove">
          <span class="mx-1 uppercase">{{'COMMON.CANCEL' | translate}}</span>
          <mat-icon>close</mat-icon>
        </button>
      </div>

    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="p-1">
      <div class="text-center mt-2" style="color: green; font-size: large;" *ngIf="!hasError && messages">
        <mat-icon>done</mat-icon> {{messages}}
      </div>
      <div class="text-center mt-2" style="color: #ff5722; font-size: large;" *ngIf="hasError && messages">
        <mat-icon>close</mat-icon> {{messages}}
      </div>
    </div>
  </div>

  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
      <mat-form-field class="w-100">
        <mat-label> {{'COMMON.BILL_DATE' | translate}} </mat-label>
        <input matInput [matDatepicker]="picker" class="form-control" id="billDate" [(ngModel)]="bill.billDate"
          name="billDate" #billDate="ngModel" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
      <mat-form-field class="w-100">
        <mat-label> {{'COMMON.DUE_DATE' | translate}} </mat-label>
        <input matInput [matDatepicker]="picker2" class="form-control" id="dueDate" [(ngModel)]="bill.dueDate"
          name="dueDate" #dueDate="ngModel" required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-1">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label> {{'COMMON.REFERENCE' | translate}}
        </mat-label>
        <input matInput type="text" class="form-control" id="reference" [(ngModel)]="bill.reference" name="reference"
          #reference="ngModel" required>
        <mat-error *ngIf="f.submitted && reference.invalid" severity="error">
          {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-1">
      <h4 style="color:green">
        {{'COMMON.TOTAL_AMOUNT' | translate}}
        <br /> {{store.currency.symbolLeft}}
        {{bill.amount| number:'1.0-2'}}
        {{store.currency.symbolRight}}
      </h4>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label> {{'COMMON.SUB_TOTAL' | translate}}
        </mat-label>
        <input matInput type="text" class="form-control" id="subTotal" [(ngModel)]="bill.subTotal" name="subTotal"
          #subTotal="ngModel" (ngModelChange)="calculateAmount();" required>
        <mat-error *ngIf="f.submitted && subTotal.invalid" severity="error">
          {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label> {{'COMMON.TAXES' | translate}}
        </mat-label>
        <input matInput type="text" class="form-control" id="taxes" [(ngModel)]="bill.taxes" name="taxes"
          #taxes="ngModel" (ngModelChange)="calculateAmount();">
        <mat-error *ngIf="f.submitted && taxes.invalid" severity="error">
          {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label> {{'COMMON.REBATE' | translate}}
        </mat-label>
        <input matInput type="text" class="form-control" id="discount" [(ngModel)]="bill.discount" name="discount"
          #discount="ngModel" (ngModelChange)="calculateAmount();">
        <mat-error *ngIf="f.submitted && discount.invalid" severity="error">
          {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
        <mat-form-field class="w-100">
          <mat-label> {{'COMMON.COMMENTS' | translate}}</mat-label>
          <textarea matInput rows="10" cols="50" class="form-control" id="description" [(ngModel)]="bill.description"
            name="description" #description="ngModel"></textarea>
        </mat-form-field>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
        <mat-label> {{'COMMON.ATTACH_DOC' | translate}}</mat-label>
        <input-file [(ngModel)]="picture" name="gallery" #gallery="ngModel" fileLimit="1" fileAccept="image/*"
          [linkEnabled]="false">
        </input-file>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
        <mat-label>{{'COMMON.ORDER_STATUS' | translate}}</mat-label><br />
        <h4 *ngIf="bill.status === 0" style="color:#283593;">
          {{'COMMON.DRAFT' | translate}}
        </h4>
        <h4 *ngIf="bill.status === 1" style="color:red">
          {{'COMMON.UNPAID' | translate}}
        </h4>
        <h4 *ngIf="bill.status === 2" style="color:#232F3E;">
          {{'COMMON.PARTIALLY_PAID' | translate}}
        </h4>
        <h4 *ngIf="bill.status === 5" style="color:green">
          {{'COMMON.PAID' | translate}}
        </h4>
        <h4 *ngIf="bill.status === 9" style="color:#232F3E;">
          {{'COMMON.CANCELLED' | translate}}
        </h4>
      </div>
    </div>
  </div>
</form>

<div *ngIf="bill.id > 0">
  <mat-tab-group (selectedTabChange)="changeTab($event)">
    <mat-tab label="{{'COMMON.PRODUCT' | translate}}s">
      <app-bill-details #ProductsComponent></app-bill-details>
    </mat-tab>
    <mat-tab label="{{'COMMON.SERVICE' | translate}}s">
      <app-bill-details #ServicesComponent></app-bill-details>
    </mat-tab>
  </mat-tab-group>
</div>