<div fxLayout="row wrap">

  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="47" fxFlex.lg="47" fxFlex.xl="47">
    <div class="tile tile-primary">
      <div class="tile-heading">
        <span class="pull-left">
          <mat-icon>qr_code_2</mat-icon>
        </span>
        {{'COMMON.REFERENCE' | translate}}: {{bill.reference}}
      </div>
      <div class="tile-body">
        <span class="pull-left">
          <mat-icon>description</mat-icon>
        </span>
        {{bill.description}}
        <br />
        <span class="pull-left">
          <mat-icon>schedule</mat-icon>
        </span>
        {{'COMMON.DUE_DATE' | translate}}: {{bill.dueDate | date:'mediumDate' : '' : translate.currentLang}}

        <span class="pull-left">
          <mat-icon>schedule</mat-icon>
        </span>
        {{'COMMON.BILL_DATE' | translate}}: {{bill.billDate | date:'mediumDate' : '' : translate.currentLang}}

        <!-- <span class="pull-left">
          <mat-icon>schedule</mat-icon>
        </span>
        {{'COMMON.PAID_DATE' | translate}}: {{bill.paidDate | date:'mediumDate' : '' : translate.currentLang}}
       -->
      </div>
      <div class="tile-footer">
      </div>
    </div>
  </div>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="6" fxFlex.lg="6" fxFlex.xl="6">
  </div>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="47" fxFlex.lg="47" fxFlex.xl="47">
    <div class="tile tile-primary">
      <div class="tile-heading">
        <span class="pull-left">
          <mat-icon>cached</mat-icon>
        </span>
        {{bill.status === 0?('COMMON.DRAFT' | translate):''}}
        {{bill.status === 1?('COMMON.UNPAID' | translate):''}}
        {{bill.status === 2?('COMMON.PARTIALLY_PAID' | translate):''}}
        {{bill.status === 5?('COMMON.PAID' | translate):''}}
        {{bill.status === 9?('COMMON.CANCELLED' | translate):''}}
      </div>
      <div class="tile-body">
        <span class="pull-left">
          <mat-icon>shopping_cart</mat-icon>
        </span>
        {{'COMMON.SUB_TOTAL' | translate}}: {{store.currency.symbolLeft}}
        {{bill.subTotal| number:'1.0-2'}}
        {{store.currency.symbolRight}}

        <span class="pull-left">
          <mat-icon>payments</mat-icon>
        </span>
        {{'COMMON.TAXES' | translate}}: {{store.currency.symbolLeft}}
        {{(bill.taxes?bill.taxes:0)| number:'1.0-2'}}
        {{store.currency.symbolRight}}
        <br />
        <span class="pull-left">
          <mat-icon>card_giftcard</mat-icon>
        </span>
        {{'COMMON.REBATE' | translate}}: {{store.currency.symbolLeft}}
        {{(bill.discount?bill.discount:0)| number:'1.0-2'}}
        {{store.currency.symbolRight}}

        <span class="pull-left">
          <mat-icon>account_balance_wallet</mat-icon>
        </span>
        <strong>
          {{'COMMON.TOTAL_AMOUNT' | translate}}: {{store.currency.symbolLeft}}
          {{bill.amount| number:'1.0-2'}}
          {{store.currency.symbolRight}}
        </strong>
      </div>
      <div class="tile-footer">
      </div>
    </div>
  </div>
</div>
<table mat-table [dataSource]="billDtlDatasource" matSort class="w-100">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell width="5%" *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let billDtl"> {{billDtl.id}} </td>
  </ng-container>

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell width="5%" *matHeaderCellDef mat-sort-header> {{'COMMON.IMAGE' | translate}} </th>
    <td mat-cell *matCellDef="let billDtl">
      <img
        [src]="'assets/images/products/'+(billDtl.product?.image?(billDtl.product.id+'/'+billDtl.product?.image):'default.png')"
        [style.width.px]="25" class="d-block">
    </td>
  </ng-container>

  <ng-container matColumnDef="productName">
    <th mat-header-cell width="30%" *matHeaderCellDef mat-sort-header> {{'COMMON.PRODUCT' | translate}}</th>
    <td mat-cell *matCellDef="let billDtl" class="p-1">
      {{billDtl.productName?billDtl.productName:billDtl.serviceName}}
    </td>
  </ng-container>
  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell width="10%" *matHeaderCellDef mat-sort-header> {{'COMMON.QUANTITY' | translate}} </th>
    <td mat-cell *matCellDef="let billDtl">
      {{billDtl.quantity}}
    </td>
  </ng-container>

  <!-- Unit Price Column -->
  <ng-container matColumnDef="unitPrice">
    <th mat-header-cell width="10%" *matHeaderCellDef mat-sort-header> {{'COMMON.UNIT_PRICE' | translate}} </th>
    <td mat-cell *matCellDef="let billDtl">
      {{billDtl.unitAmount}}
    </td>
  </ng-container>

  <!-- Total Amount Column -->
  <ng-container matColumnDef="totalAmount">
    <th mat-header-cell width="10%" *matHeaderCellDef mat-sort-header> {{'COMMON.TOTAL'|translate}} </th>
    <td mat-cell *matCellDef="let billDtl">

      {{store.currency.symbolLeft}}
      {{billDtl.totalAmount| number:'1.0-2'}}
      {{store.currency.symbolRight}}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="billDtlColumns"></tr>
  <tr mat-row *matRowDef="let billDtl; columns: billDtlColumns;">
  </tr>

</table>
<p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">{{'MESSAGE.NO_DATA' | translate}}</p>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>