<embryo-HomePageTwoSlider [isRTL]="appService.isDirectionRtl"></embryo-HomePageTwoSlider>
<div class="container">
   <a class="btn btn-block transparent-btn" [routerLink]="['/products/viewAll']" [queryParams]="{id:1}">Show All</a>
</div>


<embryo-CtaGroup></embryo-CtaGroup>
<div class="container">
   <a class="btn btn-block transparent-btn" [routerLink]="['/products/viewAll']" [queryParams]="{id:2}">Show All</a>
</div>

<embryo-lightening-deals *ngIf="marketings" [lighteningDeals]="marketings">
</embryo-lightening-deals>

<embryo-TopProducts *ngIf="topProducts" [products]="topProducts" [currency]="appService?.currency"
   (addToCart)="addToCart($event)"></embryo-TopProducts>
<div class="section-gap pt-0">
   <div class="container">
      <div fxLayoutAlign="space-between" class="w-100">
         <div class="block-title mb-4">
            <h3>Top Brands</h3>
         </div>
      </div>
      <embryo-BrandsLogo [isRTL]="appService.isDirectionRtl"></embryo-BrandsLogo>
   </div>
</div>
<div class="section-gap pb-0">
   <!--
  <embryo-SubscribeTwo></embryo-SubscribeTwo>
      -->

</div>