<div class="table-wrapper">

  <div>
    <h4 style="color: #283593;">{{'COMMON.CREDIT_OR_DEBIT_CARDS'|translate}}</h4>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30"
      *ngFor="let creditCard of creditCards">
      <div class="tile tile-primary">
        <div class="tile-heading">
          <span class="pull-left">
            <mat-icon>credit_card</mat-icon>
          </span>
          {{creditCard.name}}
        </div>
        <div class="tile-body">
          <div fxLayout="row wrap">
            <div style="text-align: center;" fxFlex.xs="30" fxFlex.sm="30" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
              <img [src]="'assets/images/cards/' + creditCard.cardTypeIndex + '.png'" [style.width.px]="50"
                class="d-block">
            </div>
            <div style="text-align: left;" fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
              XXXX XXXX XXXX <strong> {{creditCard.last4Digits}}</strong>
              <br />
              Expire: <strong> {{creditCard.expMonth}}/{{creditCard.expYear}}</strong>
            </div>
          </div>
        </div>
        <div class="tile-footer">
          <div fxLayout="row wrap">
            <div style="text-align: center;" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <button mat-mini-fab color="warn" (click)="delete(creditCard.stripePaymentMethodId)"
                matTooltip="{{'COMMON.REMOVE' | translate}}">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            <div style="text-align: center;" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <button mat-mini-fab style="background-color:green;" (click)="changePaymentMethod(creditCard)"
                matTooltip="{{'COMMON.SELECT_CREDIT_CARD' | translate}}">
                <mat-icon>check_circle_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>