

<div class="table-wrapper">
  <div><h6>Credit Cards</h6></div>
  <table mat-table [dataSource]="creditCardsDataSource" matSort class="w-100">

    <ng-container matColumnDef="selected">
      <th mat-header-cell *matHeaderCellDef> Selected </th>
      <td mat-cell *matCellDef="let creditCard">
        <mat-radio-group [(ngModel)]="creditCard.status">
          <mat-radio-button [value]="1"  (click)="changePaymentMethod(creditCard)"></mat-radio-button>
        </mat-radio-group>
        
      </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Card Type</th>
      <td mat-cell *matCellDef="let creditCard"><img [src]="'assets/images/cards/' + creditCard.cardTypeIndex + '.png'"
          [style.width.px]="50" class="d-block"></td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name on Card </th>
      <td mat-cell *matCellDef="let creditCard"> {{creditCard.name}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="expire">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Expire </th>
      <td mat-cell *matCellDef="let creditCard"> {{creditCard.expMonth}}/{{creditCard.expYear}} </td>
    </ng-container>

     

    <tr mat-header-row *matHeaderRowDef="displayedColumns">Credit Cards</tr>
    <tr mat-row *matRowDef="let creditCard; columns: displayedColumns;">
      My tabss
    </tr>
  </table>
</div>