<div fxLayout="row wrap">

  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
    <mat-form-field appearance="outline" class="w-100" *ngIf="stores && stores.length>0">
      <mat-label> {{'COMMON.SELECT_STORE' | translate}} <font color="red">*</font>
      </mat-label>
      <mat-select [compareWith]="compareObjects" [(ngModel)]="selectedStore" appearance="outline" name="store"
        (selectionChange)="storeSelected($event)">
        <mat-option *ngFor="let store of stores" [value]="store">
          {{store.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button *ngIf="!stores || stores.length===0" mat-raised-button color="accent"
      [routerLink]="['/account/profile/edit']"
      [queryParams]="{type:'store', sId:0}">{{'COMMON.ADD_STORE'|translate}}</button>

  </div>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
    *ngIf="selectedStore && selectedStore.id > 0">

    <mat-tab-group class="table-tab-list" color="accent" (selectedTabChange)="changeOrderType($event)"
      [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
      <mat-tab label="{{'COMMON.TRANSACTIONS' | translate}}">
        <div fxLayout="row wrap">
          <div fxFlex="50" fxFlex.gt-sm="50" class="p-3">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'COMMON.SEARCH' | translate}}"
                autocomplete="off">
            </mat-form-field>
          </div>
          <div fxFlex="10" fxFlex.gt-sm="10" class="p-3" *ngIf="userId !== 0">
            <button (click)="action = 'add'; messages = ''; getTransaction(null)" mat-fab color="primary"
              matTooltip="{{'COMMON.ADD' | translate}}">
              <mat-icon class="mat-icon-xlg">add_circle</mat-icon>
            </button>
          </div>
        </div>
        <div class="text-center mt-2" *ngIf="messages">
          <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
            <div class="table-wrapper">
              <table mat-table [dataSource]="transactionsDatasource" matSort class="w-100">
                <ng-container matColumnDef="transactionType">
                  <th mat-header-cell *matHeaderCellDef width="15%" mat-sort-header>
                    {{'COMMON.TRANSACTION_TYPE' | translate}}</th>
                  <td mat-cell *matCellDef="let transaction"> {{transaction.transactionType.name}} </td>
                </ng-container>

                <ng-container matColumnDef="paidBy">
                  <th mat-header-cell *matHeaderCellDef width="20%" mat-sort-header> {{'COMMON.PAYER' | translate}}</th>
                  <td mat-cell *matCellDef="let transaction"> {{transaction.paidByName}} </td>
                </ng-container>

                <ng-container matColumnDef="receiver">
                  <th mat-header-cell *matHeaderCellDef width="20%" mat-sort-header> {{'COMMON.RECEIVER' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let transaction"> {{transaction.receiverName}} </td>
                </ng-container>

                <ng-container matColumnDef="transactionDate">
                  <th mat-header-cell *matHeaderCellDef width="12%" mat-sort-header>
                    {{'COMMON.TRANSACTION_DATE' | translate}}</th>
                  <td mat-cell *matCellDef="let transaction">
                    {{transaction.transactionDate | date : 'mediumDate' : '' : translate.currentLang}} </td>
                </ng-container>

                <!--  <ng-container matColumnDef="salaryDate">
                  <th mat-header-cell *matHeaderCellDef width="12%" mat-sort-header>
                    {{'COMMON.SALARY_DATE' | translate}}</th>
                  <td mat-cell *matCellDef="let transaction">
                    {{transaction.salaryDate | date : 'mediumDate' : '' : translate.currentLang}} </td>
                </ng-container> -->

                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef width="12%" mat-sort-header> {{'COMMON.TOTAL' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let transaction"> {{transaction.amount}} </td>
                </ng-container>


                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef width="14%" mat-sort-header> Actions</th>
                  <td mat-cell *matCellDef="let transaction">
                    <a mat-icon-button (click)="getTransaction(transaction)" color="secondary"
                      matTooltip="{{'COMMON.VIEW_DETAILS' | translate}}">
                      <mat-icon>info</mat-icon>
                    </a>
                    &nbsp;&nbsp;
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="transactionsColumns"></tr>
                <tr mat-row *matRowDef="let transaction; columns: transactionsColumns;"
                (click)="getTransaction(transaction)"
                ></tr>
              </table>
              <p *ngIf="transactionsDatasource?.data.length === 0" class="py-5 mb-0 text-center">
                {{'MESSAGE.NO_DATA' | translate}}</p>
            </div>
            <mat-paginator #MatPaginatorTransactions [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
              showFirstLastButtons></mat-paginator>
          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
            <mat-card>
              <form name="form" (ngSubmit)="f.form.valid && search()" #f="ngForm" validate>

                <div fxLayout="row wrap">
                  <div class="text-center">
                    <button mat-raised-button (click)="button='filter'" color="primary" fxLayout="row"
                      fxLayoutAlign="center center" type="submit">
                      <span class="mx-1 uppercase">{{'COMMON.FILTER' | translate}}</span>
                      <mat-icon>filter_alt</mat-icon>
                    </button>
                  </div>

                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label> {{'COMMON.TRANSACTION_TYPE' | translate}} </mat-label>
                    <mat-select [(ngModel)]="searchCriteria.transactionTypeId" appearance="outline"
                      name="transactionType">
                      <mat-option *ngFor="let transactionTypeDesc of appService.appInfoStorage.transactionTypes"
                        [value]="transactionTypeDesc.transactionType.id">
                        {{transactionTypeDesc.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label> {{'COMMON.SELECT_RECEIVER' | translate}}</mat-label>
                    <mat-select [(ngModel)]="searchCriteria.receiverId" appearance="fill" name="receiver">
                      <mat-option [value]="">

                      </mat-option>
                      <mat-option *ngFor="let storeEmployee of storeEmployees" [value]="storeEmployee.employee.id">
                       {{storeEmployee.employee.firstName}} {{storeEmployee.employee.lastName}} 
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label> {{'COMMON.SELECT_PAYER' | translate}}</mat-label>
                    <mat-select [(ngModel)]="searchCriteria.paidById" appearance="fill" name="paidBy">
                      <mat-option *ngFor="let storeEmployee of storeEmployees" [value]="storeEmployee.employee.id">
                       {{storeEmployee.employee.firstName}} {{storeEmployee.employee.lastName}} 
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label> {{'COMMON.STATUS' | translate}}</mat-label>
                    <mat-select [(ngModel)]="searchCriteria.status" name="status">
                      <mat-option [value]="1">
                        {{'COMMON.ACTIVE'|translate}}
                      </mat-option>
                      <mat-option [value]="0">
                        {{'COMMON.INACTIVE'|translate}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.START_DATE' | translate}}</mat-label><br />
                    <input matInput [matDatepicker]="beginDatePicker" class="form-control" id="beginDate"
                      [(ngModel)]="searchCriteria.beginDate" name="beginDate" #beginDate="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="beginDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #beginDatePicker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.END_DATE' | translate}}</mat-label><br />
                    <input matInput [matDatepicker]="endDatePicker" class="form-control" id="endDate"
                      [(ngModel)]="searchCriteria.endDate" name="endDate" #endDate="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.MIN_AMOUNT' | translate}}</mat-label>
                    <input matInput type="text" class="form-control" id="model" [(ngModel)]="searchCriteria.minAmount"
                      name="model" #model="ngModel">
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.MAX_AMOUNT' | translate}}</mat-label>
                    <input matInput type="text" class="form-control" id="model" [(ngModel)]="searchCriteria.maxAmount"
                      name="model" #model="ngModel">
                  </mat-form-field>

                  <div class="text-center">
                    <button mat-raised-button (click)="button='clear'" color="accent" fxLayout="row"
                      fxLayoutAlign="center center" type="submit">
                      <span class="mx-1 uppercase">{{'COMMON.CLEAR' | translate}}</span>
                      <mat-icon>clear</mat-icon>
                    </button>
                  </div>
                </div>
              </form>
            </mat-card>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="{{'COMMON.DETAILS' | translate}}">
        <app-transaction (transactionSaveEvent)="updateDataTable($event)"></app-transaction>
      </mat-tab>
    </mat-tab-group>
  </div>



</div>