<mat-card>
  <a mat-button [routerLink]="['/admin/marketings/'+marketing.id]">{{'COMMON.MARKETING' | translate}}
    <mat-icon>navigate_next</mat-icon>
  </a>
  <a mat-button color="accent" *ngIf="selectedStore && selectedStore.id>0">
    <h5>{{'COMMON.STORE' | translate}} : {{selectedStore.name}}</h5>
  </a>

  <div fxLayout="row wrap" class="col-gap">
    <mat-horizontal-stepper [linear]="false" #stepper>
      <mat-step>
        <ng-template matStepLabel>{{'COMMON.SELECT_STORE'|translate}}</ng-template>
        <div fxLayout="row wrap" class="col-gap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
            *ngIf="!stores || stores.length===0">
            <button mat-raised-button color="accent" [routerLink]="['/account/profile/edit']"
              [queryParams]="{type:'store', sId:0}">{{'COMMON.ADD_STORE'|translate}}</button>
          </div>
        </div>
        <div fxLayout="row wrap" class="col-gap">          
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33"
            *ngFor="let store of stores">
            <div class="tile tile-primary">
              <div class="tile-heading">{{store.name}} <span class="pull-right">
                  <i *ngIf="store.aprvStatus===0" class="fa fa-spinner"></i>
                  <i *ngIf="store.aprvStatus===1" class="fa fa-check"></i>
                  {{store.aprvStatus===0?('COMMON.PENDING_APPROVAL'|translate):('COMMON.APPROVED'|translate)}}</span>
              </div>
              <div class="tile-body">
                <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <img height="100%" src="assets/images/stores/{{store.id}}/{{store.image}}">
                    <br />
                    <span class="pull-left">
                      <i *ngIf="store.status===0" class="fa fa-exclamation-circle"></i>
                      <i *ngIf="store.status===1" class="fa fa-check-circle"></i>
                      {{store.status===0?('COMMON.INACTIVE'|translate):('COMMON.ACTIVE'|translate)}}</span>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
                    <span class="pull-left"><i class="fa fa-phone fa-sm"></i> {{store.phone}}</span><br />
                    <span class="pull-left"><i class="fa fa-envelope fa-sm"></i> {{store.email}}</span><br />
                    <span class="pull-left" *ngIf="store.address"><i class="fa fa-map-marker fa-sm"></i>
                      {{store.address.city}}, {{store.address.country.name}}</span>
                    <div [innerHTML]="store?.description"></div>
                  </div>
                </div>
              </div>
              <div class="tile-footer">
                <div fxLayout="row wrap" class="col-gap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                    <span class="pull-right">
                      <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap"
                        *ngIf="store.status===0 || store.aprvStatus ===0">
                        {{'COMMON.STORE_NOT_ACTIVATED'|translate}}
                      </mat-chip>

                      <button *ngIf="store.status===1 && store.aprvStatus ===1" mat-raised-button color="accent"
                        (click)="selectedStore=store;stepper.selectedIndex=1;">
                        <mat-icon>done</mat-icon>
                        {{'COMMON.SELECT'|translate}}
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{'COMMON.SELECT_CATEGORY'|translate}}</ng-template>
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-sm="25" class="p-3" *ngFor="let cats of categories; let indexOfelement=index;">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'COMMON.CATEGORY' | translate }}</mat-label>
              <mat-select id="category" [(ngModel)]="selectedCatDescs[indexOfelement]"
                [(value)]="selectedCatDescs[indexOfelement]" (selectionChange)="categorySelected(null, indexOfelement)"
                name="category" #category="ngModel">
                <mat-option *ngFor="let category of cats" [value]="category">
                  {{category.name}} <span *ngIf="category.category.childCount > 0"> > </span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel> 
          <span matBadge="{{products?.length}}"
            matBadgeOverlap="false">{{'COMMON.SELECT_PRODUCT'|translate}}</span>
        </ng-template>
        <div fxLayout="row wrap" *ngIf="!products || products.length===0">
          <div fxFlex="100" class="px-2 pb-2 pt-0">
            <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
              {{'MESSAGE.NO_PRODUCT_FOUND'|translate}}
            </mat-chip>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="products && products.length>0">
          <div fxFlex="100" class="px-2 pb-2 pt-0">
            <app-products-toolbar [showSidenavToggle]="false" [dataSource]="dataSource"
              (onSidenavToggle)="sidenav.toggle()" (onChangeCount)="changeCount($event,1)"
              (onSearchClick)="searchClicked($event,1)" (onChangeSorting)="changeSorting($event,1)"
              (onChangeViewType)="changeViewType($event,1)">
            </app-products-toolbar>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="products && products.length>0">
          <div fxFlex="100" fxFlex.gt-sm="100" class="p-3" *ngIf="dataSource">
            <embryo-ProductGrid [currency]="appService?.currency" [products]="dataSource.filteredData"
              [viewType]="viewType" [viewCol]="viewCol" [fromPage]="'sell'" (addToCart)="addToCart($event)"
              (addToWishList)="addToWishList($event)" (selectProduct)="selectForMarketing($event)" gridThree="true">
            </embryo-ProductGrid>
          </div>
        </div>
        <mat-paginator *ngIf="products && products.length>0" [length]="pagination?.total"
          [pageSize]="pagination?.perPage" (page)="onPageChange($event)" class="w-100 mat-elevation-z1">
        </mat-paginator>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{'COMMON.MARKET_PRODUCT'|translate}}</ng-template>
        <div fxLayout="row wrap" *ngIf="!(prodDescVO.id>0)">
          <div fxFlex="100" class="px-2 pb-2 pt-0">
            <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
              {{'COMMON.SELECT_PRODUCT'|translate}}
            </mat-chip>
          </div>
        </div>
        <div fxLayout="row wrap" class="col-gap position-relative" *ngIf="prodDescVO">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="relative"
            *ngIf="prodDescVO.product && prodDescVO.product.image">
            <img [src]="'assets/images/products/' + this.prodDescVO.product.id + '/' + prodDescVO.product.image" />
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
           *ngIf="prodDescVO.id>0" >
            <form name="form" (ngSubmit)="f.form.valid && sell()" #f="ngForm" validate>
              <div class="product-detail-content">
                <h3>{{prodDescVO?.name}}</h3>
                <div class="product-detail-price">
                  {{'COMMON.SUGESTED_PRICE'|translate}} : <h4 class="accent-color">
                    {{prodDescVO.product.price | currency:appService?.currency}} </h4>
                </div>
                <div class="short-des" [innerHTML]="prodDescVO?.shortDescription"></div>
                <div fxLayout="row wrap">
                  <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
                    <mat-form-field appearance="fill">
                      <mat-label>{{'COMMON.START_DATE'|translate}}</mat-label>
                      <input matInput id="beginDate" [(ngModel)]="marketingProduct.beginDate"
                        [matDatepicker]="beginDate" name="beginDate" #beginDate="ngModel">
                      <mat-datepicker-toggle matSuffix [for]="beginDate"></mat-datepicker-toggle>
                      <mat-datepicker #beginDate></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
                    <mat-form-field appearance="fill">
                      <mat-label>{{'COMMON.END_DATE'|translate}}</mat-label>
                      <input matInput id="endDate" [(ngModel)]="marketingProduct.endDate" [matDatepicker]="endDate"
                        name="endDate" #endDate="ngModel">
                      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                      <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
                    <mat-slide-toggle [(ngModel)]="marketingProduct.status" name="status" #status="ngModel"
                      class="my-2">
                      {{ 'COMMON.ENABLE' | translate }}
                    </mat-slide-toggle>
                  </div>
                  <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
                    <mat-form-field class="w-100">
                      <mat-label> {{'COMMON.SORT_ORDER' | translate}}
                      </mat-label>
                      <input matInput type="text" class="form-control" id="sortOrder"
                        [(ngModel)]="marketingProduct.sortOrder" name="title" #sortOrder="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
                    <div class="text-left mt-2" fxFlex.gt-sm="25">
                      <button mat-raised-button color="accent" fxLayout="row" fxLayoutAlign="center center"
                        type="submit">
                        <span class="mx-1 uppercase"> {{'COMMON.SAVE'|translate}}</span>
                        <mat-icon>save</mat-icon>
                      </button> </div>
                    <div class="text-left mt-2" fxFlex.gt-sm="75" *ngIf="messages">
                      <p><a mat-button color="primary" class="w-100">{{messages}}</a></p>
                    </div>
                    <div class="text-left mt-2" fxFlex.gt-sm="75" *ngIf="errors">
                      <p><a mat-button color="accent" class="w-100">{{errors}}</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <span matBadge="{{selectedProducts?.length}}"
            matBadgeOverlap="false">{{'COMMON.SELECTED_PRODUCTS'|translate}}</span>
        </ng-template>
        <div fxLayout="row wrap" *ngIf="!selectedProducts || selectedProducts.length===0">
          <div fxFlex="100" class="px-2 pb-2 pt-0">
            <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
              {{'MESSAGE.NO_PRODUCT_FOUND'|translate}}
            </mat-chip>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="selectedProducts && selectedProducts.length>0">
          <div fxFlex="100" class="px-2 pb-2 pt-0">
            <app-products-toolbar [showSidenavToggle]="false" [dataSource]="dataSource2"
              (onSidenavToggle)="sidenav.toggle()" (onChangeCount)="changeCount($event,2)"
              (onSearchClick)="searchClicked($event,2)" (onChangeSorting)="changeSorting($event,2)"
              (onChangeViewType)="changeViewType($event,2)">
            </app-products-toolbar>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="selectedProducts && selectedProducts.length>0">
          <div fxFlex="100" fxFlex.gt-sm="100" class="p-3" *ngIf="dataSource2">
            <embryo-ProductGrid [currency]="appService?.currency" [products]="dataSource2.filteredData"
              [viewType]="viewType" [viewCol]="viewCol" [fromPage]="'marketing'" (addToCart)="addToCart($event)"
              (removeProduct)="removeProduct($event)"
              (addToWishList)="addToWishList($event)" gridThree="true">
            </embryo-ProductGrid>
          </div>
        </div>
        <mat-paginator *ngIf="selectedProducts && selectedProducts.length>0" [length]="pagination2?.total"
          [pageSize]="pagination2?.perPage" (page)="onPageChange($event, 2)" class="w-100 mat-elevation-z1">
        </mat-paginator>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</mat-card>