<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
   <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
         <button (click)="clear()" mat-fab color="primary" matTooltip="{{'COMMON.ADD' | translate}}">
            <mat-icon class="mat-icon-xlg">add_circle</mat-icon>
         </button>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
         <div class="text-center mt-2" *ngIf="messages">
            <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
         </div>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
         <div class="text-center mt-2">
            <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
               <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
               <mat-icon>save</mat-icon>
            </button>
         </div>
      </div>
   </div>

   <div fxLayout="row">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
         <mat-form-field appearance="outline" class="w-100">
            <mat-label> {{'COMMON.NAME' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="name" [(ngModel)]="building.name" name="name" required>
         </mat-form-field>
      </div>

      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
         <mat-form-field appearance="outline" class="w-100">
            <mat-label> {{'COMMON.NBR_FLOORS' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="nbrFloors" [(ngModel)]="building.nbrFloors"
               name="nbrFloors" required>
         </mat-form-field>
      </div>

      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="p-1">
         <mat-slide-toggle [(ngModel)]="building.status" name="status" #status="ngModel" class="my-2">
            {{ 'COMMON.STATUS' | translate }}
         </mat-slide-toggle>
      </div>

      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="p-1">
         <mat-slide-toggle [(ngModel)]="building.fullRental" name="fullRental" #fullRental="ngModel" class="my-2">
            {{ 'COMMON.FULL_RENTAL' | translate }}
         </mat-slide-toggle>
      </div>
   </div>

   <div fxLayout="row">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
         <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'COMMON.ADDRESS' | translate}}</mat-label>
            <mat-select placeholder="{{'COMMON.ADDRESS' | translate}}" [compareWith]="compareObjects" id="address"
               name="address" [(ngModel)]="building.address" #address="ngModel"  >
               <mat-option *ngFor="let addr of addresses" [value]="addr">
                  {{addr.city}}<span *ngIf="addr.district">({{addr.district}})</span>, {{addr.country.name}}
               </mat-option>
            </mat-select>
         </mat-form-field>
         <address class="mb-4" *ngIf="building.address">
            {{building.address.address1}} {{building.address.address2}}<br>
            {{building.address.city}}<span *ngIf="building.address.district">({{building.address.district}})</span>, {{building.address.zone?.name}} {{building.address.postCode}}<br>
            {{building.address.country.name}}
         </address>
         <br />
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-1">
         <mat-form-field class="w-100" appearance="fill">
            <mat-label> Type </mat-label>
            <mat-select [(ngModel)]="building.buildingType" name="buildingType">
               <mat-option [value]="1">
                  {{'COMMON.HOTEL'|translate}}
               </mat-option>
               <mat-option [value]="2">
                  {{'COMMON.APPARTMENT'|translate}}
               </mat-option>
               <mat-option [value]="3">
                  {{'COMMON.VILLA'|translate}}
               </mat-option>
               <mat-option [value]="4">
                  {{'COMMON.RESORT'|translate}}
               </mat-option>
               <mat-option [value]="5">
                  {{'COMMON.CABIN'|translate}}
               </mat-option>
               <mat-option [value]="6">
                  {{'COMMON.COTTAGE'|translate}}
               </mat-option>
            </mat-select>
         </mat-form-field>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="p-1">
         <mat-slide-toggle [(ngModel)]="building.principal" name="principal" #principal="ngModel" class="my-2">
            {{ 'COMMON.MAIN_BUILDING' | translate }}
         </mat-slide-toggle>
      </div>

      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="p-1">
         <mat-slide-toggle [(ngModel)]="building.onlineBooking" name="onlineBooking" #onlineBooking="ngModel" class="my-2">
            {{ 'COMMON.ONLINE_BOOKING' | translate }}
         </mat-slide-toggle>
      </div>

      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="p-1">
         <mat-slide-toggle [(ngModel)]="building.topProperty" name="topProperty" #topProperty="ngModel" class="my-2">
            {{ 'COMMON.TOP_PROPERTY' | translate }}
         </mat-slide-toggle>
      </div>
   </div>
   <div fxLayout="row">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="p-1">
         <mat-label>{{'COMMON.DESCRIPTION' | translate}}
         </mat-label>
         <quill-editor id="description" name="description" [(ngModel)]="building.description" #description="ngModel">
         </quill-editor>
      </div>
   </div>
</form>