<div class="mat-card mb-4" style="box-shadow:none!important">
  <form name="form" (ngSubmit)="f.form.valid && getRooms()" #f="ngForm" validate>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="p-1"
        *ngIf="page === 'list'">
        <h1 class="mb-0 text-xxl" style="color: #283593;">
          {{'MESSAGE.SEARCH_BEST_DEALS'|translate}}
        </h1>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25" class="p-1">
        <mat-form-field class="w-100" appearance="standard">
          <mat-label> {{'COMMON.ADULTS' | translate}}</mat-label>
          <input matInput type="text" class="form-control" id="adults" name="adults" [(ngModel)]="searchCriteria.adults"
            required>
        </mat-form-field>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25" class="p-1">
        <mat-form-field class="w-100" appearance="standard">
          <mat-label> {{'COMMON.CHILDREN' | translate}}</mat-label>
          <input matInput type="text" class="form-control" id="children" name="children"
            [(ngModel)]="searchCriteria.children" required>
        </mat-form-field>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25" class="p-1">
        <mat-form-field class="w-100" appearance="standard">
          <mat-label> {{'COMMON.ROOMS' | translate}}</mat-label>
          <input matInput type="text" class="form-control" id="rooms" name="rooms" [(ngModel)]="searchCriteria.rooms"
            required>
        </mat-form-field>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25" class="p-1">
        <mat-checkbox class="mb-2 d-block" [(ngModel)]="searchCriteria.isHourly" id="isHourly" name="isHourly">
          <mat-label> {{'COMMON.COMMING_FOR_FEW_HRS' | translate}}</mat-label>
        </mat-checkbox>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="30" fxFlex.xl="30" class="p-1"
        *ngIf="page === 'list'">
        <mat-form-field appearance="outline" class="w-100">
          <input type="text" placeholder="{{'MESSAGE.GOING_WHERE'|translate}}" aria-label="Number" name="currentOption"
            matInput [matAutocomplete]="auto" [(ngModel)]="searchCriteria.location" required
            (ngModelChange)="filterOptions(searchCriteria.location)">
          <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          <mat-autocomplete id="option1" #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredStores " (onSelectionChange)=" searchCriteria.location = option.address.city;
                          searchCriteria.address = option.address" [value]="option.cityCountryName">
              {{option.cityCountryName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-error *ngIf="f.submitted && (!searchCriteria.address || !searchCriteria.address.id)  " severity="error">
          {{ 'VALIDATION.PLEASE_SELECT_FROM_DROPDOWN' | translate }}
        </mat-error>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="30" fxFlex.xl="30" class="p-1" [ngStyle]="hasInvalidDates ? 
                            {'border-style': 'solid', 'border-width': '1px', 'border-color': 'red'} : ''">
        <mat-form-field class="w-100 mb-3" appearance="outline">
          <mat-label> {{'COMMON.CHECKIN_DATE' | translate}}
          </mat-label>
          <input matInput [matDatepicker]="checkinDatePicker" [(ngModel)]="searchCriteria.checkinDate"
            class="form-control" [min]="minDate" id="value" name="value" (dateChange)="onCheckinDateChange($event)"
            required>
          <mat-datepicker-toggle matSuffix [for]="checkinDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #checkinDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf="searchCriteria.isHourly === true" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="15"
        fxFlex.xl="15" class="p-1">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label> {{'COMMON.ARRIVAL_TIME' | translate}}</mat-label>
          <mat-select [(ngModel)]="searchCriteria.beginHr" name="beginHr" (selectionChange)="beginHourSelected($event)">
            <mat-option *ngFor="let hr of BEGIN_HOURS" [value]="hr">
              {{hr}}:00
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="searchCriteria.isHourly === true" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="15"
        fxFlex.xl="15" class="p-1">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label> {{'COMMON.DEPARTURE_TIME' | translate}}</mat-label>
          <mat-select [(ngModel)]="searchCriteria.endHr" name="endHr">
            <mat-option *ngFor="let hr of END_HOURS" [value]="hr">
              {{hr}}:00
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="30" fxFlex.xl="30" class="p-1"
        *ngIf="searchCriteria.isHourly === false" [ngStyle]="hasInvalidDates ? 
                            {'border-style': 'solid', 'border-width': '1px', 'border-color': 'red'} : ''">
        <mat-form-field class="w-100 mb-3" appearance="outline">
          <mat-label> {{'COMMON.CHECKOUT_DATE' | translate}}
          </mat-label>
          <input matInput [matDatepicker]="checkoutDatePicker" [(ngModel)]="searchCriteria.checkoutDate"
            class="form-control" [min]="minCheckoutDate" id="value" name="value" required>
          <mat-datepicker-toggle matSuffix [for]="checkoutDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #checkoutDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10" class="p-1">
        <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
          <span class="mx-1 uppercase">{{buttonLabel}}</span>
        </button>
      </div>
    </div>
  </form>
</div>