<div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap" *ngIf="roomStores && roomStores.length > 0">
   <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33"
      *ngFor="let roomStore of roomStores; let i=index; trackBy: trackByObjectID">

      <mat-card class="box-shadow-md p-4" style="padding: 0.75em!important;">
         <a class="p-link" *ngIf="roomStore?.id" [routerLink]="['/rooms/detail/']" [queryParams]="{
                  storeId: roomStore.bldgType === 1 ? roomStore?.id: 0, 
                  bdgId: roomStore.bldgType === 1 ? 0: roomStore.bldgId, 
                  rooms: searchCriteria.rooms, 
                  adults: searchCriteria.adults, days: searchCriteria.days, roomTypeName: roomStore.roomTypeName,
                  children: searchCriteria.children, checkinDate: searchCriteria.checkinDate | date: 'yyyy-MM-dd', 
                  checkoutDate: searchCriteria.checkoutDate | date: 'yyyy-MM-dd'}">
            <img mat-card-image
               [src]="'assets/images/buildings/'+(roomStore?.image?(roomStore.bldgId+'/'+roomStore?.image):'default.png')"
               alt="Photo">
         </a>
         <mat-card-content class="pt-3">
            <h4>
               <a *ngIf="roomStore?.id" [routerLink]="['/rooms/detail/']" [queryParams]="{
                  storeId: roomStore.bldgType === 1 ? roomStore?.id: 0, 
                  bdgId: roomStore.bldgType === 1 ? 0: roomStore.bldgId, 
                  rooms: searchCriteria.rooms, 
                  adults: searchCriteria.adults, days: searchCriteria.days, roomTypeName: roomStore.roomTypeName,
                  children: searchCriteria.children, checkinDate: searchCriteria.checkinDate | date: 'yyyy-MM-dd', 
                  checkoutDate: searchCriteria.checkoutDate | date: 'yyyy-MM-dd'}"
                  class="title-link">{{roomStore?.storeName}}</a>
            </h4>
            <h6 style="color: #283593!important;">
               {{'COMMON.LOCATION'|translate}}: <strong>{{roomStore?.cityName}}, {{roomStore?.countryName}}</strong>
            </h6>
            <div fxLayout="row wrap" *ngFor="let roomType of roomStore.roomTyeVOs">
               <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                  <h6>{{roomType.roomTypeName}}
                     <font style="color: #ff5722!important;">
                        ( {{roomStore.symbolLeft}}
                        {{roomType.price | number: '1.' + roomStore?.currencyDecimalPlace + '-'  
                           + roomStore?.currencyDecimalPlace : appService?.appInfoStorage.language.locale}}
                        {{roomStore.symbolRight}})
                     </font>
                  </h6>
                  <p style="color: grey;" *ngIf="searchCriteria.rooms>1 || searchCriteria.days>1">
                     {{searchCriteria.rooms}} {{'COMMON.ROOMS'|translate}},
                     {{searchCriteria.days}}
                     {{'COMMON.DAYS'|translate}}:
                     <strong>
                        {{roomStore.symbolLeft}}
                        {{roomType.price * searchCriteria.rooms * searchCriteria.days | number: '1.' + roomStore?.currencyDecimalPlace + '-'  
                           + roomStore?.currencyDecimalPlace : appService?.appInfoStorage.language.locale}}
                        {{roomStore.symbolRight}}
                     </strong>
                  </p>
               </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
               <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
               </div>
               <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                  <a mat-flat-button color="accent" *ngIf="roomStore?.id" [routerLink]="['/rooms/detail/']"
                     [queryParams]="{storeId: roomStore?.id, 
                     rooms: searchCriteria.rooms, 
                  adults: searchCriteria.adults, days: searchCriteria.days, roomTypeName: roomStore.roomTypeName,
                  children: searchCriteria.children, checkinDate: searchCriteria.checkinDate | date: 'yyyy-MM-dd', 
                  checkoutDate: searchCriteria.checkoutDate | date: 'yyyy-MM-dd'}"
                     class="title-link">{{'COMMON.SELECT'|translate}}
                     <i class="material-icons"> task_alt </i>
                  </a>
               </div>
            </div>

         </mat-card-content>
      </mat-card>
   </div>
</div>