<mat-card>
  <a mat-button [routerLink]="['/account/my-items']">{{'COMMON.PRODUCT_SALE' | translate}}
    <mat-icon>navigate_next</mat-icon>
  </a>
  <a mat-button color="accent" *ngIf="selectedStore && selectedStore.id>0">
    <h5>{{'COMMON.STORE' | translate}} : {{selectedStore.name}}</h5>
  </a>
  <div fxLayout="row wrap" class="col-gap">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step>
        <ng-template matStepLabel>{{'COMMON.SELECT_STORE'|translate}}</ng-template>
        <div fxLayout="row wrap" class="col-gap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
            *ngIf="!stores || stores.length===0">
            <button mat-raised-button color="accent" [routerLink]="['/account/profile/edit']"
              [queryParams]="{type:'store', sId:0}">{{'COMMON.ADD_STORE'|translate}}</button>
          </div>
        </div>
        <div fxLayout="row wrap" class="col-gap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
            *ngFor="let store of stores">
            <div class="tile tile-primary">
              <div class="tile-heading">{{store.name}} <span class="pull-right">
                  <i *ngIf="store.aprvStatus===0" class="fa fa-spinner"></i>
                  <i *ngIf="store.aprvStatus===1" class="fa fa-check"></i>
                  {{store.aprvStatus===0?('COMMON.PENDING_APPROVAL'|translate):('COMMON.APPROVED'|translate)}}</span>
                </div>
              <div class="tile-body">
                <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <img height="100%" src="assets/images/stores/{{store.id}}/{{store.image}}">
                    <br />
                    <span class="pull-left">
                      <i *ngIf="store.status===0" class="fa fa-exclamation-circle"></i>
                      <i *ngIf="store.status===1" class="fa fa-check-circle"></i>
                      {{store.status===0?('COMMON.INACTIVE'|translate):('COMMON.ACTIVE'|translate)}}</span>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
                    <span class="pull-left"><i class="fa fa-phone fa-sm"></i> {{store.phone}}</span><br />
                    <span class="pull-left"><i class="fa fa-envelope fa-sm"></i> {{store.email}}</span><br />
                    <span class="pull-left" *ngIf="store.address"><i class="fa fa-map-marker fa-sm"></i>
                      {{store.address.city}}, {{store.address.country.name}}</span>
                    <div [innerHTML]="store?.description"></div>
                  </div>
                </div>
              </div>
              <div class="tile-footer">
                <div fxLayout="row wrap" class="col-gap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                    <span class="pull-right">
                      <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap"
                        *ngIf="store.aprvStatus ===0">
                        {{'COMMON.STORE_NOT_ACTIVATED'|translate}}
                      </mat-chip>
                      <button *ngIf="store.aprvStatus ===1" mat-raised-button color="accent"
                        (click)="getStoreProducts(store)">
                      <mat-icon>done</mat-icon>
                      {{'COMMON.SELECT'|translate}}
                    </button>
                    </span>
                  </div>
                </div>
          </div>
        </div>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{'COMMON.MY_PRODUCTS'|translate}}</ng-template>
        <div fxLayout="row wrap" *ngIf="!products || products.length===0">
          <div fxFlex="100" class="px-2 pb-2 pt-0">
            <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
              {{'MESSAGE.NO_PRODUCT_FOUND'|translate}}
            </mat-chip>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="products && products.length>0">
          <div fxFlex="100" class="px-2 pb-2 pt-0">
            <app-products-toolbar [showSidenavToggle]="false" [dataSource]="dataSource"
              (onSidenavToggle)="sidenav.toggle()" (onChangeCount)="changeCount($event)"
              (onSearchClick)="searchClicked($event)" (onChangeSorting)="changeSorting($event)"
              (onChangeViewType)="changeViewType($event)">
            </app-products-toolbar>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="products && products.length>0">
          <div fxFlex="100" fxFlex.gt-sm="100" class="p-3" *ngIf="dataSource">
            <embryo-ProductGrid [currency]="appService?.currency" [products]="dataSource.filteredData"
              [viewType]="viewType" [viewCol]="viewCol" [fromPage]="'sell'" (addToCart)="addToCart($event)"
              (addToWishList)="addToWishList($event)" (selectProduct)="selectForSaleProduct($event)" gridThree="true">
            </embryo-ProductGrid>
          </div>
        </div>
        <mat-paginator *ngIf="products && products.length>0" [length]="pagination?.total"
          [pageSize]="pagination?.perPage" (page)="onPageChange($event)" class="w-100 mat-elevation-z1">
        </mat-paginator>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{'COMMON.CHANGE_PRODUCT'|translate}}</ng-template>
        <div fxLayout="row wrap" *ngIf="!(productDesc.id>0)">
          <div fxFlex="100" class="px-2 pb-2 pt-0">
            <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
              {{'COMMON.SELECT_PRODUCT'|translate}}
            </mat-chip>
          </div>
        </div>
        <div fxLayout="row wrap" class="col-gap position-relative" *ngIf="productDesc && productDesc.id>0">
          <form name="form" (ngSubmit)="f.form.valid && sell()" #f="ngForm" validate>
            <div fxLayout="row wrap">
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="relative"
                *ngIf="productDesc.product && productDesc.product.image">
                <img [src]="'assets/images/products/' + this.productDesc.product.id + '/' + productDesc.product.image" />
              </div>
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              
                <div class="product-detail-content">
                  <h3>{{productDesc?.name}}</h3>
                  <div class="product-detail-price">
                    {{'COMMON.SUGESTED_PRICE'|translate}} : <h4 class="accent-color">
                      {{productDesc.product.price | currency:appService?.currency}} </h4>
                  </div>
                  <div class="short-des" [innerHTML]="productDesc?.shortDescription"></div>
                  <div fxLayout="row wrap">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-3">
                      <mat-form-field class="w-100">
                        <mat-label> {{'COMMON.PRICE' | translate}}</mat-label>
                        <input matInput type="text" class="form-control" id="price" [(ngModel)]="productStore.price"
                          name="price" #price="ngModel" required>
                        <mat-error *ngIf="f.submitted && price.invalid" severity="error">
                          {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-3">
                      <mat-form-field class="w-100">
                        <mat-label>{{'COMMON.TAX_CLASS' | translate }}</mat-label>
                        <mat-select placeholder="{{'COMMON.TAX_CLASS' | translate }}" id="taxClass" name="taxClass"
                          [(ngModel)]="productStore.taxClassId" #taxClass="ngModel">
                          <mat-option *ngFor="let taxClass of appService.appInfoStorage.taxClasses" [value]="taxClass.id">
                            {{taxClass.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row wrap">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-3">
                      <mat-form-field class="w-100">
                        <mat-label> {{'COMMON.QUANTITY' | translate}}</mat-label>
                        <input matInput type="text" class="form-control" id="quantity" [(ngModel)]="productStore.quantity"
                          name="quantity" #quantity="ngModel" required>
                        <mat-error *ngIf="f.submitted && price.invalid" severity="error">
                          {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-3">
                      <mat-form-field class="w-100">
                        <mat-label> {{'COMMON.MINIMUM_QUANTITY' | translate}}</mat-label>
                        <input matInput type="text" class="form-control" id="minimum" [(ngModel)]="productStore.minimum"
                          name="minimum" #minimum="ngModel" required>
                        <mat-error *ngIf="f.submitted && price.invalid" severity="error">
                          {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row wrap">

                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-3">
                      <mat-form-field class="w-100">
                        <mat-label> {{'COMMON.DATE_AVAILABLE' | translate}}</mat-label><br />
                        <input matInput [matDatepicker]="picker" class="form-control" id="dateAvailable"
                          [(ngModel)]="productStore.dateAvailable" name="dateAvailable" #dateAvailable="ngModel">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-3">
                      <mat-slide-toggle [(ngModel)]="productStore.status" name="status" #status="ngModel" class="my-2">
                        {{ (productStore.status?'COMMON.ENABLED':'COMMON.DISABLED') | translate }}
                      </mat-slide-toggle>
                    </div>
                  </div>
                  <div fxLayout="row wrap">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-3">
                      <mat-form-field class="w-30">
                        <mat-label> {{'COMMON.SORT_ORDER' | translate}}</mat-label>
                        <input matInput type="text" class="form-control" id="sortOrder"
                          [(ngModel)]="productStore.sortOrder" name="sortOrder" #sortOrder="ngModel">
                      </mat-form-field>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-3">
                      <mat-form-field class="w-30">
                        <mat-label> Points</mat-label>
                        <input matInput type="text" class="form-control" id="points" [(ngModel)]="productStore.points"
                          name="points" #points="ngModel">
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row wrap">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-3">
                      <mat-form-field class="w-30">
                        <mat-label>Pourcentage rabais</mat-label>
                      <input matInput type="text" class="form-control" id="promo" [(ngModel)]="productStore.promo"
                        name="promo" #promo="ngModel">
                      </mat-form-field>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-3">
                    </div>
                  </div>

                  <div fxLayout="row wrap">
                    <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
                      <div class="text-left mt-2" fxFlex.gt-sm="25">
                        <button mat-raised-button color="accent" fxLayout="row" fxLayoutAlign="center center"
                          type="submit">
                          <span class="mx-1 uppercase"> {{'COMMON.SELL_PRODUCT'|translate}}</span>
                          <mat-icon>save</mat-icon>
                        </button> </div>
                      <div class="text-left mt-2" fxFlex.gt-sm="75" *ngIf="messages">
                        <p><a mat-button color="primary" class="w-100">{{messages}}</a></p>
                      </div>
                      <div class="text-left mt-2" fxFlex.gt-sm="75" *ngIf="errors">
                        <p><a mat-button color="accent" class="w-100">{{errors}}</a></p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


            <div fxLayout="row wrap">
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="p-3">
                <button mat-raised-button color="accent" fxLayout="row" fxLayoutAlign="center center"
                  class="add" (click)="addDiscount()">
                  <mat-icon>add</mat-icon>
                </button>
                <div class="table-wrapper">
                  <table mat-table [dataSource]="productDiscountDatasource" matSort class="w-100">

                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef width ="10%" mat-sort-header> Quantity </th>
                      <td mat-cell width ="10%" *matCellDef="let productDiscount">
                        <mat-form-field>
                           <input matInput type="text" class="form-control" id="quantity" [(ngModel)]="productDiscount.quantity" 
                              name="quantity" #quantity="ngModel">
                        </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="priority">
                      <th mat-header-cell *matHeaderCellDef width ="8%" mat-sort-header> Priority </th>
                      <td mat-cell width ="8%" *matCellDef="let productDiscount">
                        <mat-form-field class="w-80">
                           <input matInput type="text" class="form-control" id="priority" [(ngModel)]="productDiscount.priority" 
                              name="priority" #priority="ngModel">
                        </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef width ="20%" mat-sort-header> Price </th>
                      <td mat-cell width ="20%" *matCellDef="let productDiscount">
                        <mat-form-field class="w-80">
                           <input matInput type="text" class="form-control" id="price" [(ngModel)]="productDiscount.price" 
                              name="price" #price="ngModel">
                        </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="percentage">
                      <th mat-header-cell *matHeaderCellDef width ="12%" mat-sort-header> Percentage </th>
                      <td mat-cell width ="12%" *matCellDef="let productDiscount">
                        <mat-form-field class="w-80">
                           <input matInput type="text" class="form-control" id="percentage" [(ngModel)]="productDiscount.percentage" 
                              name="percentage" #percentage="ngModel">
                        </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="dateStart">
                      <th mat-header-cell *matHeaderCellDef width="15%" mat-sort-header> {{'COMMON.START_DATE' | translate}}
                      </th>
                      <td mat-cell width ="15%" *matCellDef="let productDiscount">
                        <input matInput [matDatepicker]="dateStartPicker" class="form-control" id="dateStart"
                          [(ngModel)]="productDiscount.dateStart" name="dateStart" #dateStart="ngModel">
                        <mat-datepicker-toggle matSuffix [for]="dateStartPicker"></mat-datepicker-toggle>
                        <mat-datepicker #dateStartPicker></mat-datepicker>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="dateEnd">
                      <th mat-header-cell *matHeaderCellDef width="15%" mat-sort-header> {{'COMMON.END_DATE' | translate}}
                      </th>
                      <td mat-cell width ="15%" *matCellDef="let productDiscount">
                        <input matInput [matDatepicker]="dateEndPicker" class="form-control" id="dateEnd"
                          [(ngModel)]="productDiscount.dateEnd" name="dateEnd" #dateEnd="ngModel">
                        <mat-datepicker-toggle matSuffix [for]="dateEndPicker"></mat-datepicker-toggle>
                        <mat-datepicker #dateEndPicker></mat-datepicker>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.STATUS' | translate}} </th>
                      <td mat-cell *matCellDef="let productDiscount">
                        {{productDiscount.status === 1 ? ('COMMON.ACTIVE'| translate):('COMMON.INACTIVE'| translate)}} 
                      </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef> Actions </th>
                      <td mat-cell *matCellDef="let productDiscount">
                        <a [routerLink]="['/admin/products', productDesc.product.id]" mat-icon-button color="primary"
                          matTooltip="{{'COMMON.SAVE' | translate}}">
                          <mat-icon>save</mat-icon>
                        </a>
                        &nbsp;&nbsp;
                        <button mat-icon-button color="warn" (click)="remove(productDiscount)" matTooltip="{{'COMMON.DELETE' | translate}}"
                          class="remove">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let productDesc; columns: displayedColumns;">
                    </tr>
                  </table>
                  <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">{{'MESSAGE.NO_DATA' | translate}}</p>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
              </div>
            </div>

          </form>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</mat-card>