<mat-card>
  <h4>{{'COMMON.PROFILE_INFO'|translate}}</h4>
  <div class="pt-3">
    <div class="proflie-field mb-3">
      <label>{{'COMMON.FIRST_NAME'|translate}}:</label>
      <span>{{user.firstName}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>{{'COMMON.LAST_NAME'|translate}}:</label>
      <span>{{user.lastName}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>{{'COMMON.GENDER'|translate}}:</label>
      <span>{{user.sex==='M'?('COMMON.MALE'|translate):('COMMON.FEMALE'|translate) }}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>{{'COMMON.BIRTH_DATE'|translate}}:</label>
      <span>{{user.birthDate |date}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>{{'COMMON.MOBILE_PHONE'|translate}}:</label>
      <span>{{user.mobilePhone}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>{{'COMMON.HOME_PHONE'|translate}}:</label>
      <span>{{user.homePhone}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>E-mail:</label>
      <span>{{user.email}}</span>
    </div>
    <button mat-raised-button color="accent" [routerLink]="['edit']"
      [queryParams]="{type:'info'}">{{'COMMON.EDIT'|translate}}</button>
  </div>
</mat-card>