<div class="table-wrapper">
  <div><h4 style="color: #283593;">{{this.paymentType}}</h4></div>
    <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30"
      *ngFor="let tmoney of tmoneys">
      <div class="tile tile-primary">
        <div class="tile-heading">
          <span class="pull-left">
            <mat-icon>phone_iphone</mat-icon>
          </span>
          {{paymentType}}
        </div>
        <div class="tile-body">
          {{'COMMON.PHONE'|translate}} : {{tmoney.phoneNumber}}
        </div>
        <div class="tile-footer">
          <div fxLayout="row wrap">
            <div style="text-align: center;" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <button mat-mini-fab color="warn" (click)="delete(tmoney.id)"
                matTooltip="{{'COMMON.REMOVE' | translate}}">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            <div style="text-align: center;" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <button mat-mini-fab style="background-color:green;" (click)="changePaymentMethod(tmoney)"
                matTooltip="{{'COMMON.SELECT_PHONE' | translate}}">
                <mat-icon>check_circle_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>