
<div class="table-wrapper">
  <div><h6>{{this.paymentType}}s</h6></div>
  <table mat-table [dataSource]="tmoneysDataSource" matSort class="w-100">

    <ng-container matColumnDef="selected">
      <th mat-header-cell *matHeaderCellDef>Selected</th>
      <td mat-cell *matCellDef="let tmoney">
        <mat-radio-group [(ngModel)]="tmoney.status">
          <mat-radio-button [value]="1"  (click)="changePaymentMethod(tmoney)"></mat-radio-button>
        </mat-radio-group>
        
      </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let tmoney"><img [src]="'assets/images/tmoneys/' + tmoney.phoneNumber.substring(0,1)  + '.png'"
          [style.width.px]="50" class="d-block"></td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
      <td mat-cell *matCellDef="let tmoney"> {{tmoney.phoneNumber}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let tmoney; columns: displayedColumns;">
    </tr>
  </table>
</div>