<div class="section-gap pt-3 pb-0">
  <ngx-slick-carousel class="carousel home-2-slider" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of marketings">
      <div class="relative">
        <img [src]="'assets/images/marketings/'+slide.marketing.id+'/'+slide.marketing.image" alt="" width="100%">
        <div class="home-2-slider-content">
          <div [innerHTML]="slide?.description| safehtml"></div>
          <button color="accent" mat-raised-button [routerLink]="['/products']">Shop Now</button>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>