<div class="inner-container cart-page section-gap"
  *ngIf="(appService.localStorageCartProductsMap[currencyId] && appService.localStorageCartProductsMap[currencyId].length>0); else elseBlock">
  <div class="cart-wrapper">
    <div class="cart-shop-list mb-5 text-center  card-shadow">
      <div fxLayout="row wrap" fxLayoutAlign="start center" class="cart-item"
        *ngFor="let product of appService.localStorageCartProductsMap[currencyId]">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="cart-product-image">
          <div class="cart-item-thumb">
            <a href="javascript:void(0)" class="p-link">
              <img class="card-shadow" [src]="'assets/images/products/' + product?.prdId + '/' + product?.image" alt="cart image">
            </a>
          </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
          <div fxLayout="row wrap" fxLayoutAlign="center center" class="cart-product-info">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
              <h5>{{product?.name}}</h5>
              <div fxLayout="row wrap">
                <div *ngFor="let mapEntry of product.selectedOptionMap | keyvalue; let i = index;">
                    <label style="font-weight: bold;">{{mapEntry.key}}: </label>
                    <span *ngFor="let optionValue of mapEntry.value">
                      {{optionValue.name}}{{optionValue.value}}&nbsp;
                    </span>
                    <span>&nbsp;&nbsp;</span>
                </div>
              </div>
              <p class="mb-0">{{'COMMON.SOLD_BY'|translate}} <a [routerLink]="['/products']"
                  [queryParams]="{storeId:product.storeId}" routerLinkActive="tab-active"> {{product.storeName}}</a></p>
            </div>
            <div fxFlex.xs="45" fxFlex.sm="45" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
              <button mat color="accent"  (click)="product.quantity = product.quantity - 1; updateCartProducts();" [disabled]="product.quantity === 1"><i class="material-icons"> remove
              </i></button>
              <mat-form-field   class="w-15" style="width: 60px !important;">
                <input matInput type="text" class="form-control" id="qty" [(ngModel)]="product.quantity" name="qty" style="text-align: center" required>
              </mat-form-field>
              <button mat color="primary" (click)="product.quantity = product.quantity + 1; updateCartProducts();"><i class="material-icons"> add_box
                    </i></button>
            </div>
            <div fxFlex.xs="45" fxFlex.sm="45" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
              <div class="cart-item-price">
                <h4>{{appService?.navbarCartCurrencyMap[currencyId].symbolLeft}}
                  {{ calculateProductSinglePrice(product, product?.quantity)}}
                  {{appService?.navbarCartCurrencyMap[currencyId].symbolRight}}</h4>
              </div>
            </div>
            <div class="close-sm" fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="20">
              <div class="cart-item-price">
                <a href="javascript:void(0)" class="accent-color remove-cart" (click)="removeProduct(product)"><i
                    class="material-icons">
                    close
                  </i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-total" fxLayout="row wrap" fxLayoutAlign="flex-end">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
        <div fxLayout="row wrap" fxLayoutAlign="none">
          <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">{{'COMMON.ITEMS' | translate}}
            ({{appService?.navbarCartCountMap[currencyId]}}):</div>
          <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
            {{appService?.navbarCartCurrencyMap[currencyId].symbolLeft}}
            {{appService?.navbarCartPriceMap[currencyId]}}
            {{appService?.navbarCartCurrencyMap[currencyId].symbolRight}}</div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="none">
          <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
            {{'COMMON.SHIPPING_AND_HANDLING' | translate}}:</div>
          <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
            {{appService?.navbarCartCurrencyMap[currencyId].symbolLeft}}
            {{appService?.navbarCartShippingMap[currencyId]}}
            {{appService?.navbarCartCurrencyMap[currencyId].symbolRight}}</div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="none">
          <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
            {{'COMMON.TOTAL_BEFORE_TAX' | translate}}:</div>
          <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
            {{appService?.navbarCartCurrencyMap[currencyId].symbolLeft}}
            {{appService?.navbarCartTotalBeforeTaxMap[currencyId]}}
            {{appService?.navbarCartCurrencyMap[currencyId].symbolRight}}</div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="none">
          <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
            {{'COMMON.ESTIMATED_TAX' | translate}}:</div>
          <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
            {{appService?.navbarCartCurrencyMap[currencyId].symbolLeft}}
            {{appService?.navbarCartEstimatedTaxMap[currencyId]}}
            {{appService?.navbarCartCurrencyMap[currencyId].symbolRight}}</div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="none" style="border-bottom: 1px solid #0052C2">
          <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
            {{'COMMON.TOTAL' | translate}}:</div>
          <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
            {{appService?.navbarCartCurrencyMap[currencyId].symbolLeft}}
            {{appService?.navbarCartTotalMap[currencyId]}}
            {{appService?.navbarCartCurrencyMap[currencyId].symbolRight}}</div>
        </div>

        <br />
        <div fxLayout="row wrap" fxLayoutAlign="none">
          <div fxFlex.xs="75" fxFlex.sm="75" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
            <h6 style="color: #ff5722">{{'COMMON.ORDER_TOTAL' | translate}}:</h6>
          </div>
          <div fxFlex.xs="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
            <h6 style="color: #ff5722">{{appService?.navbarCartCurrencyMap[currencyId].symbolLeft}}
              {{appService?.navbarCartTotalMap[currencyId]}}
              {{appService?.navbarCartCurrencyMap[currencyId].symbolRight}}</h6>
          </div>
        </div>
        <div> <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center"
            [disabled]="appService.hasOrderSucceedMap[currencyId]" (click)="placeYourOrder()" type="button"
            style="width:100%;">
            <span style="font-size:12px;" class="mx-1 uppercase">{{'COMMON.PLACE_YOUR_ORDER' | translate}}</span>
          </button></div>
        <div fxLayout="row wrap">
          <mat-error *ngIf="error">{{error}}</mat-error>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="section-gap-lg text-center">
    <div class="mb-4">
      <img src="assets/images/empty-cart.png" height="128" width="128" alt="cart-empty">
    </div>
    <h4> {{'MESSAGE.CART_EMPTY'|translate}}.</h4>
    <a href="javascript:void(0)" class="primary-color" [routerLink]="['/']">{{'MESSAGE.GO_SHOPPING'|translate}}</a>
  </div>
</ng-template>