<div fxLayout="row wrap">

  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
    *ngIf="selectedStore && selectedStore.id > 0">
    <mat-tab-group class="table-tab-list" color="accent" [selectedIndex]="selected.value"
      (selectedIndexChange)="selected.setValue($event); tabChanged(selectedStore)">
      <mat-tab label="{{'COMMON.LIST' | translate}}">

        <div fxLayout="row wrap">
          <div fxFlex="50" fxFlex.gt-sm="50" class="p-3">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'COMMON.SEARCH' | translate}}"
                autocomplete="off">
            </mat-form-field>
          </div>
          <div fxFlex="10" fxFlex.gt-sm="10" class="p-3" *ngIf="userId !== 0">
            <a (click)="action = 'add'; messages = ''; getStoreServiceDetails(null)" mat-icon-button color="primary"
              matTooltip="{{'COMMON.ADD' | translate}}">
              <mat-icon color="primary" class="mat-icon-xlg">add_circle</mat-icon>
            </a>
          </div>
        </div>
        <div class="text-center mt-2" *ngIf="messages">
          <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
            <div class="table-wrapper">
              <table mat-table [dataSource]="ssDatasource" matSort class="w-100">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header> {{'COMMON.NAME' | translate}}</th>
                  <td mat-cell *matCellDef="let storeService"> {{storeService.service.name}} </td>
                </ng-container>

                <ng-container matColumnDef="renewalDate">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header>
                    {{'COMMON.RENEWAL_DATE' | translate}}</th>
                  <td mat-cell *matCellDef="let storeService">
                    {{storeService.renewalDate | date:'mediumDate' : '' : translate.currentLang}} </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header> {{'COMMON.AMOUNT' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let storeService"> {{storeService.amount}} </td>
                </ng-container>

                <ng-container matColumnDef="startDate">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header> {{'COMMON.START_DATE' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let storeService">
                    {{storeService.startDate | date:'mediumDate' : '' : translate.currentLang}} </td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header> {{'COMMON.END_DATE' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let storeService">
                    {{storeService.endDate | date:'mediumDate' : '' : translate.currentLang}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="subTotal">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header> {{'COMMON.SUB_TOTAL' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let storeService"> {{storeService.subTotal}} </td>
                </ng-container>

                <ng-container matColumnDef="taxes">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header> {{'COMMON.TAXES' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let storeService"> {{storeService.taxes}} </td>
                </ng-container>

                <ng-container matColumnDef="discount">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header> {{'COMMON.REBATE' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let storeService"> {{storeService.discount}} </td>
                </ng-container> -->

                <ng-container matColumnDef="billRecur">
                  <th mat-header-cell *matHeaderCellDef width="2%" mat-sort-header>{{'COMMON.BILL_RECUR' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let storeService">
                    <span *ngIf="storeService.billRecur === 1"
                      style="color: #0000FF">{{'COMMON.MONTHLY' | translate}}</span>
                    <span *ngIf="storeService.billRecur === 2"
                      style="color: #00FF41">{{'COMMON.QUATERLY' | translate}}</span>
                    <span *ngIf="storeService.billRecur === 3"
                      style="color: #0000FF">{{'COMMON.BIANNUAL' | translate}}</span>
                    <span *ngIf="storeService.billRecur === 4"
                      style="color: #00FF41">{{'COMMON.YEARLY' | translate}}</span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="renewalRecur">
                  <th mat-header-cell *matHeaderCellDef width="2%" mat-sort-header>
                    {{'COMMON.RENEWAL_RECUR' | translate}}</th>
                  <td mat-cell *matCellDef="let storeService">
                    <span *ngIf="storeService.renewalRecur === 1"
                      style="color: #0000FF">{{'COMMON.MONTHLY' | translate}}</span>
                    <span *ngIf="storeService.renewalRecur === 2"
                      style="color: #00FF41">{{'COMMON.QUATERLY' | translate}}</span>
                    <span *ngIf="storeService.renewalRecur === 3"
                      style="color: #0000FF">{{'COMMON.BIANNUAL' | translate}}</span>
                    <span *ngIf="storeService.renewalRecur === 4"
                      style="color: #00FF41">{{'COMMON.YEARLY' | translate}}</span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header> Actions</th>
                  <td mat-cell *matCellDef="let storeService">
                    <a mat-icon-button (click)="getStoreServiceDetails(storeService)" color="secondary"
                      matTooltip="{{'COMMON.VIEW_DETAILS' | translate}}">
                      <mat-icon>info</mat-icon>
                    </a>
                    &nbsp;&nbsp;
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="ssColumns"></tr>
                <tr mat-row *matRowDef="let storeService; columns: ssColumns;"></tr>
              </table>
              <p *ngIf="ssDatasource?.data.length === 0" class="py-5 mb-0 text-center">{{'MESSAGE.NO_DATA' | translate}}
              </p>
            </div>
            <mat-paginator #MatPaginatorBills [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
            </mat-paginator>

          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
            <mat-card>
              <form name="form" (ngSubmit)="f.form.valid && search()" #f="ngForm" validate>

                <div fxLayout="row wrap">
                  <div class="text-center">
                    <button mat-raised-button (click)="button='filter'" color="primary" fxLayout="row"
                      fxLayoutAlign="center center" type="submit">
                      <span class="mx-1 uppercase">{{'COMMON.FILTER' | translate}}</span>
                      <mat-icon>filter_alt</mat-icon>
                    </button>
                  </div>

                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label> {{'COMMON.STATUS' | translate}}</mat-label>
                    <mat-select [(ngModel)]="searchCriteria.status" name="status">
                      <mat-option [value]="1">
                        {{'COMMON.ACTIVE'|translate}}
                      </mat-option>
                      <mat-option [value]="0">
                        {{'COMMON.INACTIVE'|translate}}
                      </mat-option>
                      <mat-option [value]="2">
                        {{'COMMON.SUBMITTED'|translate}}
                      </mat-option>
                    </mat-select>

                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.START_DATE' | translate}}</mat-label><br />
                    <input matInput [matDatepicker]="beginDatePicker" class="form-control" id="beginDate"
                      [(ngModel)]="searchCriteria.beginStartDate" name="beginDate" #beginDate="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="beginDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #beginDatePicker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.END_DATE' | translate}}</mat-label><br />
                    <input matInput [matDatepicker]="endDatePicker" class="form-control" id="endDate"
                      [(ngModel)]="searchCriteria.endStartDate" name="endDate" #endDate="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.MIN_AMOUNT' | translate}}</mat-label>
                    <input matInput type="text" class="form-control" id="model" [(ngModel)]="searchCriteria.minAmount"
                      name="model" #model="ngModel">
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label> {{'COMMON.MAX_AMOUNT' | translate}}</mat-label>
                    <input matInput type="text" class="form-control" id="model" [(ngModel)]="searchCriteria.maxAmount"
                      name="model" #model="ngModel">
                  </mat-form-field>

                  <div class="text-center">
                    <button mat-raised-button (click)="button='clear'" color="accent" fxLayout="row"
                      fxLayoutAlign="center center" type="submit">
                      <span class="mx-1 uppercase">{{'COMMON.CLEAR' | translate}}</span>
                      <mat-icon>clear</mat-icon>
                    </button>
                  </div>
                </div>
              </form>
            </mat-card>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="{{'COMMON.DETAILS' | translate}}">
        <app-store-service (storeServiceSaveEvent)="updateDataTable($event)"></app-store-service>
      </mat-tab>
    </mat-tab-group>
  </div>



</div>