<mat-card>
   <button color="primary" mat-raised-button (click)="addNewUserDialog()">
      Add Users
   </button>
   <ng-container *ngIf="collaborationData && collaborationData.length>0; else elseBlock">
      <div class="table-responsive-x">
         <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 table-scroll-wrap">
            <ng-container matColumnDef="image">
               <th class="px-3" mat-header-cell *matHeaderCellDef>Image</th>
               <td class="px-3" mat-cell *matCellDef="let element"> <img src= {{element.image}} width="40" height="40"></td>
            </ng-container>
            <ng-container matColumnDef="name">
               <th class="px-3" mat-header-cell *matHeaderCellDef> Name </th>
               <td class="px-3" mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
               <th class="px-3" mat-header-cell *matHeaderCellDef> email </th>
               <td class="px-3" mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="access">
               <th class="px-3" mat-header-cell *matHeaderCellDef> Access </th>
               <td class="px-3" mat-cell *matCellDef="let element"> {{element.access}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
               <th class="px-3" mat-header-cell *matHeaderCellDef> Action </th>
               <td class="px-3" mat-cell *matCellDef="let element;let i = index;">
                  <button color="warn" mat-icon-button (click)="onDelete(i)">
                     <mat-icon class="">delete</mat-icon>
                  </button>
               </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
      </div>  
      <!-- table-responsive-x -->
   </ng-container>
   <ng-template #elseBlock>
      <h5 class="ml-5">No user found</h5>
   </ng-template>
</mat-card>