<div class="inner-container section-gap">
   <div class="checkout-option">
    <div class="container">
      <div fxLayout="row wrap" class="col-gap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
          <app-PaymentCards (changePaymentMethodEvent)="onCardMethodSelected($event)"></app-PaymentCards>
  
          <div>
             <mat-accordion>
              <mat-expansion-panel 
                (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <button mat-flat-button color="primary">{{'COMMON.ADD_CREDIT_OR_DEBIT_CARD'|translate}}</button>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-PaymentCard (cardSaveEvent)="onCardSaved($event)"></app-PaymentCard>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <br/>
          <app-Tmoneys #TmoneysComponent [paymentType]="'Tmoney'" (changePaymentMethodEvent)="onTmoneyMethodSelected($event)"></app-Tmoneys>
          <mat-accordion>
            <mat-expansion-panel 
              (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
                              
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <button mat-flat-button color="primary">{{'COMMON.ADD_TMONEY'|translate}}</button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-Tmoney #TmoneyComponent [paymentType]="'Tmoney'" (tmoneySaveEvent)="onTmoneySaved($event)"></app-Tmoney>
            </mat-expansion-panel>
          </mat-accordion>

          <br/>
          <app-Tmoneys #FloozsComponent [paymentType]="'Flooz'" (changePaymentMethodEvent)="onFloozMethodSelected($event)"></app-Tmoneys>
          <mat-accordion>
            <mat-expansion-panel 
              (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
                              
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <button mat-flat-button color="primary">{{'COMMON.ADD_FLOOZ'|translate}}</button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-Tmoney #FloozComponent [paymentType]="'Flooz'" (tmoneySaveEvent)="onFloozSaved($event)"></app-Tmoney>
            </mat-expansion-panel>
          </mat-accordion>

          </div>
        </div>
        
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
          <button mat-flat-button color="primary" [routerLink]="['/checkout/payment']">{{'COMMON.CONTINUE'|translate}}</button>
        </div>

      </div>
    </div>
 
</div>