<mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="onLangChanged($event)">
   <mat-tab id="{{lang.id}}" label="{{lang.name}}" *ngFor="let lang of appService.appInfoStorage.languages">
   </mat-tab>
</mat-tab-group>

<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
   <div fxLayout="row wrap">

      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="p-3">
         <div class="text-center mt-2">
            <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
               <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
               <mat-icon>save</mat-icon>
            </button> </div>
         <div class="text-center mt-2" *ngIf="messages">
            <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
         </div>
      </div>

      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40" class="p-3">
         <mat-form-field   class="w-100">
            <mat-label> {{'COMMON.INGREDIENT_NAME' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="ingredientName" [(ngModel)]="ingredientDescription.name"
               name="ingredientName" #ingredientName="ngModel" required>
            <mat-error *ngIf="f.submitted && ingredientName.invalid" severity="error">
               {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
            </mat-error>
         </mat-form-field>
      </div>
   </div>

   <div fxLayout="row wrap">
      <mat-label> {{'COMMON.DESCRIPTION' | translate}}
      <font color="red">*</font>
      </mat-label>
      <quill-editor class="form-control" id="description" [(ngModel)]="ingredientDescription.description"
         name="description" #description="ngModel" required></quill-editor>
      <mat-error *ngIf="f.submitted && description.invalid" severity="error">
         {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
      </mat-error>
   </div>

</form>