<ngx-slick-carousel class="carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let store of stores">
    <a [routerLink]="['/products']" [queryParams]="{storeId:store.id}">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{store.name}}</mat-card-title>
          <mat-card-subtitle *ngIf="store.address">{{store.address.city +', '+store.address.country.name}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img src="assets/images/stores/{{store.id}}/{{store.image}}">
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</ngx-slick-carousel>