<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>

   <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="40" class="p-3">
         <button mat-icon-button color="primary" (click)="clear()" type="button"
            matTooltip="{{'COMMON.ADD' | translate}}" class="remove">
            <mat-icon color="primary" class="mat-icon-xlg">add_circle</mat-icon>
         </button>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60" class="p-3">
         <div class="text-center mt-2" *ngIf="messages">
            <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
         </div>
      </div>

   </div>

   <div fxLayout="row">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30" class="p-1"
         *ngFor="let lang of appService.appInfoStorage.languages; let i = index">
         <mat-form-field appearance="outline" class="w-100">
            <mat-label> {{'COMMON.NAME' | translate}} - {{lang.name}}</mat-label>
            <input matInput type="text" class="form-control" id="name{{i}}" [(ngModel)]="menu.menuDescriptions[i].name"
               name="name{{i}}" required>
         </mat-form-field>
         <div fxFlex="5"></div>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="p-1">
         <mat-slide-toggle [(ngModel)]="menu.status" name="status" #status="ngModel" class="my-2">
            {{ 'COMMON.STATUS' | translate }}
         </mat-slide-toggle>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="p-1">
         <mat-slide-toggle [(ngModel)]="menu.showInKitchen" name="showInKitchen" #showInKitchen="ngModel" class="my-2">
            {{ 'COMMON.SHOW_IN_KITCHEN' | translate }}
         </mat-slide-toggle>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-3">
         <div class="text-center mt-2">
            <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
               <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
               <mat-icon>save</mat-icon>
            </button> </div>
         <div class="text-center mt-2" *ngIf="messages">
            <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
         </div>
      </div>
   </div>
</form>