<mat-card *ngIf="isForShippingAddresses()">
  <div>
    <div fxLayout="row wrap"><h5>{{'COMMON.SHIPPING_ADDRESS'|translate}}</h5></div> 
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="25" fxFlex.xl="25" *ngFor="let addr of shippingAddresses">
        <div class="pt-3">
          <address class="mb-4">
            <strong>{{addr.firstName}} {{addr.lastName}}</strong><br>
            {{addr.address1}} {{addr.address2}}<br>
            {{addr.city}}<br>
            {{addr.postCode}}<br>
            {{addr.zone.name}}<br>
            {{addr.country.name}}<br>
          </address>
          <div fxLayout="row wrap" xLayout.xs="column" fxLayoutGap="20px">
            <button mat-raised-button color="accent" [disabled]="addr.status === 1" (click)="changePaymentAddress(addr)">{{'COMMON.DELIVER_TO_THIS_ADDRESS'|translate}}</button>
          </div>
          <br/>
          <div fxLayout="row wrap" xLayout.xs="column" fxLayoutGap="20px">
            <button mat-raised-button color="primary" (click)="panelOpenState = true; editAddress(addr.id, 1)">{{'COMMON.EDIT'|translate}}</button>
            <button mat-raised-button color="primary" (click)="removeAddress(addr.id)">{{'COMMON.REMOVE'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div>
    <mat-accordion>
      <mat-expansion-panel #shippingExpansionPanelElement
        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-flat-button color="primary">{{'COMMON.ADD_NEW_SHIPPING_ADDRESS'|translate}}</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-address #shippingAddressComponent [selectedAddressType]="1" (addressSaveEvent)="onAddressSaved($event)"></app-address>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-card>
<br/>
<mat-card *ngIf="isForBillingAddresses()">
  <div>
    <div fxLayout="row wrap"><h5>{{'COMMON.BILLING_ADDRESS'|translate}}</h5></div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="25" fxFlex.xl="25" *ngFor="let addr of billingAddresses">
        <div class="pt-3">
          <address class="mb-4">
            <strong>{{addr.firstName}} {{addr.lastName}}</strong><br>
            {{addr.address1}} {{addr.address2}}<br>
            {{addr.city}}<br>
            {{addr.postCode}}<br>
            {{addr.zone.name}}<br>
            {{addr.country.name}}<br>
          </address>
          <div fxLayout="row wrap" xLayout.xs="column" fxLayoutGap="20px">
            <button mat-raised-button color="accent" [disabled]="addr.status === 1" (click)="changePaymentAddress(addr)">{{'COMMON.DELIVER_TO_THIS_ADDRESS'|translate}}</button>
          </div>
          <br/>
          <div fxLayout="row wrap" xLayout.xs="column" fxLayoutGap="20px">
            <button mat-raised-button color="primary" (click)="panelOpenState = true; editAddress(addr.id, 2)">{{'COMMON.EDIT'|translate}}</button>
            <button mat-raised-button color="primary" (click)="removeAddress(addr.id)">{{'COMMON.REMOVE'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div>
    <mat-accordion>
      <mat-expansion-panel #billingExpansionPanelElement
        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-flat-button color="primary">{{'COMMON.ADD_NEW_BILLING_ADDRESS'|translate}}</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-address #billingAddressComponent [selectedAddressType]="2" (addressSaveEvent)="onAddressSaved($event)"></app-address>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-card>