<mat-card *ngIf="isForShippingAddresses()">
  <div>
    <div fxLayout="row wrap"><h5>{{'COMMON.SHIPPING_ADDRESS'|translate}}</h5></div> 
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="25" fxFlex.xl="25" *ngFor="let addr of shippingAddresses">
        <div class="pt-3">
          <address class="mb-4">
            <strong>{{addr.firstName}} {{addr.lastName}}</strong><br>
            {{addr.address1}} {{addr.address2}}<br>
            {{addr.city}}<br>
            {{addr.postCode}}<br>
            {{addr.zone.name}}<br>
            {{addr.country.name}}<br>
          </address>
          <div fxLayout="row wrap" xLayout.xs="column" fxLayoutGap="20px">
            <input type="checkbox" class="mb-2 d-block" [disabled]="addr.status === 1" [checked]="addr.status === 1" 
              (click)="changePaymentAddress(addr)">{{'COMMON.DELIVER_TO_THIS_ADDRESS'|translate}}>
          </div>
          <br/>
          <div fxLayout="row wrap" xLayout.xs="column" fxLayoutGap="20px">
            <button mat-raised-button color="primary" (click)="panelOpenState = true; editAddress(addr.id, 1)" 
                matTooltip="{{'COMMON.EDIT' | translate}}">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="accent" (click)="removeAddress(addr.id)"
                matTooltip="{{'COMMON.REMOVE' | translate}}"><mat-icon>remove</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div>
    <mat-accordion>
      <mat-expansion-panel #shippingExpansionPanelElement
        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-flat-button color="primary" matTooltip="{{'COMMON.ADD_NEW_SHIPPING_ADDRESS' | translate}}">
              <mat-icon>add</mat-icon></button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-address #shippingAddressComponent [userId]="userId" [selectedAddressType]="1" (addressSaveEvent)="onAddressSaved($event)"></app-address>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-card>
<br/>
<mat-card *ngIf="isForBillingAddresses()">
  <div>
    <div fxLayout="row wrap"><h5>{{'COMMON.BILLING_ADDRESS'|translate}}</h5></div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="25" fxFlex.xl="25" *ngFor="let addr of billingAddresses">
        <div class="pt-3">
          <address class="mb-4">
            <strong>{{addr.firstName}} {{addr.lastName}}</strong><br>
            {{addr.address1}} {{addr.address2}}<br>
            {{addr.city}}<br>
            {{addr.postCode}}<br>
            {{addr.zone.name}}<br>
            {{addr.country.name}}<br>
          </address>
          <div fxLayout="row wrap" xLayout.xs="column" fxLayoutGap="20px">
            <input type="checkbox" class="mb-2 d-block" [disabled]="addr.status === 1" [checked]="addr.status === 1" 
              (click)="changePaymentAddress(addr)">{{'COMMON.DELIVER_TO_THIS_ADDRESS'|translate}}>
          </div>
          <br/>
          <div fxLayout="row wrap" xLayout.xs="column" fxLayoutGap="20px">
            <button mat-raised-button color="primary" (click)="panelOpenState = true; editAddress(addr.id, 2)" 
                matTooltip="{{'COMMON.EDIT' | translate}}">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="accent" (click)="removeAddress(addr.id)"
                matTooltip="{{'COMMON.REMOVE' | translate}}"><mat-icon>remove</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div>
    <mat-accordion>
      <mat-expansion-panel #billingExpansionPanelElement
        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-flat-button color="primary" matTooltip="{{'COMMON.ADD_NEW_BILLING_ADDRESS' | translate}}">
              <mat-icon>add</mat-icon></button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-address #billingAddressComponent [userId]="userId" [selectedAddressType]="2" (addressSaveEvent)="onAddressSaved($event)"></app-address>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-card>