<div class="container">
  <div class="section-gap pb-0" *ngIf="buildings && buildings.length>0">
    <div class="container">
      <app-room-search [searchCriteria]="searchCriteria" (searchEvent)="searchEventHandler($event)" [stores]="stores"
        [filteredStores]="filteredStores" *ngIf="!storeId"></app-room-search>
      <div fxLayout="row wrap" class="col-gap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
          *ngIf="roomList.roomStoreVOs && roomList.roomStoreVOs.length >= 0">
          <mat-toolbar color="primary" [ngStyle]="height" class="section-title-toolbar">
            <mat-toolbar-row>
              <div fxLayoutAlign="space-between" class="w-100 toolbar-title">
                <div fxShow="false" fxShow.gt-xs Flex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
                  <mat-form-field appearance="fill">
                    <mat-select [(value)]="count" color="accent" style="text-align: right;">
                      <mat-option [value]="count" *ngFor="let count of counts" (click)="changeCount(count)">
                        {{count}} {{'COMMON.PER_PAGE'|translate}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="block-title" Flex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label> {{'COMMON.SORTED_BY' | translate}}</mat-label>
                    <mat-select [(ngModel)]="sortSelect" name="sortSelect" (selectionChange)="sortSelected($event)">
                      <mat-option [value]="1">
                        {{'COMMON.LOWEST_PRICE'|translate}}
                      </mat-option>
                      <mat-option [value]="2">
                        {{'COMMON.HIGHEST_PRICE'|translate}}
                      </mat-option>
                      <mat-option [value]="3">
                        {{'COMMON.RATING'|translate}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
          <div fxLayout="row wrap" *ngIf="!roomList.roomStoreVOs || roomList.roomStoreVOs.length===0">
            <div fxFlex="100" class="px-2 pb-2 pt-0">
              <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                {{'MESSAGE.NO_PRODUCT_FOUND'|translate}}
              </mat-chip>
            </div>
          </div>
          <div fxLayout="row wrap" *ngIf="roomList.roomStoreVOs && roomList.roomStoreVOs.length>0">
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3" *ngIf="dataSource">
              <embryo-RoomGrid [currency]="appService?.currency" [roomStores]="dataSource.filteredData"
                [searchCriteria]="searchCritCopy" [viewType]="viewType" [viewCol]="viewCol" [fromPage]="'buy'"
                (addToWishList)="addToWishList($event)" gridThree="true">
              </embryo-RoomGrid>
            </div>
          </div>
          <mat-paginator *ngIf="roomList.roomStoreVOs && roomList.roomStoreVOs.length>0" [length]="pagination?.total"
            [pageSize]="pagination?.perPage" (page)="onPageChange($event)" class="w-100 mat-elevation-z1">
          </mat-paginator>
        </div>
      </div>
      <mat-toolbar color="primary" style="height:175px" class="section-title-toolbar">
        <mat-toolbar-row>
          <div fxLayoutAlign="space-between" class="w-100 toolbar-title">
            <div class="block-title">
              <h2 class="text-inverse mb-0 text-xxl">
                {{topPropertiesLabel}}
              </h2>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="shop-card-gap px-4">
        <div fxLayout="row wrap" class="col-gap">
          <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25"
            *ngFor="let bdg of buildings">
            <a [routerLink]="['/rooms/detail/']" [queryParams]="{storeId: (isHotel(bdg) ? bdg.storeId: 0), 
                  bdgId: (isHotel(bdg) ? 0: bdg.buildingId), rooms: searchCritCopy.rooms, 
                  adults: searchCritCopy.adults, days: searchCritCopy.days,
                  children: searchCritCopy.children, checkinDate: searchCritCopy.checkinDate | date: 'yyyy-MM-dd', 
                  checkoutDate: searchCritCopy.checkoutDate | date: 'yyyy-MM-dd'}">
              <mat-card class="box-shadow-md p-4">
                <img style="max-height: 100px!important; width:100%!important;" *ngIf="bdg.buildingType !== 1"
                  [src]="'assets/images/buildings/' + bdg.buildingId + '/' + bdg.image" alt="Boutique">
                <img style="max-height: 100px!important; width:100%!important;" *ngIf="bdg.buildingType === 1"
                  [src]="'assets/images/stores/' + bdg.storeId + '/' + bdg.image" alt="Boutique">
                <mat-card-content class="pt-3">
                  <h5> <strong> {{bdg.buildingName}}</strong></h5>
                  <font color="#FF5722"><strong>{{bdg.city}}<span *ngIf="bdg.district">({{bdg.district}})</span>, {{bdg.countryName}}</strong> </font><br/>
                  <font color="#0000FF">{{appService.getBuildingTypeLabel(bdg.buildingType)}}</font>
                </mat-card-content>
              </mat-card>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <app-Reviews *ngIf="store?.id > 0" [reviewType]="'store'" [details]="store"></app-Reviews>
</div>