<div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap" *ngIf="products && products.length > 0">
   <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="{{viewCol}}" fxFlex.lg="{{viewCol}}" fxFlex.xl="{{viewCol}}"
      *ngFor="let prd of products; let i=index; trackBy: trackByObjectID">

      <embryo-ShopDetails [currency]="currency" [detailData]="prd" [fromPage]="fromPage" *ngIf="viewType==='list'"
         (selectProduct)="selectForSaleProduct(prd)">
      </embryo-ShopDetails>

      <!-- Multiple show products grid -->
      <mat-card class="product-card" *ngIf="viewType==='grid'">
         <a class="p-link" *ngIf="prd.product?.id && fromPage!=='sell'"
            [routerLink]="['/products/dtl/'+prd.product?.id+(prd.product?.ptsId?'/'+prd.product?.ptsId:'')]">
            <img width="626" height="800" mat-card-image
               [src]="'assets/images/products/'+prd.product.id+'/'+prd.product?.image" alt="Photo">
         </a>

         <a class="p-link" *ngIf="prd.product?.id && fromPage==='sell'" style="cursor:pointer;"
            (click)="selectForSaleProduct(prd)">
            <img width="626" height="800" mat-card-image
               [src]="'assets/images/products/'+prd.product.id+'/'+prd.product?.image" alt="Photo">
         </a>

         <a class="p-link" *ngIf="!prd.product?.id" [routerLink]="['/products/accessories/17']">
            <img width="626" height="800" mat-card-image
               [src]="'assets/images/products/'+prd.product.id+'/'+prd.product?.image"
               [ngClass]="{ transparent: !loaded }" (load)="onLoad()" alt="Photo">
         </a>
         <div class="wishlist-icon {{i}}-wishlist" id="{{i}}-wishlist" *ngIf="fromPage==='buy'">
            <a (click)="productAddToWishlist(prd, i+'-wishlist')"><i class="material-icons"> favorite </i></a>
         </div>
         <mat-card-content class="product-content relative">
            <h5><a *ngIf="prd.product?.id && fromPage!=='sell'"
                  [routerLink]="['/products/dtl/'+prd.product?.id+(prd.product?.ptsId?'/'+prd.product?.ptsId:'')]"
                  class="title-link">{{prd?.name}}</a>

               <a *ngIf="prd.product?.id && fromPage==='sell'" style="cursor:pointer;" 
                  (click)="selectForSaleProduct(prd)" class="title-link">{{prd?.name}}</a>

            </h5>


            <h5><a *ngIf="!prd.product?.id" [routerLink]="['/products/accessories/17']"
                  class="title-link">{{prd?.name}}</a> </h5>
            <div>
               <div fxFlex fxLayoutAlign="space-between">
                  <h6 class="accent-color">{{prd.product.symbolLeft}} {{prd.product?.price}} {{prd.product.symbolRight}}
                  </h6>
                  <div class="rating-star">
                     <embryo-Rating [rate]="prd.product.rating"></embryo-Rating>
                  </div>
               </div>
            </div>
            <div class="m-icon" *ngIf="fromPage==='buy'">
               <embryo-AddToCardButton [product]="prd" (addToCart)="addToCartProduct($event)">
               </embryo-AddToCardButton>
            </div>
            <div class="m-icon" *ngIf="fromPage==='sell'">
               <ng-container *ngIf="prd">
                  <button mat-fab (click)="selectForSaleProduct(prd)"><i class="material-icons"> check_box
                     </i></button>
               </ng-container>
            </div>
            <div class="m-icon" *ngIf="fromPage==='marketing'">
               <ng-container *ngIf="prd">
                  <button mat-fab (click)="removeProductFromList(prd)"><i class="material-icons"> delete_sweep
                     </i></button>
               </ng-container>
            </div>
            <!--
            <div class="m-icon" *ngIf="!checkCartAlready(prd.product)">
               <button mat-fab *ngIf="prd.product?.id" [routerLink]="['/products', prd.product?.id]"><i
                     class="material-icons">remove_red_eye</i> </button>
               <button mat-fab *ngIf="!prd.product?.id" [routerLink]="['/products/accessories/17']"><i
                     class="material-icons">remove_red_eye</i> </button>
            </div>
            -->
         </mat-card-content>
      </mat-card>
   </div>
</div>