<div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap" *ngIf="products && products.length > 0">
   <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="{{viewCol}}" fxFlex.lg="{{viewCol}}" fxFlex.xl="{{viewCol}}"
      *ngFor="let prd of products; let i=index; trackBy: trackByObjectID">

      <embryo-ShopDetails [currency]="currency" [detailData]="prd" [fromPage]="fromPage" *ngIf="viewType==='list'"
         (selectProduct)="selectForSaleProduct(prd)">
      </embryo-ShopDetails>

      <!-- Multiple show products grid -->
      <mat-card class="product-card" *ngIf="viewType==='grid'">
         <div style="text-align: center; width: 100%!important; box-sizing: border-box;">
            <a class="p-link" *ngIf="prd.product?.id && fromPage!=='sell'"
               [routerLink]="['/products/dtl/'+prd.product?.id+(prd.product?.ptsId?'/'+prd.product?.ptsId:'')]">
               <img mat-card-image
                  [src]="'assets/images/products/'+(prd.product?.image?(prd.product.id+'/'+prd.product?.image):'default.png')"
                  alt="Photo">
            </a>

            <a class="p-link" *ngIf="prd.product?.id && fromPage==='sell'" style="cursor:pointer;"
               (click)="selectForSaleProduct(prd)">
               <img mat-card-image
                  [src]="'assets/images/products/'+(prd.product?.image?(prd.product.id+'/'+prd.product?.image):'default.png')"
                  alt="Photo">
            </a>

            <a class="p-link" *ngIf="!prd.product?.id" [routerLink]="['/products/accessories/17']">
               <img mat-card-image
                  [src]="'assets/images/products/'+(prd.product?.image?(prd.product.id+'/'+prd.product?.image):'default.png')"
                  [ngClass]="{ transparent: !loaded }" (load)="onLoad()" alt="Photo">
            </a>
         </div>
         <div class="rating-star">
            <embryo-Rating [rate]="prd.product.rating"></embryo-Rating>
         </div>
         <div class="wishlist-icon {{i}}-wishlist" id="{{i}}-wishlist" *ngIf="fromPage==='buy'">
            <a (click)="productAddToWishlist(prd, i+'-wishlist')"><i class="material-icons"> favorite </i></a>
         </div>
         <mat-card-content class="product-content relative">
            <h5><a *ngIf="prd.product?.id && fromPage!=='sell'"
                  [routerLink]="['/products/dtl/'+prd.product?.id+(prd.product?.ptsId?'/'+prd.product?.ptsId:'')]"
                  class="title-link">{{prd?.name}}</a>

               <a *ngIf="prd.product?.id && fromPage==='sell'" style="cursor:pointer;"
                  (click)="selectForSaleProduct(prd)" class="title-link">{{prd?.name}}</a>

            </h5>
            <h5 *ngIf="!prd.product?.id"><a [routerLink]="['/products/accessories/17']"
                  class="title-link">{{prd?.name}}</a> </h5>

            <h6 class="danger-color" *ngIf="fromPage==='sell' && prd.product.quantity<=0">

               <font style="color: red;">
                  {{'COMMON.OUT_OF_STOCK'|translate}}: {{prd.product.quantity}}
               </font>
            </h6>

            <h6 class="accent-color"
               *ngIf="fromPage==='sell' && prd.product.quantity>0 && prd.product.quantity<prd.product.minimum">
               {{'COMMON.LOW_STOCK'|translate}}: {{prd.product.quantity}}
            </h6>

            <h6 class="success-color" *ngIf="fromPage==='sell'&& prd.product.quantity>prd.product.minimum">
               <font style="color: green;">
                  Stock: {{prd.product.quantity}}
               </font>

            </h6>

            <font style="font-style: italic;font-size: 10px;">
               {{'COMMON.SOLD_BY'|translate}}
               <a [routerLink]="['/products']" [queryParams]="{storeId:prd.product.storeId}"
                  routerLinkActive="tab-active">
                  {{prd.product.storeName}}</a>
            </font>
            <div *ngIf="fromPage==='sell'">
               <font style="font-style: italic;font-size: 10px;" >
                  {{'COMMON.CATEGORY'|translate}}:
               </font>
               <font style="font-style: italic;font-size: 10px;font-weight: bold;" >
                  {{prd.category}}
               </font>
            </div>
            <div>
               <div fxFlex fxLayoutAlign="space-between">
                  <h6 class="secondary-color" style="text-decoration: line-through;"
                     *ngIf="prd.product.productDiscountPercentage > 0">
                     {{prd.product.symbolLeft}}
                     {{prd.product?.price | number: '1.' + prd.product.currencyDecimalPlace + '-'  
                        + prd.product.currencyDecimalPlace:appService?.appInfoStorage.language.locale}}
                     {{prd.product.symbolRight}}
                  </h6>
                  <h6 class="accent-color" *ngIf="prd.product.productDiscountPercentage > 0">
                     {{prd.product.symbolLeft}}
                     {{prd.product?.percentagePrice | number: '1.' + prd.product.currencyDecimalPlace + '-'  
                        + prd.product.currencyDecimalPlace:appService?.appInfoStorage.language.locale}}
                     {{prd.product.symbolRight}}
                  </h6>
                  <h6 class="accent-color" *ngIf="prd.product.productDiscountPercentage > 0">
                     {{prd.product.productDiscountPercentage}} % OFF
                  </h6>
                  <h6 class="accent-color"
                     *ngIf="prd.product.productDiscountPercentage === undefined || prd.product.productDiscountPercentage <= 0">
                     {{prd.product.symbolLeft}}
                     {{prd.product?.price | number: '1.' + prd.product.currencyDecimalPlace + '-'  
                        + prd.product.currencyDecimalPlace:appService?.appInfoStorage.language.locale}}
                     {{prd.product.symbolRight}}

                  </h6>
                  <h6 class="accent-color" *ngIf="prd.product.productDiscountQuantity > 0 
                  && prd.product.productDiscountPrice > 0">
                     {{'COMMON.BUY'|translate}} {{prd.product.productDiscountQuantity}}
                     {{'COMMON.FOR'|translate}} {{prd.product.symbolLeft}}
                     {{prd.product?.productDiscountPrice | number: '1.' + prd.product.currencyDecimalPlace + '-'  
                        + prd.product.currencyDecimalPlace:appService?.appInfoStorage.language.locale}}
                     {{prd.product.symbolRight}}
                  </h6>
               </div>
            </div>

            <div class="m-icon" *ngIf="fromPage==='buy'">
               <ng-container *ngIf="!(prd.product.quantity>0||prd.product.allowNegInvn==1)">
                  <button mat-fab color="secondary"><i class="material-icons"> production_quantity_limits </i></button>
               </ng-container>

               <embryo-AddToCardButton *ngIf="prd.product.quantity>0||prd.product.allowNegInvn==1" [product]="prd"
                  (addToCart)="addToCartProduct($event)">
               </embryo-AddToCardButton>
            </div>
            <div class="m-icon" *ngIf="fromPage==='sell'">
               <ng-container *ngIf="prd">
                  <button mat-fab (click)="selectForSaleProduct(prd)"><i class="material-icons"> check_box
                     </i></button>
               </ng-container>
            </div>

            <div class="m-icon" *ngIf="fromPage==='marketing'">
               <ng-container *ngIf="prd">
                  <button mat-fab (click)="removeProductFromList(prd)"><i class="material-icons"> delete_sweep
                     </i></button>
               </ng-container>
            </div>

            <div *ngIf="fromPage==='sell'">
               <ng-container *ngIf="prd">
                  <mat-slide-toggle (click)="toggleAvailableOnline(prd)" name="availableOnline"
                     [(ngModel)]="prd.product.availableOnline" class="my-2">
                     {{ 'COMMON.AVAILABLE_ONLINE' | translate }}
                  </mat-slide-toggle>
               </ng-container>
            </div>
         </mat-card-content>
      </mat-card>
   </div>
</div>