.select-group .mat-form-field {
  width: 110px;
}

.table-wrapper h6 {
  color: #efefef;
}

.large-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 100%!important;
  width: auto!important;
  max-height: 350px;
}

.medium-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto!important;
  height: 50%!important;
  max-height: 175px;
}

.small-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
  max-height: 85px;
}

a:hover {
  color: #ff0000;
}

a {
  color: #0066c0;
}

.section-gap {
    padding: 1rem 0;
    padding-top: 1rem;
    padding-right: 0px;
    padding-bottom: 1rem;
    padding-left: 0px;
}
/* .mat-card {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-height: 800px !important;
} */

.mat-card-image {
  width: 100% !important;
  height: auto !important;
  margin: 0px !important;
  max-height: 250px !important;
  vertical-align: middle;
}

.img {
  width: 100% !important;
  height: auto !important;
  margin: 0px !important;
  max-height: 250px !important;
  vertical-align: middle;
}