.select-group .mat-form-field {
	width: 110px;
}

.table-wrapper h6 {
    color: #efefef;
}

.large-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 100%;
  width: auto;
  max-height: 350px;
}

.medium-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 90%;
  // height: auto;
  max-height: 175px;
}

.small-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
  max-height: 85px;
}