<div class="container" *ngIf="roomStore">
  <div class="section-gap pb-0">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80" fxLayoutAlign="center center">
        <h2 style="color: #283593;margin-bottom: 0em;;margin-top: 0em;">{{roomStore.storeName}}</h2>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="20" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
        <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="top right"
          (click)="scroll('info_and_prices')">
          <span style="font-size:12px;" class="mx-1 uppercase">{{'COMMON.RESERVE'|translate}}</span>
        </button>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80" fxLayoutAlign="center center">
        <h5 style="color: #ff5722;margin-bottom: 1.5em;;margin-top: 0em;">
          {{roomStore.address1}} {{roomStore.address2}}
          {{roomStore.cityName}}, {{roomStore.countryName}}
        </h5>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">

      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="30" fxFlex.xl="30">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <img mat-card-image class="medium-image"
            [src]="'assets/images/buildings/'+(firstImage?(roomStore.bldgId+'/'+firstImage):'default.png')" alt="Photo">
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <img mat-card-image class="medium-image"
            [src]="'assets/images/buildings/'+(secondImage?(roomStore.bldgId+'/'+secondImage):'default.png')"
            alt="Photo">
        </div>
      </div>
      <div fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="70" fxFlex.xl="70">
        <img mat-card-image class="large-image" id="thirdImage"
          [src]="'assets/images/buildings/'+(mainImage?(roomStore.bldgId+'/'+mainImage):'default.png')" alt="Photo">
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex.xs="5" fxFlex.sm="5" fxFlex.md="5" fxFlex.lg="5" fxFlex.xl="5">
        <button mat-mini-fab color="warn" (click)="previous()" [disabled]="currentLow === 0"
          matTooltip="{{'COMMON.PREV' | translate}}">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
      <div fxFlex.xs="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" *ngFor="let fn of fiveImages">
        <a class="p-link" *ngIf="roomStore?.id" href="javascript:void(0)"
          (click)="changeImageSrc('assets/images/buildings/'+ roomStore.bldgId + '/' + fn)">
          <img mat-card-image class="small-image"
            (click)="changeImageSrc('assets/images/buildings/'+ roomStore.bldgId + '/' + fn)"
            [src]="'assets/images/buildings/'+ roomStore.bldgId + '/' + fn" alt="Photo">
        </a>

      </div>
      <div fxFlex.xs="5" fxFlex.sm="5" fxFlex.md="5" fxFlex.lg="5" fxFlex.xl="5">
        <button mat-mini-fab color="warn" (click)="next()" [disabled]="currentHigh === filesCopy.length - 1"
          matTooltip="{{'COMMON.NEXT' | translate}}">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <div id="info_and_prices">
      <mat-card style="box-shadow:none!important">
        <app-room-search [searchCriteria]="searchCriteria" [page]="'detail'" (searchEvent)="searchEventHandler($event)">
        </app-room-search>
        <div fxLayout="row wrap" fxLayoutAlign="center center" class="col-gap">
          <h4>{{'COMMON.ROOM_LIST'|translate}}</h4>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center"
          style="background-color:darkgray; color:white!important;">
          <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
            <h5>{{'COMMON.ROOM_TYPE'|translate}}</h5>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
            <h5>{{'COMMON.ROOMS'|translate}}</h5>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15">
            <h5>{{'COMMON.PRICE'|translate}}</h5>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10">
            <h5>{{'COMMON.NIGHTS'|translate}}</h5>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
            <h5>{{'COMMON.TOTAL'|translate}}</h5>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" 
        style="border-bottom-color: aqua;"
          *ngFor="let roomType of roomStore.roomTyeVOs"> 
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
              <h6>{{roomType.roomTypeName}}</h6>
              <span *ngFor="let amenity of roomType.amenities"
                style="color: #008009 !important; font-size: .85em !important; padding-right: 2px !important;">
                <mat-icon>{{amenity.iconCode}}</mat-icon> {{amenity.description}}
              </span>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" [ngStyle]="hasError && appService.selectedRoomStore.total <= 0 ? 
                            {'border-style': 'solid', 'border-width': '1px', 'border-color': 'red'} : ''">
              <mat-select placeholder="{{'COMMON.SELECT'|translate}}" [compareWith]="compareObjects"
                style="width: 100px;" id="currency" name="currency" [(ngModel)]="roomType.nbRooms" #rmtRms="ngModel"
                (selectionChange)="roomChanged();">
                <mat-option [value]="0">
                  <h6>0</h6>
                </mat-option>
                <mat-option *ngFor="let rm of counter(roomType.roomIds.length); let i = index" [value]="i + 1">
                  <h6>{{i + 1}}</h6>
                </mat-option>
              </mat-select>

            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15">
              <h6>
                {{roomStore.symbolLeft}}
                {{+roomType.price | number: '1.' 
                              + roomStore?.currencyDecimalPlace + '-'  
                              + roomStore?.currencyDecimalPlace : appService?.appInfoStorage.language.locale}}
                {{roomStore.symbolRight}}
              </h6>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10">
              <h6>
                {{roomStore.symbolLeft}}
                {{+searchCriteria.days}}
              </h6>
            </div>
    <!--         <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15">
              <h6>
                {{roomStore.symbolLeft}}
                {{+searchCriteria.days * roomType.price * +roomType.nbRooms | number: '1.' 
                              + roomStore?.currencyDecimalPlace + '-'  
                              + roomStore?.currencyDecimalPlace : appService?.appInfoStorage.language.locale}}
                {{roomStore.symbolRight}}
              </h6>
            </div> -->
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
              <div fxLayout="row wrap" *ngIf="appService.selectedRoomStore.nbrRooms > 0">
                {{appService.selectedRoomStore.nbrRooms}} {{'COMMON.ROOMS'|translate}}
                {{'COMMON.FOR'|translate}}
              </div>
              <div fxLayout="row wrap" *ngIf="appService.selectedRoomStore.total > 0">
                <h4>
                  {{roomStore.symbolLeft}}
                  {{appService.selectedRoomStore.total | number: '1.' 
                              + roomStore?.currencyDecimalPlace + '-'  
                              + roomStore?.currencyDecimalPlace : appService?.appInfoStorage.language.locale}}
                  {{roomStore.symbolRight}}
                </h4>
              </div>
              <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center"
                (click)="goToCheckout()">
                <span style="font-size:12px;" class="mx-1 uppercase">{{'COMMON.RESERVE'|translate}}</span>
              </button>
            </div>
 
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center"
          *ngIf="!roomStore || !roomStore.roomTyeVOs || roomStore.roomTyeVOs.length === 0">
          <h5 style="color: #ff5722;"> {{'COMMON.NO_ROOM_AVAILABLE'|translate}}</h5>
        </div>
      </mat-card>
    </div>
  </div>
</div>