<mat-card *ngIf="!(fromPage==='checkout')">
  <div fxLayout="row wrap" *ngIf="fromPage === 'checkout'">
    <h2 style="color: #283593;">{{'COMMON.ADD_PAYMENT_TO_PROCEED'|translate}}</h2>
  </div>
  <div fxLayout="row wrap" *ngIf="!(fromPage === 'checkout')">
    <h2 style="color: #283593;">{{'COMMON.PAYMENT_METHOD'|translate}}s</h2>
  </div>

  <div fxLayout="row wrap" class="col-gap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <app-PaymentCards [paymentType]="'CREDIT_CARD'" [userId]="userId" [deliveryMode]="deliveryMode"
        (changePaymentMethodEvent)="onCardMethodSelected($event)"></app-PaymentCards>
      <div>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button mat-flat-button color="primary">{{'COMMON.ADD_CREDIT_OR_DEBIT_CARD'|translate}}</button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-PaymentCard [userId]="userId" (cardSaveEvent)="onCardSaved($event)"></app-PaymentCard>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <br />
      <app-Tmoneys #TmoneysComponent [paymentType]="'Tmoney'" [userId]="userId" [deliveryMode]="deliveryMode"
        (changePaymentMethodEvent)="onTmoneyMethodSelected($event)"></app-Tmoneys>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button mat-flat-button color="primary">{{'COMMON.ADD_TMONEY'|translate}}</button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-Tmoney #TmoneyComponent [paymentType]="'Tmoney'" [userId]="userId"
            (tmoneySaveEvent)="onTmoneySaved($event)"></app-Tmoney>
        </mat-expansion-panel>
      </mat-accordion>

      <br />
      <app-Tmoneys #FloozsComponent [paymentType]="'Flooz'" [userId]="userId" [deliveryMode]="deliveryMode"
        (changePaymentMethodEvent)="onFloozMethodSelected($event)"></app-Tmoneys>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button mat-flat-button color="primary">{{'COMMON.ADD_FLOOZ'|translate}}</button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-Tmoney #FloozComponent [paymentType]="'Flooz'" [userId]="userId"
            (tmoneySaveEvent)="onFloozSaved($event)"></app-Tmoney>
        </mat-expansion-panel>
      </mat-accordion>

      <br />
      <ng-container matColumnDef="selected" *ngIf="1>2">
        <mat-radio-group [(ngModel)]="paypalMethodStatus">
          <mat-radio-button [value]="1" (click)="changePaymentMethod('PAYPAL')">
            <div>
              <h6>Paypal</h6>
            </div>
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>

    </div>
  </div>
</mat-card>


<div class="container" *ngIf="fromPage==='checkout'">
   <div fxLayout="row wrap" *ngIf="fromPage === 'checkout'">
    <h2 style="color: #283593;">{{'COMMON.ADD_PAYMENT_TO_PROCEED'|translate}}</h2>
  </div>
  <div fxLayout="row wrap" *ngIf="!(fromPage === 'checkout')">
    <h2 style="color: #283593;">{{'COMMON.PAYMENT_METHOD'|translate}}s</h2>
  </div>

  <div fxLayout="row wrap" class="col-gap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <app-PaymentCards [paymentType]="'CREDIT_CARD'" [userId]="userId" [deliveryMode]="deliveryMode"
        (changePaymentMethodEvent)="onCardMethodSelected($event)"></app-PaymentCards>
      <div>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button mat-flat-button color="primary">{{'COMMON.ADD_CREDIT_OR_DEBIT_CARD'|translate}}</button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-PaymentCard [userId]="userId" (cardSaveEvent)="onCardSaved($event)"></app-PaymentCard>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <br />
      <app-Tmoneys #TmoneysComponent [paymentType]="'Tmoney'" [userId]="userId" [deliveryMode]="deliveryMode"
        (changePaymentMethodEvent)="onTmoneyMethodSelected($event)"></app-Tmoneys>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button mat-flat-button color="primary">{{'COMMON.ADD_TMONEY'|translate}}</button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-Tmoney #TmoneyComponent [paymentType]="'Tmoney'" [userId]="userId"
            (tmoneySaveEvent)="onTmoneySaved($event)"></app-Tmoney>
        </mat-expansion-panel>
      </mat-accordion>

      <br />
      <app-Tmoneys #FloozsComponent [paymentType]="'Flooz'" [userId]="userId" [deliveryMode]="deliveryMode"
        (changePaymentMethodEvent)="onFloozMethodSelected($event)"></app-Tmoneys>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button mat-flat-button color="primary">{{'COMMON.ADD_FLOOZ'|translate}}</button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-Tmoney #FloozComponent [paymentType]="'Flooz'" [userId]="userId"
            (tmoneySaveEvent)="onFloozSaved($event)"></app-Tmoney>
        </mat-expansion-panel>
      </mat-accordion>

      <br />
      <ng-container matColumnDef="selected" *ngIf="1>2">
        <mat-radio-group [(ngModel)]="paypalMethodStatus">
          <mat-radio-button [value]="1" (click)="changePaymentMethod('PAYPAL')">
            <div>
              <h6>Paypal</h6>
            </div>
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>

    </div>
  </div>
</div>