<div class="inner-container bg-white section-gap-xs" *ngIf="action === 'cancelling'; else elseBlock">
    <div class="container" >
      <div fxLayout="row wrap" fxLayoutAlign="center center" > 
        
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" *ngIf="order">
          <mat-card>
            <form name="form" (ngSubmit)="f.form.valid && cancel()" #f="ngForm" validate>
              <h5>{{'COMMON.CANCEL_ORDER' | translate}}</h5>

              <div fxLayout="row wrap" class="col-gap" *ngFor="let orderProduct of order.orderProducts">
                <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15"
                  style="text-align: center!important;">

                  <a class="p-link" *ngIf="orderProduct.product.image"
                    [routerLink]="['/products/dtl/'+orderProduct.product.id+ '/'+orderProduct.ptsId]">
                    <img [style.width.px]="40" mat-card-image
                      [src]="'assets/images/products/'+orderProduct.product.id+'/'+orderProduct.product.image"
                      alt="Photo">
                  </a>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="85" fxFlex.md="85" fxFlex.lg="85" fxFlex.xl="85">
                  <a class="p-link"
                    [routerLink]="['/products/dtl/'+orderProduct.product.id+ '/'+orderProduct.ptsId]">
                    {{orderProduct.name}} </a><br />
                  <h6 class="accent-color">
                    {{'COMMON.PRICE'|translate}}:
                    {{order.symbolLeft}}
                    {{ orderProduct.total  | number:'1.0-2'}}
                    {{order.symbolRight}} | {{'COMMON.QTY'|translate}}: {{orderProduct.quantity}}</h6>
                  <font style="font-style: italic;">
                    {{'COMMON.SOLD_BY'|translate}}
                    <a [routerLink]="['/products']" [queryParams]="{storeId:order.storeId}"
                      routerLinkActive="tab-active"> {{order.storeName}}</a>
                  </font>
                  <br />
                </div>
              </div>


              <div fxLayout="row wrap"> 
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                  <mat-form-field class="w-100 mb-3">
                    <mat-label>{{'COMMON.CANCELLATION_REASON'|translate}}</mat-label>
                    <mat-select placeholder="{{'COMMON.CANCELLATION_REASON' | translate}}" [compareWith]="compareObjects" id="cancelReason" 
                      name="cancelReason" [(ngModel)]="cancellationReason" #cancelReason="ngModel">
                      <mat-option *ngFor="let reason of cancellationReasons" [value]="reason">
                        {{reason.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
          
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
                  <div class="text-left mt-2" fxFlex.gt-sm="25" *ngIf="!isAdmin">
                    <button mat-raised-button color="accent" fxLayout="row" fxLayoutAlign="center center" type="submit" *ngIf="order.isCancellable">
                      <span class="mx-1 uppercase">{{'COMMON.CANCEL_ORDER' | translate}}</span>
                      <mat-icon>save</mat-icon>
                    </button> 
                  </div>
                  <div class="text-left mt-2" fxFlex.gt-sm="75" *ngIf="messages">
                    <p><a mat-button color="primary" class="w-100">{{messages}}</a></p>
                  </div>
                  <div class="text-left mt-2" fxFlex.gt-sm="75" *ngIf="errors">
                    <p><a mat-button color="accent" class="w-100">{{errors}}</a></p>
                  </div>
                </div>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>

</div>

<ng-template #elseBlock>
  <div class="section-gap-lg text-center" *ngIf="action === 'cancelled'">
    <mat-card>
      <mat-icon color="accent" class="review-icon"> rate_review</mat-icon>
      <h4> 
        {{messages}}
      </h4>
    </mat-card>
    
    <a href="javascript:void(0)" class="primary-color" [routerLink]="['/']">{{'MESSAGE.GO_SHOPPING'|translate}}</a>
    &nbsp; | &nbsp;
    <a href="javascript:void(0)" class="primary-color"
      [routerLink]="['/account/open-orders']">{{'COMMON.VIEW_OPEN_ORDERS'|translate}}</a>

  </div>
</ng-template>
