<div class="overlay" *ngIf="saving">
  <div class="center">
    <mat-progress-spinner diameter="50" mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="p-1">
    <div class="text-center mt-2" style="color: green; font-size: large;" *ngIf="!hasError && messages">
      <mat-icon>done</mat-icon> {{messages}}
    </div>
    <div class="text-center mt-2" style="color: #ff5722; font-size: large;" *ngIf="hasError && messages">
      <mat-icon>close</mat-icon> {{messages}}
    </div>
  </div>
</div>

<table mat-table [dataSource]="poDtlDatasource" matSort class="w-100">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell width="8%" *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let poDtl"> {{poDtl.id}} </td>
  </ng-container>

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell width="5%" *matHeaderCellDef mat-sort-header> {{'COMMON.IMAGE' | translate}} </th>
    <td mat-cell *matCellDef="let poDtl">
      <img
        [src]="'assets/images/products/'+(poDtl.product?.image?(poDtl.product.id+'/'+poDtl.product?.image):'default.png')"
        [style.width.px]="25" class="d-block">
    </td>
  </ng-container>

  <ng-container matColumnDef="productName">
    <th mat-header-cell width="30%" *matHeaderCellDef mat-sort-header> {{'COMMON.PRODUCT' | translate}}</th>
    <td mat-cell *matCellDef="let poDtl" class="p-1">
      <mat-form-field appearance="outline" class="w-100">
        <input type="text" placeholder="{{'COMMON.SELECT'|translate}}" aria-label="Number" name="currentOption" matInput
          [matAutocomplete]="auto" [(ngModel)]="poDtl.productName" required
          (ngModelChange)="poDtl.isTouched = true; filterOptions(poDtl.productName)">
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          <mat-autocomplete id="option1" #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredProductOptions " (onSelectionChange)="poDtl.isTouched = true; 
                  poDtl.product.id = option.product.id" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-error *ngIf="poDtl.isTouched && !validateSelectedProduct(poDtl)" severity="error">
        {{ 'VALIDATION.FIELD_REQUIRED' | translate }} - {{ 'VALIDATION.PLEASE_SELECT_FROM_DROPDOWN' | translate }}
      </mat-error>
    </td>
  </ng-container>

  <ng-container matColumnDef="ingredientName">
    <th mat-header-cell width="30%" *matHeaderCellDef mat-sort-header> {{'COMMON.INGREDIENT' | translate}}</th>
    <td mat-cell *matCellDef="let poDtl" class="p-1">
      <mat-form-field appearance="outline" class="w-100">
        <input type="text" placeholder="{{'COMMON.SELECT'|translate}}" aria-label="Number" name="currentOption" matInput
          [matAutocomplete]="auto" [(ngModel)]="poDtl.ingredientName" required
          (ngModelChange)="poDtl.isTouched = true; filterIngredientOptions(poDtl.productName)">
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          <mat-autocomplete id="option1" #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredIngredientOptions " (onSelectionChange)="poDtl.isTouched = true; 
                  poDtl.ingredient.id = option.ingredient.id" [value]="option.ingredient.name">
            {{option.ingredient.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-error *ngIf="poDtl.isTouched && !validateSelectedIngredient(poDtl)" severity="error">
        {{ 'VALIDATION.FIELD_REQUIRED' | translate }} - {{ 'VALIDATION.PLEASE_SELECT_FROM_DROPDOWN' | translate }}
      </mat-error>
    </td>
  </ng-container>


  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell width="5%" *matHeaderCellDef mat-sort-header> {{'COMMON.QUANTITY' | translate}} </th>
    <td mat-cell *matCellDef="let poDtl" width="5%">
      <mat-form-field appearance="outline" style="width: 100px">
        <input type="text" aria-label="Number" name="quantity" matInput [(ngModel)]="poDtl.quantity" required
          (ngModelChange)="poDtl.isTouched = true; calculateTotalAmount(poDtl);">
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Unit Price Column -->
  <ng-container matColumnDef="unitPrice">
    <th mat-header-cell width="10%" *matHeaderCellDef mat-sort-header> {{'COMMON.UNIT_PRICE' | translate}} </th>
    <td mat-cell *matCellDef="let poDtl">
      <mat-form-field appearance="outline" style="width: 100%">
        <input type="text" aria-label="Number" name="unitPrice" matInput [(ngModel)]="poDtl.unitAmount" required
          (ngModelChange)="poDtl.isTouched = true; calculateTotalAmount(poDtl);">
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Total Amount Column -->
  <ng-container matColumnDef="totalAmount">
    <th mat-header-cell width="10%" *matHeaderCellDef mat-sort-header> {{'COMMON.TOTAL'|translate}} </th>
    <td mat-cell *matCellDef="let poDtl">
      <mat-form-field appearance="outline" style="width: 100%">
        <input type="text" aria-label="Number" name="totalAmount" matInput [(ngModel)]="poDtl.totalAmount" required
          (ngModelChange)="poDtl.isTouched = true; poDtl.quantity = 1; poDtl.unitAmount = poDtl.totalAmount;">
      </mat-form-field>
    </td>
    <td mat-cell *matCellDef="let poDtl"> {{poDtl.totalAmount}}
    </td>
  </ng-container>

  <!--   Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cellwidth="20%" *matHeaderCellDef> Actions
      <button (click)="addPoDtl()" mat-fab color="primary" matTooltip="{{'COMMON.ADD' | translate}}"
        [disabled]="poHdr.status >=5">
        <mat-icon   class="mat-icon-xlg">add_circle</mat-icon>
    </button>
    </th>
    <td mat-cell *matCellDef="let poDtl; let i = index">
      <button mat-icon-button color="primary" (click)="savePoDtl(poDtl, i)" matTooltip="{{'COMMON.SAVE' | translate}}"
        [disabled]="!poDtl.isTouched || poHdr.status >=5" class="remove">
        <mat-icon>save</mat-icon>
      </button>
      &nbsp;&nbsp;
      <button mat-icon-button color="warn" (click)="removePoDtl(poDtl)" matTooltip="{{'COMMON.DELETE' | translate}}"
        [disabled]="poHdr.status >=5" class="remove">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="poDtlColumns"></tr>
  <tr mat-row *matRowDef="let poDtl; columns: poDtlColumns;">
  </tr>

</table>
<p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">{{'MESSAGE.NO_DATA' | translate}}</p>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>