<div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
    <h1 style="color: #283593;">{{'COMMON.RESERVATION_ID' | translate}} :
      {{reservation.id | number: '3.0'}} </h1>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap" *ngIf="reservationType==='o'">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
    <div class="tile tile-primary">
      <div class="tile-heading">

        <span class="pull-left">
          <mat-icon>cached</mat-icon>
        </span>
        {{reservation.status}}
      </div>
      <div class="tile-body">
        <span class="pull-left">
          <mat-icon>event</mat-icon>
        </span>
        {{reservation.createDate | date: 'MM/dd/yyyy hh:mm:ss'}}
        <br />
        <span class="pull-left">
          <mat-icon>payment</mat-icon>
        </span>
        {{reservation.pymtMethodCode}}
        <br />
        <span class="pull-left">
          <mat-icon>local_shipping</mat-icon>
        </span>
        {{reservation.shippingMethod}}
      </div>
      <div class="tile-footer">
        <span class="pull-left">
          <mat-icon>store</mat-icon>
        </span>
        <a href="{{reservation.storeUrl}}" target="_blank">
          {{reservation.storeName}}
        </a>
      </div>
    </div>
  </div>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
    <div class="tile tile-primary">
      <div class="tile-heading">
        <span class="pull-left">
          <mat-icon>person</mat-icon>
        </span>
        {{'COMMON.CUSTOMER_DETAILS' | translate}}
      </div>
      <div class="tile-body">
        <span class="pull-left">
          <mat-icon>person</mat-icon>
        </span>
        {{reservation.firstName}} {{reservation.lastName}}
        <br />
        <span class="pull-left">
          <mat-icon>email</mat-icon>
        </span>
        {{reservation.email}}
        <br />
        <span class="pull-left">
          <mat-icon>phone</mat-icon>
        </span>
        {{reservation.telephone}}
      </div>
      <div class="tile-footer">
        <span class="pull-left">
          <mat-icon>flag</mat-icon>
        </span>
        {{reservation.paymentCountry}}
      </div>
    </div>
  </div>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
    <div class="tile tile-primary">
      <div class="tile-heading">
        <span class="pull-left">
          <mat-icon>credit_card</mat-icon>
        </span>
        {{'COMMON.PAYMENT_ADDRESS' | translate}}
      </div>
      <div class="tile-body">
        <span class="pull-left">
          <mat-icon>person</mat-icon>
        </span>
        {{reservation.paymentfirstName}} {{reservation.paymentlastName}}
        <br />
        <span class="pull-left">
          <mat-icon>location_on</mat-icon>
        </span>
        {{reservation.paymentAddress1}} {{reservation.paymentAddress2}}
        <br />
        {{reservation.paymentCity}}, {{reservation.paymentZone}} {{reservation.paymentPostcode}}

      </div>
      <div class="tile-footer">
        <span class="pull-left">
          <mat-icon>flag</mat-icon>
        </span>
        {{reservation.paymentCountry}}
      </div>
    </div>
  </div>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
    <div class="tile tile-primary">
      <div class="tile-heading">
        <span class="pull-left">
          <mat-icon>local_shipping</mat-icon>
        </span>
        {{'COMMON.SHIPPING_ADDRESS' | translate}}
      </div>
      <div class="tile-body">
        <span class="pull-left">
          <mat-icon>person</mat-icon>
        </span>
        {{reservation.shippingfirstName}} {{reservation.shippinglastName}}
        <br />
        <span class="pull-left">
          <mat-icon>location_on</mat-icon>
        </span>
        {{reservation.shippingAddress1}} {{reservation.shippingAddress2}}
        <br />
        {{reservation.shippingCity}}, {{reservation.shippingZone}} {{reservation.shippingPostcode}}

      </div>
      <div class="tile-footer">
        <span class="pull-left">
          <mat-icon>flag</mat-icon>
        </span>
        {{reservation.shippingCountry}}
      </div>
    </div>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap" *ngIf="reservationType==='s'">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
    <div class="tile tile-primary">
      <div class="tile-heading">
        <span class="pull-left">
          <mat-icon>shopping_cart</mat-icon>
        </span>
        {{'COMMON.RESERVATION_DETAILS' | translate}}
      </div>
      <div class="tile-body">
        <span class="pull-left">
          <mat-icon>event</mat-icon>
        </span>
        <span>{{'COMMON.ARRIVAL_DATE' | translate}}: {{reservation.beginDate | date: 'MM/dd/yyyy'}}</span>
        <br/>
        <span class="pull-left">
          <mat-icon>event</mat-icon>
        </span>
        <span>{{'COMMON.DEPARTURE_DATE' | translate}}: {{reservation.endDate | date: 'MM/dd/yyyy'}}</span>
        <br />
        <span class="pull-left">
          <mat-icon>emoji_people</mat-icon>
        </span>
        {{'COMMON.CASHIER'|translate}} : {{reservation.cashier}}
        <br />
        <span class="pull-left">
          <mat-icon>event_seat</mat-icon>
        </span>
        {{'COMMON.CUSTOMER'|translate}} : {{reservation.firstName}} {{reservation.lastName}}
        <br/>
        <span class="pull-left">
          <mat-icon>phone</mat-icon>
        </span>
        {{'COMMON.PHONE'|translate}} : {{(reservation.country?'(+'+reservation.country.code+') ':'') + reservation.phone}}
      </div>
      <div class="tile-footer">
        <span class="pull-left">
          <mat-icon>store</mat-icon>
        </span>
        <a href="{{store.url}}" target="_blank">
          {{store.name}}
        </a>
      </div>
    </div>
  </div>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
    <div class="tile tile-primary">
      <div class="tile-heading">
        <span class="pull-left">
          <mat-icon>cached</mat-icon>
        </span>
        <span *ngIf="reservation.status === 1"> {{'COMMON.RESERVED'|translate}}</span>
        <span *ngIf="reservation.status === 2"> {{'COMMON.CONFIRMED'|translate}}</span>
        <span *ngIf="reservation.status === 3"> {{'COMMON.CHECKEDIN'|translate}}</span>
        <span *ngIf="reservation.status === 4"> {{'COMMON.CHECKEDOUT'|translate}}</span>
        <span *ngIf="reservation.status === 99"> {{'COMMON.CANCELLED'|translate}}</span>
      </div>
      <div class="tile-body">

        <span class="pull-left">
          <mat-icon>event</mat-icon>
        </span>
        <span>{{'COMMON.CHECKIN_DATE' | translate}}: {{reservation.checkinDate | date: 'MM/dd/yyyy hh:mm:ss a'}}</span>
        <br/>
        <span class="pull-left">
          <mat-icon>event</mat-icon>
        </span>
        <span>{{'COMMON.CHECKOUT_DATE' | translate}}: {{reservation.checkoutDate | date: 'MM/dd/yyyy hh:mm:ss a'}}</span>
        <br />

        <span class="pull-left">
          <mat-icon>people</mat-icon>
        </span>
        {{'COMMON.NBR_ADULT'|translate}} :
        {{ reservation.nbrAdult }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMMON.NBR_CHILD'|translate}} :
        {{ reservation.nbrChild }}
        <br />

        <span class="pull-left">
          <mat-icon>money_off</mat-icon>
        </span>
        {{'COMMON.REBATE'|translate}} :
        {{store.currency.symbolLeft}}
        {{ reservation.rebate  | number:'1.0-2'}}
        {{store.currency.symbolRight}}
        <br />

        <span class="pull-left">
          <mat-icon>monetization_on</mat-icon>
        </span>
        Total:
        {{store.currency.symbolLeft}}
        {{ reservation.total  | number:'1.0-2'}}
        {{store.currency.symbolRight}}
        <br />
      </div>
      <div class="tile-footer">
        <span class="pull-left">
          <mat-icon>people</mat-icon>
        </span>
        {{reservation.nbrAdult + reservation.nbrChild}}
      </div>
    </div>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap" *ngIf="reservation.comments">
  <pre>{{'COMMON.COMMENTS'|translate}}:   {{reservation.comments}}</pre>
</div>



<div class="table-wrapper" *ngIf="reservationType==='s'">
  <table mat-table [dataSource]="dataSource" matSort class="w-100">
    <!-- Product Column -->

    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef width="45%" mat-sort-header> <h6>{{'COMMON.ROOM' | translate}}</h6> </th>
      <td mat-cell *matCellDef="let resRoom">
        <img *ngIf="resRoom.pic" [src]="'assets/images/roomtypes/'+resRoom.roomTypeId+'/'+resRoom.pic" [style.width.px]="40">
        {{resRoom.buildingName}} - {{resRoom.roomTypeName}} - {{resRoom.roomName}} </td>
      <td mat-footer-cell *matFooterCellDef>
        <h6>{{'COMMON.SUB_TOTAL'|translate}}</h6>
      </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef width="20%" mat-sort-header> <h6>{{'COMMON.UNIT_PRICE' | translate}}</h6> </th>
      <td mat-cell *matCellDef="let resRoom">
        {{store.currency.symbolLeft}}
        {{ resRoom.price?resRoom.price:0 | number:'1.0-2'}}
        {{store.currency.symbolRight}}
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef width="20%" mat-sort-header> <h6>{{'COMMON.TOTAL' | translate}}</h6> </th>
      <td mat-cell *matCellDef="let resRoom">
        {{store.currency.symbolLeft}}
        {{ resRoom.price?resRoom.price:0 | number:'1.0-2'}}
        {{store.currency.symbolRight}} </td>
      <td mat-footer-cell *matFooterCellDef>
        <span class="mobile-value bold">
          {{store.currency.symbolLeft}}
          {{ reservation.price  | number:'1.0-2'}} 
          {{store.currency.symbolRight}}
        </span>
      </td>
    </ng-container>

    <!-- empty footer row-->
    <ng-container matColumnDef="emptyFooter">
      <mat-footer-cell *matFooterCellDef class="mobile-hide"></mat-footer-cell>
    </ng-container>

    <!-- set footer for vat amount-->
    <ng-container matColumnDef="shippingRateTitle">
      <td mat-footer-cell *matFooterCellDef>
        <h6>{{'COMMON.REBATE'|translate}}</h6>
      </td>
    </ng-container>

    <ng-container matColumnDef="emptyFooter1">
      <td mat-footer-cell *matFooterCellDef>
      </td>
    </ng-container>

    <ng-container matColumnDef="emptyFooter2">
      <td mat-footer-cell *matFooterCellDef>
      </td>
    </ng-container>


    <!-- set footer for tax amount-->
    <ng-container matColumnDef="taxes">
      <td mat-footer-cell *matFooterCellDef>
        <h6>Taxes</h6>
      </td>
    </ng-container>

    <ng-container matColumnDef="emptyFooter7">
      <td mat-footer-cell *matFooterCellDef>
      </td>
    </ng-container>

    <ng-container matColumnDef="taxAmount">
      <td mat-footer-cell *matFooterCellDef>
        {{store.currency.symbolLeft}}
        {{reservation.taxFees?reservation.taxFees:0 | number:'1.0-2'}}
        {{store.currency.symbolRight}}
      </td>
    </ng-container>

    <!-- set footer for total amount-->
    <ng-container matColumnDef="totalAmountTitle">
      <td mat-footer-cell *matFooterCellDef>
        <h6>Total</h6>
      </td>
    </ng-container>

    <ng-container matColumnDef="emptyFooter4">
      <td mat-footer-cell *matFooterCellDef>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalAmount">
      <td mat-footer-cell *matFooterCellDef>
        {{store.currency.symbolLeft}}
        {{reservation.total| number:'1.0-2'}}
        {{store.currency.symbolRight}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let order; columns: displayedColumns;"></tr>
    <tr mat-footer-row class="sticky-footer" *matFooterRowDef="displayedColumns"></tr>
    <tr mat-footer-row class="sticky-footer" *matFooterRowDef="displayedTaxesColumns"></tr>
    <tr mat-footer-row class="sticky-footer" *matFooterRowDef="displayedTotalColumns"></tr>
  </table>
  <mat-paginator #MatPaginatorS [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

</div>




<mat-tab-group>
  <mat-tab label="{{'COMMON.RESERVATION_HISTORY' | translate}}" *ngIf="reservation.id > 0">
    <app-reservation-history [reservation]="reservation" [storeOwnerId]="store.owner.id" [reservationType]="reservationType"></app-reservation-history>
  </mat-tab>
  <mat-tab label="{{'COMMON.ADDITIONAL' | translate}}" *ngIf="reservation.id > 0 && canEdit">
    <span class="pull-left">
      <mat-icon>public</mat-icon>
    </span>
    {{'COMMON.IP_ADDRESS' | translate}} : {{reservation.ip}}
    <br />
    <span class="pull-left">
      <mat-icon>language</mat-icon>
    </span> 
    {{'COMMON.LANGUAGE' | translate}} : {{reservation.acceptLanguage}}
    <br />
    <span class="pull-left">
      <mat-icon>web</mat-icon> 
    </span>
    {{'COMMON.USER_AGENT' | translate}} : {{reservation.userAgent}}
  </mat-tab>
</mat-tab-group>